<!--=== Image Block ===-->

<section class="p-3" style="border-bottom: 1px solid #eee" data-id="7b09c437">
  <div class="container-Term" data-id="bf78ff71">
    <div class="d-flex justify-content-start align-items-center" data-id="1de033b4">
      <a class="color-grey-800" [routerLink]="['']" data-id="34af9c46">
        <mat-icon data-id="6f924d74"> arrow_back </mat-icon>
      </a>

      <h1 class="mat-headline-6 mb-0 color-grey-800 uppercase ml-2" data-id="fd087f72">
        {{ 'PROTECCIÓN AL CONSUMIDOR' | translate }}
      </h1>
    </div>
  </div>
</section>
<div
  class="ck-content container-Term py-4"
  [innerHTML]="text | parseLang: language | safeHtml"
  data-id="d79ed18d"
></div>
