@import 'app';
@import 'scss/mixins/breakpoints';

$topbar: $theme-main-dark;

app-my-account {
  .section-title {
    font-size: 22px;
  }

  mat-checkbox span {
    font-size: 13px;
  }

  mat-checkbox a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

  //.toggle-button{
  //
  //}

  .section-sub-title {
    color: #666666;
    line-height: 15px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 16px;
  }

  .rc-anchor-normal {
    height: 84px !important;
    width: 320px !important;
  }

  .container {
    @include media-breakpoint('xs') {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  #loadingSpinnerData {
    position: absolute !important;
    left: 45% !important;
    top: 45% !important;
  }

  .FormLayout {
    // max-height: 60vh !important;
    overflow: auto;
    padding: 16px 32px;

    @include media-breakpoint('lt-md') {
      padding: 16px 16px !important;
    }
  }

  .login-logo {
    height: 50px;
    // width: 100px;
    // object-fit: cover;
    // border-radius: 50%;
    // object-fit: cover;
    // object-position: center;
  }

  #phone.mat-form-field-appearance-outline {
    .mat-form-field-prefix {
      top: 0 !important;
    }

    .mat-input-element {
      font: caption;
    }
  }

  .span-link {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }

  .span-link:hover {
    background-color: #f5f5f5;
  }

  .example-full-width {
    width: 100%;
  }

  #BackRow {
    position: absolute !important;
    left: 15px !important;
    top: 20px !important;
  }

  .MsgFinal {
    min-height: 120px;
    border-radius: 8px;
    border: 1px solid #323232;
    box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  @media only screen and (max-width: 480px) {
    .dialog-title {
      width: 100%;
    }

    .title-login {
      margin-top: 20px;
      font-size: 18px;
      width: 70%;
      text-align: center;
    }
  }

  .hidden {
    display: none;
  }

  .mat-expansion-panel-header {
    height: 78px !important;
  }

  .icon-panel-header {
    background-color: $topbar;
    color: white;
    border-radius: 50%;
  }

  .shared-offer {
    color: $theme-main;
  }

  #CardLogin {
    padding: 0px !important;
    background-color: $theme-main;
    padding-top: 8px;
    padding-bottom: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 30rem !important;

    #CardBodyLoggin {
      width: 96%;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
      margin-bottom: 16px;
      min-height: 400px;
      z-index: 64;
      background-color: #ffffff !important;
    }

    .RegisterBtn {
      width: 310px !important;
    }
  }
}

.transpilerClass-fxFlex-7c433e {
  flex: 1 1 50%;
}

.transpilerClass-fxFlex-dae86a {
  flex: 1 1 50%;
}

.transpilerClass-fxFlex-0bc87d {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-84979a {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-c22a70 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-3ac321 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-d5d8ce {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-16e676 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-757ceb {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-872d6b {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-7f1f0d {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-dffdf8 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-fb7d36 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-d9305e {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-acedd6 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-3991ce {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-4926e1 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-32ba89 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-92cb3f {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-312708 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-71534d {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-4bb2ed {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-5d5ce5 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-cd6f89 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-0d69df {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-d18ce8 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-a2429e {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-fac33b {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-bfe4d7 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-ada0ce {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-cadba4 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-bf3d03 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-96f0de {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-134064 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-a07950 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-58e173 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-45dcea {
  flex: 1 1 28%;
}

.transpilerClass-fxFlex-525f6b {
  flex: 1 1 70%;
}

.transpilerClass-fxFlex-4126c8 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-34fe37 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-8a192f {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-d2f3de {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-eb41c8 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-375d5f {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-863628 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-d96314 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-b5d7d1 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-0164ba {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-c3494f {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-c43642 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-5d3381 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-45fd19 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-ec55bf {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-723266 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-fbe255 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-f214fa {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-0fc852 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-d7017e {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-7571f3 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-ce43d8 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-24d1ef {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-162748 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-fec1f6 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-c6dc2f {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-d9ef4d {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-b68034 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-eddcfd {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-8ac1d2 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-3753d7 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-693c34 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-8b5f2a {
  @include media-breakpoint('lt-md') {
    flex: 1 1 28%;
  }
}

.transpilerClass-fxFlex-84e37a {
  @include media-breakpoint('lt-md') {
    flex: 1 1 70%;
  }
}

.transpilerClass-fxLayoutGap-7df173 {
  gap: 0.3rem;
}

.transpilerClass-fxLayoutGap-6119ae {
  gap: 0.3rem;
}

.transpilerClass-fxLayoutGap-58da23 {
  gap: 8px;
}

.transpilerClass-fxFlex-76993b {
  flex: 1 1 50%;
}

.transpilerClass-fxFlex-8025e2 {
  flex: 1 1 50%;
}

.transpilerClass-fxFlex-e1ce89 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-4c3ce3 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-f38f2c {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-ded1ef {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-5163e8 {
  flex: 1 1 30%;
}

.transpilerClass-fxFlex-bcad6a {
  flex: 1 1 70%;
}

.transpilerClass-fxFlex-0c0263 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-03ead3 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-102ab5 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-a08a8f {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-7913a5 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-22465d {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-bba39e {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-0c25c1 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-77abe1 {
  flex: 1 1 30%;
}

.transpilerClass-fxFlex-558a46 {
  flex: 1 1 68%;
}

.transpilerClass-fxFlex-28470b {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-aa0307 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-7259dc {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-197db7 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-4c6153 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-9d05da {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-6afc72 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-afb767 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-c7c929 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-d68462 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-5ba64d {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-f17c33 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-bc64dc {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-900d74 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-8d8203 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-87e9a2 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-b95238 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-66dcbd {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-bb5ec1 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-5c6eaf {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-082be0 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-206c47 {
  flex: 1 1 28%;
}

.transpilerClass-fxFlex-2870dc {
  flex: 1 1 70%;
}

.transpilerClass-fxFlex-112ebd {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-0948a8 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-677763 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-1eefc5 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-4223c7 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-a4077d {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-3ac9bb {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-b07c85 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-43cc83 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 28%;
  }
}

.transpilerClass-fxFlex-180ff8 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 70%;
  }
}

.transpilerClass-fxFlex-8bef38 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-7203ef {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-460b1c {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-dd62dd {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-b796bc {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-1c9ba8 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-dbf5ba {
  @include media-breakpoint('lt-md') {
    flex: 1 1 28%;
  }
}

.transpilerClass-fxFlex-ed2a58 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-395c34 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-72af78 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-89f9d9 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-bab28e {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-5e9fe0 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-2f018d {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-182a7b {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-522c1b {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-cefdea {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-52b4be {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-56fdb4 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-fce284 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-4d359a {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-f85d5d {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-21d0a2 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-c83eea {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-7f02bb {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-3bf285 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 28%;
  }
}

.transpilerClass-fxFlex-14e5cc {
  @include media-breakpoint('lt-md') {
    flex: 1 1 70%;
  }
}

.transpilerClass-fxLayoutGap-2085bb {
  gap: 8px;
}

.transpilerClass-fxLayoutGap-d1c016 {
  gap: 0.3rem;
}

.transpilerClass-fxLayoutGap-2c5a4f {
  gap: 0.3rem;
}

.transpilerClass-fxLayoutGap-2fde8e {
  gap: 8px;
}
