<mat-dialog-content data-id="322c1892">
  <blockquote data-id="437fe536">
    <p data-id="00a4cd82">
      {{
        'Usted saldrá de nuestro sistema para la pasarela online ENZONA, marque CONFIRMAR para proseguir con su pago online'
          | translate
      }}
    </p>
  </blockquote>
</mat-dialog-content>
<mat-dialog-actions align="end" data-id="da6a462d">
  <button mat-button mat-dialog-close data-id="132e70ca">{{ 'Cancelar' | translate }}</button>
  <a
    (click)="onEnzonaLoad()"
    [disabled]="loading"
    color="primary"
    id="inputsHiddenBid"
    mat-flat-button
    data-id="85811d06"
    >{{ 'CONFIRMAR' | translate }}</a
  >
</mat-dialog-actions>
