<div class="d-flex flex-column justify-content-start align-items-start">
  <h2>{{ 'Introduzca su teléfono' | translate }}</h2>
  <div
    class="w-100 d-flex transpilerClass-fxFlex-98ff6b transpilerClass-fxFlex-d9d04f transpilerClass-fxLayoutGap-b2764d"
    *ngIf="form"
  >
    <guachos-general-autocomplete
      [withoutPaddingBottom]="false"
      [label]="'Código telefónico'"
      [valueId]="true"
      [displayOptions]="callingCodeDisplayOptions"
      [field]="['code']"
      [filterString]="['filter[$and][code][$like]']"
      [url]="phoneCodesService.url"
      [formControl]="form.get('PhoneCallingCodeId')"
      class="transpilerClass-fxFlex-ac1efa transpilerClass-fxFlex-2aecc9"
    ></guachos-general-autocomplete>

    <mat-form-field
      appearance="outline"
      id="phone"
      class="transpilerClass-fxFlex-ea4523 transpilerClass-fxFlex-f85b99"
    >
      <mat-label>{{ 'Teléfono celular' | translate }}</mat-label>
      <!--                      <span class="mr-2" matPrefix>+ 53</span>-->
      <input
        (keypress)="utilsService.keyPressNumbers($event)"
        [formControl]="form.get('phone')"
        matInput
        autocomplete="off"
        placeholder="{{ 'Teléfono...' | translate }}"
      />
      <mat-hint *ngIf="form.get('phone').value && form.get('phone').valid">
        {{ 'Número válido' | translate }}
      </mat-hint>
      <mat-error
        *ngIf="
          (form.controls['phone'].hasError('minlength') ||
            form.controls['phone'].hasError('maxlength')) &&
          !form.controls['phone'].hasError('pattern')
        "
      >
        {{ 'Longitud del número' | translate }}&nbsp;<strong>{{
          '8 caracteres, Ex: 51234567' | translate
        }}</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="w-100 d-flex justify-content-end align-items-end">
    <button mat-raised-button color="primary" [disabled]="validate()" (click)="onSave()">
      {{ 'Guardar' | translate | uppercase }}
    </button>
  </div>
</div>
