<footer class="footer-two py-4" style="position: relative" data-id="c4c6a98f">
  <div class="container" data-id="54f2a57a">
    <div class="footer-one d-flex justify-content-start align-items-start" data-id="d42478d6">
      <div
        class="footer-widget about-widget flex-sh-100 flex-sh-30 flex-sh-xs-initial"
        data-id="602c1dd8"
      >
        <a class="logo" href="index.html" data-id="96582173"
          ><img
            alt="Awesome Image"
            src="/assets/images/logo-footer.png"
            style="height: 200px"
            data-id="001868bd"
        /></a>
      </div>

      <div
        class="footer-widget links-widget links-widget-pac footerItems flex-sh-100 flex-sh-25 flex-sh-xs-initial"
        data-id="a524c14d"
      >
        <div class="row" data-id="e77eb3a0">
          <ul data-id="2ef6ec49">
            <li data-id="4a2c20c7">
              <a
                [routerLink]="['']"
                class="mat-button"
                mat-button
                routerLinkActive=" router-link-active"
                data-id="7d254c86"
              >
                <span class="page-title" data-id="3e41bce2">{{ 'Inicio' | translate }}</span>
              </a>
            </li>
            <li data-id="0b1df67d">
              <a
                [routerLink]="['/products/search']"
                class="mat-button page-title"
                mat-button
                routerLinkActive=" router-link-active"
                data-id="19637b3c"
              >
                <span class="page-title" data-id="6cefef17">{{ 'Productos' | translate }}</span>
              </a>
            </li>
            <li data-id="fd5ba61c">
              <a
                [routerLink]="['/cart']"
                class="mat-button page-title"
                mat-button
                routerLinkActive=" router-link-active"
                data-id="3bd43e92"
              >
                <span class="page-title" data-id="d8d21c7d">{{ 'Carrito' | translate }}</span>
              </a>
            </li>
            <li data-id="9ac517b9">
              <a
                [routerLink]="['/about']"
                class="mat-button"
                mat-button
                routerLinkActive=" router-link-active"
                data-id="e541291d"
              >
                <span class="page-title" data-id="1fac0d5d">{{ 'Quiénes somos' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="footer-widget links-widget links-widget-pac footerItems flex-sh-100 flex-sh-25 flex-sh-xs-initial"
        data-id="1f275146"
      >
        <div class="row" data-id="6c7c7fc6">
          <ul data-id="9d66cbb0">
            <li data-id="786712dd">
              <a
                class="mat-button page-title"
                href="become-a-seller"
                mat-button
                routerLinkActive=" router-link-active"
                data-id="8dbd2389"
              >
                <span class="page-title" data-id="1e2916bf">{{
                  'Conviértete en vendedor' | translate
                }}</span>
              </a>
            </li>
            <!-- <li><a [routerLink]="['/about']" routerLinkActive=" router-link-active" mat-button class="mat-button">
                <span class="page-title">{{'Quienes somos'|translate}}</span>
              </a>
            </li> -->
            <li data-id="54e82c12">
              <a
                [routerLink]="['/blog']"
                class="mat-button"
                mat-button
                routerLinkActive="router-link-active"
                data-id="8129ad7d"
              >
                <span class="page-title" data-id="264bc49d">{{ 'Our blog' | translate }}</span>
              </a>
            </li>
            <li data-id="914b5591">
              <a
                [routerLink]="['/faq']"
                class="mat-button"
                mat-button
                routerLinkActive="router-link-active"
                data-id="192ecf2a"
              >
                <span class="page-title" data-id="8c3c5d63">{{ 'Ayuda' | translate }}</span>
              </a>
            </li>
            <li data-id="f0ca32b0">
              <a
                [routerLink]="['/contact-us']"
                class="mat-button"
                mat-button
                routerLinkActive="router-link-active"
                data-id="aae19378"
              >
                <span class="page-title" data-id="14d4d97a">{{ 'Contact us' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
        <div class="title">
          <h5>{{'Subscribe Newsletter'|translate}}</h5>
        </div>
        <form [formGroup]="form">
          <p>{{'Get latest updates and offers.'|translate}}</p>
          <div fxLayout="column" class="newsletter-widget">
            <input style="padding-left: 20px;padding-right: 20px;" type="email" [formControl]="form.controls['email']"
              placeholder="Enter your email address">
            <button *ngIf="!this.subscribeState" [disabled]="form.invalid" type="submit" (click)="onSubscribetoPublications()"
              class="ped-btn-footer" color="primary">{{'SUBSCRIBE US'|translate}}</button>
            <button *ngIf="this.loggedInUser && this.subscribeState" [disabled]="form.invalid" type="submit"
              style="color:#fff !important;border:1px solid #e64a19;background-color: #f4511e;" (click)="onUnSubscribePublications()"
              class="ped-btn-footer">{{'UNSUBSCRIBE US'|translate}}</button>
          </div>
        </form>
      </div> -->
    </div>
  </div>
  <!-- <span class="mat-caption" style="position: absolute;color: #fff;left: 48%;bottom: 16px;">{{'Powered by J.A. '}}
    &nbsp; &copy;{{'v'+ version}}</span> -->
</footer>

<footer class="footer-two section-2 py-4" style="position: relative" data-id="2aeb4c3e">
  <div class="container" data-id="bd745d44">
    <div
      class="d-flex justify-content-center align-items-center d-xs-flex d-sm-flex justify-content-xs-start justify-content-sm-start align-items-xs-center align-items-sm-center"
      data-id="49ded628"
    >
      <!--<a
        class="item-selector mx-3 my-2"
        fxLayoutAlign="start center"
        mat-button
        [matMenuTriggerFor]="currencyMenu"
        #currencyMenuTrigger="matMenuTrigger"
      >
        <span>{{ currency.name }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
        <span>
          <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
            <span style="color: black">{{ cur.name }}</span>
          </button>
        </span>
      </mat-menu>-->
      <a
        #langMenuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="langMenu"
        class="item-selector mx-3 my-2 d-flex justify-content-start align-items-center"
        mat-button
        data-id="0de0dc22"
      >
        <img [src]="flag.image" width="18" data-id="8be56b5d" />
        <mat-icon data-id="6f62b7a2">arrow_drop_down</mat-icon>
        <span data-id="1390be87">{{ flag.name }}</span>
      </a>
      <mat-menu
        #langMenu="matMenu"
        [overlapTrigger]="false"
        class="app-dropdown"
        xPosition="before"
        data-id="d38269b2"
      >
        <span data-id="0943617e">
          <button
            (click)="changeLang(flag)"
            *ngFor="let flag of flags"
            mat-menu-item
            data-id="f6ff7dc2"
          >
            <img [src]="flag.image" width="18" data-id="a297cde1" /> {{ flag.name }}
          </button>
        </span>
      </mat-menu>
      <a
        [routerLink]="['term-conditions']"
        class="item-selector mx-3 my-2 d-flex justify-content-start align-items-center"
        mat-button
        routerLinkActive=" router-link-active"
        data-id="5d64b911"
      >
        <span data-id="c8b69b83">{{ 'Términos y condiciones' | translate }}</span>
      </a>
      <a
        [routerLink]="['privacy-policy']"
        class="item-selector mx-3 my-2 d-flex justify-content-start align-items-center"
        mat-button
        routerLinkActive=" router-link-active"
        data-id="2ac0b6c1"
      >
        <span data-id="856cc6f4">{{ 'Políticas de privacidad' | translate }}</span>
      </a>
    </div>

    <div
      class="py-3 d-flex justify-content-center align-items-center d-xs-flex d-sm-flex justify-content-xs-start justify-content-sm-start align-items-xs-start align-items-sm-start"
      data-id="4ef65960"
    >
      <!--<span class="mat-body-1 footer-separator">{{ 'address' | translate }}</span> &nbsp;-->
      <span class="mat-body-1 footer-separator" data-id="ae5737ca">
        Copyright {{ year }} © / {{ 'Todos los derechos reservados' | translate }}.
        <span class="mat-body-2 ml-2" data-id="85a0d05e">{{ 'v' | translate }}</span
        >{{ version }}</span
      >
    </div>
  </div>
</footer>
