{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:@angular-eslint/recommended",
    "plugin:@angular-eslint/template/process-inline-templates",
    "plugin:deprecation/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["prettier", "@typescript-eslint", "import", "deprecation"],
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "no-empty": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-cycle": 2,
    "deprecation/deprecation": "error"
  }
}
