// Media step breakpoint mixin based on @guajiritos/layouts library
$breakpoints: (
  xs: 'screen and (max-width: 575.98px)',
  sm: 'screen and (max-width: 767.98px)',
  md: 'screen and (max-width: 991.98px)',
  lg: 'screen and (max-width: 1199.98px)',
  xl: 'screen and (max-width: 1399.98px)',
) !default;

@mixin media-breakpoint($breakpointName) {
  $mediaQuery: map-get($breakpoints, $breakpointName);

  @if ($mediaQuery != null) {
    @media #{$mediaQuery} {
      @content;
    }
  }
}
