<div mat-dialog-content data-id="3ecbe542">
  <div class="p-3 d-flex flex-column justify-content-center align-items-center" data-id="8eb9a820">
    <span class="mb-2" data-id="0a05082b">
      {{ 'Nueva versión del sistema detectada. Se cargará nuevamente la página.' | translate }}
    </span>

    <!--    <span fxLayout="row" class="mb-2">-->
    <!--      {{'La próxima versión será superior a'|translate}}:&nbsp;-->
    <!--      <strong>v{{version}}</strong>-->
    <!--    </span>-->

    <button (click)="onClose()" color="primary" mat-button data-id="28b27b33">
      {{ 'Aceptar' | translate | uppercase }}
    </button>
  </div>
</div>
