<div class="d-flex flex-column">
  <div style="padding-top: 0px; padding-bottom: 4px" class="flex-sh-100">
    <app-notification-item
      (closeModal)="onClosePanel($event)"
      (eliminarNotificacion)="onEliminarNotification($event)"
      (markAsReadNotification)="onMarckAsRead($event)"
      *ngFor="let notification of this.notificationsService.getNotifications()"
      [notificacion]="notification"
    >
    </app-notification-item>
  </div>

  <div class="Paginacion d-flex justify-content-center align-items-center">
    <button
      (click)="onCargarMasNotificaciones()"
      [disabled]="this.notificationsService.getCount() >= this.notificationsService.getTotal()"
      class="CargarMasBtn"
      color="primary"
      mat-button
    >
      <span style="font-weight: 600">{{ 'VER MÁS...' | translate }}</span>
    </button>
  </div>
</div>
