<div class="faq">
  <div class="container">
    <div
      class="p-0 d-flex d-xs-flex flex-column flex-xs-column justify-content-center align-items-start"
    >
      <div class="questions p-0 flex-sh-100 flex-sh-70 flex-sh-sm-initial">
        <h2 class="py-4" style="text-align: center">
          {{ 'Preguntas frecuentes' | translate }}
        </h2>
        <div class="faq-wrap">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of allFaqs; let i = index" class="my-3">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.title | parseLang: lang }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div [innerHtml]="item.text | parseLang: lang | safeHtml" class="ck-content"></div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
