<div
  *ngIf="!create"
  class="d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column d-md-flex flex-md-column"
>
  <img
    *ngIf="!editing"
    [src]="imageSrc"
    [style]="config"
    class="d-flex justify-content-start align-items-start"
  />
  <div class="d-flex flex-column justify-content-center align-items-center">
    <button mat-raised-button *ngIf="!editing" (click)="onEdit(isEdit)" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <!--    <button mat-raised-button *ngIf='isEdit' (click)='onDelete($event)' mat-icon-button><mat-icon>delete</mat-icon></button>-->
  </div>
</div>

<guachos-image-picker
  *ngIf="config && (editing || create)"
  ($imageChanged)="onImageChange($event)"
  [_config]="config"
  class="d-flex justify-content-start align-items-start"
>
</guachos-image-picker>
