<div id="outdated" data-id="aebd5175">
  <div class="container" data-id="85941c93">
    <h1 style="text-align: center" data-id="5355048f">Su aplicación esta desactualizada</h1>
    <div class="d-flex flex-column justify-content-start align-items-center" data-id="1b13d6f5">
      <div class="card d-flex flex-column" data-id="fc63505a">
        <img
          alt="site-need-update"
          class="image-card"
          src="/assets/images/background/web-design-sthelens.jpg"
          data-id="9098f07d"
        />
      </div>
      <p style="margin-top: 24px" data-id="7bca4b10">
        Hemos detectado que la versión de su aplicación no está desactualizada. Constantemente
        actualizamos la aplicación para mejorar su experiencia en el sistema y corregir los errores
        reportados por nuestros usuarios.
      </p>
      <div id="UPP" data-id="d7ab3414">
        <p
          style="font-weight: 600; text-transform: capitalize; text-decoration: underline"
          data-id="e5c8ae45"
        >
          Realize los siguientes pasos para actualizar su sistema
        </p>
        <p style="margin-left: 10px" data-id="78e02744">
          - Presione la combinación de teclas
          <strong data-id="14d4dc6e">CTRL + SHIFT + DELETE</strong>
        </p>
        <p style="margin-left: 10px" data-id="1d70315a">
          - Si su navegador en Chrome precione <strong data-id="a2552197">Borrar datos</strong>
        </p>
        <p style="margin-left: 10px" data-id="51ac3591">
          - Si su navegador en Firefox precione <strong data-id="79275adb">Limpiar ahora</strong>
        </p>
        <p style="margin-left: 10px" data-id="01e9c52d">
          - Por último presione <strong data-id="3ed54492">F5</strong> para refrescar la página
        </p>
      </div>
    </div>
  </div>
</div>
