@import 'scss/mixins/breakpoints';
.container-checkout {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;

  .actions-buttons {
    button {
      width: 150px;
      height: 40px;
    }
  }
}
.billing-details {
  min-width: 600px !important;
  margin: 0 auto;

  @media (max-width: 600px) {
    min-width: 320px !important;
  }

  .mat-form-field {
    width: 100%;
  }

  .add-info {
    margin-top: 15px;
  }
}

.transpilerClass-fxFlex-70fc9a {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-0eddeb {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-902826 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-1597e8 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-6aa84f {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-c09272 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-2f28f4 {
  flex: 1 1 80%;
}

.transpilerClass-fxFlex-d1d0f2 {
  flex: 1 1 20%;
}

.transpilerClass-fxFlex-bf4358 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-d7dd4d {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-641971 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-1dcd13 {
  flex: 1 1 grow;
}

.transpilerClass-fxFlex-ee1f14 {
  @include media-breakpoint('md') {
    flex: 1 1 50%;
  }
}

.transpilerClass-fxFlex-017686 {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-e78b0c {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-ae5db6 {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-b3f3ba {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-94ac99 {
  @include media-breakpoint('md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-f48bd2 {
  @include media-breakpoint('md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-c66d20 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-2dff13 {
  @include media-breakpoint('md') {
    flex: initial;
  }
  flex: 1 1 50%;
}

.transpilerClass-fxFlex-a6a454 {
  @include media-breakpoint('md') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-5e99ca {
  @include media-breakpoint('md') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-9eb952 {
  @include media-breakpoint('md') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-0b296e {
  @include media-breakpoint('md') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxLayoutGap-c95051 {
  gap: 0.5rem;
}

.transpilerClass-fxLayoutGap-56b70b {
  gap: 10px;
}
