<section>
  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-13c029 d-md-block d-none"
  >
    <mat-card
      *ngFor="let item of arrayItems.lg"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
    >
      <div class="template-image">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }"> </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3">
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-134c25 d-md-block d-lg-block d-none"
  >
    <mat-card
      *ngFor="let item of arrayItems.md"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
    >
      <div class="template-image">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }"> </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3">
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-0d5b88 d-sm-block d-md-block d-none"
  >
    <mat-card
      *ngFor="let item of arrayItems.sm"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
    >
      <div class="template-image">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }"> </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3">
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-72a0d8 d-xs-block d-sm-block d-none"
  >
    <mat-card
      *ngFor="let item of arrayItems.xs"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
    >
      <div class="template-image">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }"> </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3">
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start">
          <ngx-skeleton-loader [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>

        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }">
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
