<section data-id="a39dcbdf">
  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-13c029 d-md-block d-none"
    data-id="d688f2cc"
  >
    <mat-card
      *ngFor="let item of arrayItems.lg"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
      data-id="a274d009"
    >
      <div class="template-image" data-id="3b0fa140">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }" data-id="82f041e0">
        </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3" data-id="8decc63c">
        <div class="d-flex justify-content-start align-items-start" data-id="2256705a">
          <ngx-skeleton-loader
            [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }"
            data-id="e4be48a3"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start" data-id="3c82cf6b">
          <ngx-skeleton-loader
            [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }"
            data-id="0985ce32"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center" data-id="5745391a">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="8bef20e9"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center" data-id="0c5d007c">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="a3f3223f"
          >
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate" data-id="9f7f69f0">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
            data-id="417b7466"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-134c25 d-md-block d-lg-block d-none"
    data-id="706bbe49"
  >
    <mat-card
      *ngFor="let item of arrayItems.md"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
      data-id="85cab156"
    >
      <div class="template-image" data-id="f46335bd">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }" data-id="65a40f62">
        </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3" data-id="0940d518">
        <div class="d-flex justify-content-start align-items-start" data-id="7c4c8218">
          <ngx-skeleton-loader
            [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }"
            data-id="5781ccf1"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start" data-id="986f5674">
          <ngx-skeleton-loader
            [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }"
            data-id="be2245f4"
          >
          </ngx-skeleton-loader>
        </div>

        <div class="d-flex justify-content-start align-items-center" data-id="3c01d9fa">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="cd0b95cb"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center" data-id="bd14b794">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="0036dcd0"
          >
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate" data-id="e5b9caa9">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
            data-id="cdf89f1f"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-0d5b88 d-sm-block d-md-block d-none"
    data-id="beceb209"
  >
    <mat-card
      *ngFor="let item of arrayItems.sm"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
      data-id="a7df94d1"
    >
      <div class="template-image" data-id="87131235">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }" data-id="1d5a4cf0">
        </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3" data-id="694f76ab">
        <div class="d-flex justify-content-start align-items-start" data-id="20d0377f">
          <ngx-skeleton-loader
            [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }"
            data-id="fb6d4376"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start" data-id="bd154741">
          <ngx-skeleton-loader
            [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }"
            data-id="503514e7"
          >
          </ngx-skeleton-loader>
        </div>

        <div class="d-flex justify-content-start align-items-center" data-id="3be47eac">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="2f36d148"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center" data-id="a892a5a9">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="dc30f179"
          >
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate" data-id="f23241b5">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
            data-id="8ecefb95"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    class="rowContainer d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-72a0d8 d-xs-block d-sm-block d-none"
    data-id="35461d93"
  >
    <mat-card
      *ngFor="let item of arrayItems.xs"
      class="p-0 flex-sh-100"
      style="
        box-shadow: unset !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px !important;
      "
      data-id="db7a1e1f"
    >
      <div class="template-image" data-id="a0083d07">
        <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }" data-id="e7eaf86a">
        </ngx-skeleton-loader>
      </div>

      <mat-card-content class="p-3" data-id="2f9138df">
        <div class="d-flex justify-content-start align-items-start" data-id="0dd36d34">
          <ngx-skeleton-loader
            [theme]="{ width: '80px', height: '15px', 'border-radius': '0px' }"
            data-id="b36d97b1"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-start" data-id="dd9e628d">
          <ngx-skeleton-loader
            [theme]="{ width: '200px', height: '20px', 'border-radius': '0px' }"
            data-id="e1c0e1c8"
          >
          </ngx-skeleton-loader>
        </div>

        <div class="d-flex justify-content-start align-items-center" data-id="cfdb4bac">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="62ce704e"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-start align-items-center" data-id="81285ab4">
          <ngx-skeleton-loader
            [theme]="{ width: '250px', height: '10px', 'border-radius': '0px' }"
            data-id="4fa85970"
          >
          </ngx-skeleton-loader>
        </div>
        <div id="ImageDIvTemplate" data-id="464b39b6">
          <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              height: '100%',
              'border-radius': '50%',
              'margin-bottom': '0px'
            }"
            data-id="65343197"
          >
          </ngx-skeleton-loader>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
