<!-- ------------------------------------------------------------ -->
<!-- -- Offer promo ---------------------------------------------- -->
<!--<ng-container *ngIf="allBicons.length > 0 && !loadingAllProduct">-->
<!--  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem"-->
<!--       class="text-msg-offer">-->
<!--    <mat-icon>local_offer</mat-icon>-->
<!--    <span>{{'Compra más de 1000 USD y obtenga un descuento del 5%'|translate}}</span>-->
<!--  </div>-->
<!--</ng-container>-->

<!-- ------------------------------------------------------------ -->
<!-- -- Carusel ---------------------------------------------- -->
<app-main-carousel
  *ngIf="!showStatic && slides.length > 0"
  [slides]="slides"
  data-id="67fde67b"
></app-main-carousel>

<div class="container mt-3" data-id="eaebeba8">
  <!-- BANNER TEMPORAL -->
  <!--  <div-->
  <!--    style="-->
  <!--      padding: 16px;-->
  <!--      background-color: darkred;-->
  <!--      color: white !important;-->
  <!--      font-weight: bold;-->
  <!--      width: 91%;-->
  <!--      white-space: normal;-->
  <!--      max-width: 91% !important;-->
  <!--      margin: 0 auto;-->
  <!--    "-->
  <!--  >-->
  <!--    <h1 style="color: white !important">-->
  <!--      Esta tienda online se encuentra en proceso de desarrollo, está trabajando en MODO: Prueba. No están habilitadas-->
  <!--      las compras. Disculpen las molestias-->
  <!--    </h1>-->
  <!--  </div>-->
  <!-- BANNER TEMPORAL -->
  <!-- <app-skeleton-loading-cards
    *ngIf="showStatic"
    [setConfiguration]="{ xs: 1, sm: 1, md: 1, lg: 1 }"
  >
  </app-skeleton-loading-cards> -->
</div>

<div class="home-1-wrap" data-id="eeaab528">
  <div *ngIf="allBicons.length > 0" class="info-bar-four-wrapper" data-id="676ee4d5">
    <div class="container my-4" data-id="3c7c7cfe">
      <div
        class="info-bar-four"
        style="display: flex; flex-wrap: wrap; justify-content: space-around"
        data-id="2f8131fe"
      >
        <div
          *ngFor="let item of allBicons; let i = index"
          class="card-wrap card-promo"
          style="width: auto; flex-grow: 1"
          data-id="b41ccc06"
        >
          <mat-card
            appearance="outlined"
            [ngClass]="{ 'no-bd': i === allBicons.length - 1 }"
            class="light-block pt-0"
            data-id="7e51d3bd"
          >
            <div class="d-flex justify-content-start align-items-center" data-id="eee8fab5">
              <div class="flex-sh-20" data-id="cf55715c">
                <mat-icon class="mat-icon-xlg m-0" data-id="bd8c21d6">{{ item.icon }}</mat-icon>
              </div>
              <div class="content flex-sh-80" data-id="38f333ec">
                <p class="uppercase" data-id="c68d230d">
                  {{ item.title | parseLang: utilsService.getLang() }}
                </p>
                <span class="text-muted m-0 mt-2 word-break" data-id="d05c6b4c">{{
                  item.subTitle | parseLang: utilsService.getLang()
                }}</span>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="arraySectionProducts.length == 0 && !loadingAllProduct && !loadingProducts"
    data-id="e73ada5e"
  >
    <h3 class="mat-headline-6 py-4" style="text-align: center" data-id="76f5e2f3">
      {{ 'No hay ningún producto disponible' | translate }}
    </h3>
  </ng-container>

  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="0.8"
    (scrolled)="loadProducts()"
    data-id="98055dd4"
  >
    <div *ngIf="arraySectionProducts.length >= 0" data-id="05fc5f7c">
      <div
        *ngFor="let card of arraySectionProducts; let i = index; trackBy: identify"
        data-id="b8704d6d"
      >
        <!--BANNER-->
        <div
          class="main-banner"
          *ngIf="card.visualType?.type === 'businessPromotion'"
          data-id="76d5c690"
        >
          <app-banner-promotion
            *ngIf="!breakpointsService.current.md && card?.image"
            [ngClass]="{
              'banner-horizontal': visualizationSections[i] === 'slim',
              'banner-vertical': visualizationSections[i] === 'broad'
            }"
            [_imageBigPromo]="imageUrl + card?.image"
            [_image]="card"
            data-id="fcd8e23a"
          ></app-banner-promotion>
          <app-banner-promotion
            *ngIf="breakpointsService.current.md && card?.imageXs"
            [_imageBigPromo]="imageUrl + card?.imageXs"
            [_image]="card"
            data-id="23ad8769"
          ></app-banner-promotion>
        </div>
        <!--CATEGORIES-->
        <div *ngIf="card.visualType?.type === 'categories'" data-id="e255eef7">
          <div class="container" data-id="f8f0e648">
            <div class="products sec-padding" data-id="8c0133a3">
              <div class="products-four d-block d-xs-none d-sm-none d-md-none" data-id="29a75435">
                <h1 style="color: initial" data-id="b0f986fa">
                  {{ card.name | i18nField: translateService.currentLang }}
                </h1>
                <app-product-carousel
                  *ngIf="card.value"
                  [btnColor]="'accent'"
                  [products]="card.value"
                  data-id="05736451"
                >
                </app-product-carousel>
                <div *ngIf="loadingFeatured" class="my-3" data-id="86c9b0b6">
                  <app-skeleton-loading-cards
                    *ngIf="!card.value"
                    [setConfiguration]="{ xs: 1, sm: 2, md: 3, lg: 4 }"
                    data-id="1fdb4e3c"
                  >
                  </app-skeleton-loading-cards>
                </div>
              </div>
              <div class="d-xs-block d-sm-block d-none d-sm-none d-md-none" data-id="835b8fbf">
                <app-product-grid
                  *ngIf="card.value && card.visualType?.typeVisualization === 'grid'"
                  [products]="card"
                  data-id="fc1a4c21"
                >
                </app-product-grid>
                <div
                  *ngIf="card.value && card.visualType?.typeVisualization === 'carousel'"
                  data-id="268e749f"
                >
                  <h1 style="color: initial" data-id="7976f8f6">
                    {{ card.name | i18nField: translateService.currentLang }}
                  </h1>
                  <app-product-carousel
                    [btnColor]="'accent'"
                    [products]="card.value"
                    data-id="7eab78ef"
                  >
                  </app-product-carousel>
                </div>
                <app-product-list
                  *ngIf="card.value && card.visualType?.typeVisualization === 'list'"
                  [products]="card"
                  data-id="e9215f2f"
                >
                </app-product-list>
              </div>
            </div>
          </div>
        </div>
        <!--DESTACADOS-->
        <!-- <div *ngIf='card.visualType?.type === "featured"'>
          <div class='container'>
            <div class='products sec-padding'>
              <div class='products-four'>
                <h1 style='color: initial'>{{ card.name | i18nField: translateService.currentLang }}</h1>
                <app-product-carousel *ngIf='card.value' [btnColor]="'accent'" [products]='card.value'>
                </app-product-carousel>
                <div *ngIf='loadingFeatured' class='my-3'>
                  <app-skeleton-loading-cards *ngIf='!card.value' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
                  </app-skeleton-loading-cards>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!--SUGERIDOS-->
        <!-- <div *ngIf='card.visualType?.type === "suggested"'>
          <div class='container'>
            <div class='products sec-padding'>
              <div class='products-four'>
                <h1 style='color: initial'>{{ card.name | i18nField: translateService.currentLang }}</h1>
                <app-product-carousel *ngIf='card.value' [btnColor]="'accent'" [products]='card.value'>
                </app-product-carousel>
                <div *ngIf='loadingFeatured' class='my-3'>
                  <app-skeleton-loading-cards *ngIf='!card.value' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
                  </app-skeleton-loading-cards>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <app-skeleton-loading-cards *ngIf='loadingAllProduct' [setConfiguration]='{ xs: 1, sm: 1, md: 1, lg: 1 }'>
    </app-skeleton-loading-cards> -->
  </div>

  <!-- <span *ngIf='loadingProducts' fxLayout='row' fxLayoutAlign='center center' class='mb-3 mt-3'>
    <mat-spinner color='primary' diameter='25' fxLayoutAlign='center center'></mat-spinner>
  </span> -->

  <!-- ---------------------- Big promo --------------------------- -->
  <section *ngIf="allArticles?.length" data-id="8f2ea7a7">
    <div class="featured-products-wrap" data-id="8b00cbe6">
      <div class="container" data-id="996679a4">
        <div class="products sec-padding bg" data-id="63bd7581">
          <div class="products-four" data-id="61192076">
            <h3 class="uppercase" data-id="8d484ff1">{{ 'Latest From Our Blog' | translate }}</h3>
            <section style="padding-top: 26px" data-id="a6cc5299">
              <!-- <app-blog-section></app-blog-section> -->
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ---------------------- APK Promo --------------------------- -->
  <!--  <section id="apk-promo" style="width: 100%; position: relative">-->
  <!--    <img *ngIf="!applyStyle" alt="APK Promo" class="img-apk-promo"-->
  <!--         src="assets/images/mibulevar/apk-promo/desktop2.jpg">-->
  <!--    <img *ngIf="applyStyle" alt="APK Promo" class="img-apk-promo" src="assets/images/mibulevar/apk-promo/movil.jpg">-->

  <!--    <div class="container">-->
  <!--      <div class="wrapper">-->
  <!--        <div class="super-index mb-3">{{ 'Ahorra pasos' | translate }}</div>-->
  <!--        <div class="big-text mb-4">-->
  <!--          {{ 'Todas nuestras ofertas exclusivas a solo un' | translate }}-->
  <!--          <span class="text-inner">click</span> {{ 'en la aplicación' | translate }}-->
  <!--        </div>-->
  <!--        <div class="text-paragraph mb-4">-->
  <!--          {{-->
  <!--            'Descubre las increíbles facilidades de más de 3 millones de usuarios de Transfermóvil.\n' +-->
  <!--            'Descarga la aplicación y disfruta de las opciones que ofrece desde cualquier lugar y en cualquier momento.'-->
  <!--              | translate-->
  <!--          }}-->
  <!--        </div>-->
  <!--        <a-->
  <!--          class="btn-wrapper px-4 py-2"-->
  <!--          fxLayout="row"-->
  <!--          fxLayoutGap="10px"-->
  <!--          href="https://www.apklis.cu/application/cu.etecsa.cubacel.tr.tm"-->
  <!--          target="_blank"-->
  <!--        >-->
  <!--          <img alt="Transfermovil" src="assets/images/mibulevar/apk-promo/transfermovil.png" />-->
  <!--          <div fxLayout="column">-->
  <!--            <div class="first-text">{{ 'Obtenla en' | translate }}</div>-->
  <!--            <div class="second-text">Apklis.cu</div>-->
  <!--          </div>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  </section>-->
</div>
