<!--=== Image Block ===-->
<section class="p-4" style="border-bottom: 1px solid #eee" data-id="c8040ac8">
  <div class="container-Term" data-id="b316d5cf">
    <div class="d-flex justify-content-start align-items-center" data-id="9e5a1170">
      <a [routerLink]="['']" class="color-grey-800" data-id="934b76e3">
        <mat-icon data-id="194dee65"> arrow_back </mat-icon>
      </a>

      <h1 class="mat-title mb-0 color-grey-800 uppercase ml-2" data-id="41868971">
        {{ 'Políticas de privacidad' | translate }}
      </h1>
    </div>
  </div>
</section>
<div
  [innerHTML]="text | parseLang: language | safeHtml"
  class="ck-content container-Term py-4"
  data-id="6738ba64"
></div>
