<!-- <div class="container-image">
  <div class="image-background">
  </div>

  <h1 class="subtitle" style="margin-top: 50px !important;">
    <h1 class="subtitle mt-2">
      La ruta que esta intentando acceder no existe.
    </h1>
  </h1>

  <div class="mt-3" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
    <a class="px-4 py-3" style="min-width: 120px; border-radius: 8px !important;" mat-raised-button color="primary" [routerLink]="[ '/']">
      <mat-icon>
        arrow_back
      </mat-icon>
    </a>
  </div>

</div> -->

<div class="main" data-id="3043096e">
  <div data-id="c3d32c8c">
    <svg viewBox="0 0 1000 355" xmlns="http://www.w3.org/2000/svg" data-id="e81c55d6">
      <g id="ocean" data-id="d1d85f27">
        <path class="st0" d="M0 0h1000v203.1H0z" id="sky" data-id="2206b441"></path>
        <linearGradient
          gradientUnits="userSpaceOnUse"
          id="water_1_"
          x1="500"
          x2="500"
          y1="354"
          y2="200.667"
          data-id="2959c2d5"
        >
          <stop offset="0" stop-color="#fff" data-id="ae5303ec"></stop>
          <stop offset="1" stop-color="#b3dcdf" data-id="f891aa3e"></stop>
        </linearGradient>
        <path d="M0 200.7h1000V354H0z" fill="url(#water_1_)" id="water" data-id="91026b30"></path>
        <path class="st0" d="M0 273.4h1000V354H0z" id="land" data-id="cc093aef"></path>
        <g id="bumps" data-id="6fbd1dd9">
          <path class="st0" d="M0 275.2s83.8-28 180-28 197 28 197 28H0z" data-id="c6b0db82"></path>
          <path
            class="st0"
            d="M377 275.2s54.7-28 117.5-28 128.6 28 128.6 28H377z"
            data-id="8a6b68de"
          ></path>
          <path
            class="st0"
            d="M623.2 275.2s83.7-28 179.9-28 196.9 28 196.9 28H623.2z"
            data-id="6f6877c3"
          ></path>
          <path
            class="st0"
            d="M-998 275.2s83.8-28 180-28 197 28 197 28h-377z"
            data-id="4ed12156"
          ></path>
          <path
            class="st0"
            d="M-621 275.2s54.7-28 117.5-28 128.6 28 128.6 28H-621z"
            data-id="1e562318"
          ></path>
          <path
            class="st0"
            d="M-374.8 275.2s83.7-28 179.9-28S2 275.2 2 275.2h-376.8z"
            data-id="7ff1b0ef"
          ></path>
        </g>
      </g>
      <g id="tracks" data-id="c3336f24">
        <path class="st2" d="M9.8 282.4h-3L0 307.6h3z" data-id="f052d77b"></path>
        <path class="st2" d="M19.8 282.4h-3L10 307.6h3z" data-id="bd5c7acf"></path>
        <path class="st2" d="M29.8 282.4h-3L20 307.6h3z" data-id="0ebfe26c"></path>
        <path class="st2" d="M39.8 282.4h-3L30 307.6h3z" data-id="9a4fe2cd"></path>
        <path class="st2" d="M49.8 282.4h-3L40 307.6h3z" data-id="d7a42e01"></path>
        <path class="st2" d="M59.8 282.4h-3L50 307.6h3z" data-id="2daa2464"></path>
        <path class="st2" d="M69.8 282.4h-3L60 307.6h3z" data-id="100b0980"></path>
        <path class="st2" d="M79.8 282.4h-3L70 307.6h3z" data-id="2fb53a9b"></path>
        <path class="st2" d="M89.8 282.4h-3L80 307.6h3z" data-id="0233ae39"></path>
        <path class="st2" d="M99.8 282.4h-3L90 307.6h3z" data-id="6e536bce"></path>
        <path class="st2" d="M109.8 282.4h-3l-6.8 25.2h3z" data-id="398cf6e5"></path>
        <path class="st2" d="M119.8 282.4h-3l-6.8 25.2h3z" data-id="1c7129f9"></path>
        <path class="st2" d="M129.8 282.4h-3l-6.8 25.2h3z" data-id="9a63d4b2"></path>
        <path class="st2" d="M139.8 282.4h-3l-6.8 25.2h3z" data-id="4d11c6aa"></path>
        <path class="st2" d="M149.8 282.4h-3l-6.8 25.2h3z" data-id="dbe2e534"></path>
        <path class="st2" d="M159.8 282.4h-3l-6.8 25.2h3z" data-id="dbec0c91"></path>
        <path class="st2" d="M169.8 282.4h-3l-6.8 25.2h3z" data-id="38e3352b"></path>
        <path class="st2" d="M179.8 282.4h-3l-6.8 25.2h3z" data-id="4c580c6b"></path>
        <path class="st2" d="M189.8 282.4h-3l-6.8 25.2h3z" data-id="695ee3ec"></path>
        <path class="st2" d="M199.8 282.4h-3l-6.8 25.2h3z" data-id="96174924"></path>
        <path class="st2" d="M209.8 282.4h-3l-6.8 25.2h3z" data-id="c686510d"></path>
        <path class="st2" d="M219.8 282.4h-3l-6.8 25.2h3z" data-id="974ce21f"></path>
        <path class="st2" d="M229.8 282.4h-3l-6.8 25.2h3z" data-id="bf23e7a3"></path>
        <path class="st2" d="M239.8 282.4h-3l-6.8 25.2h3z" data-id="b06b5af0"></path>
        <path class="st2" d="M249.8 282.4h-3l-6.8 25.2h3z" data-id="2c18d837"></path>
        <path class="st2" d="M259.8 282.4h-3l-6.8 25.2h3z" data-id="a911d0f4"></path>
        <path class="st2" d="M269.8 282.4h-3l-6.8 25.2h3z" data-id="de6ecf06"></path>
        <path class="st2" d="M279.8 282.4h-3l-6.8 25.2h3z" data-id="d687c3a8"></path>
        <path class="st2" d="M289.8 282.4h-3l-6.8 25.2h3z" data-id="31f3caf7"></path>
        <path class="st2" d="M299.8 282.4h-3l-6.8 25.2h3z" data-id="cec2c9d7"></path>
        <path class="st2" d="M309.8 282.4h-3l-6.8 25.2h3z" data-id="3be487fb"></path>
        <path class="st2" d="M319.8 282.4h-3l-6.8 25.2h3z" data-id="5066f6e0"></path>
        <path class="st2" d="M329.8 282.4h-3l-6.8 25.2h3z" data-id="f8b455d4"></path>
        <path class="st2" d="M339.8 282.4h-3l-6.8 25.2h3z" data-id="20a35871"></path>
        <path class="st2" d="M349.8 282.4h-3l-6.8 25.2h3z" data-id="b8c4aef5"></path>
        <path class="st2" d="M359.8 282.4h-3l-6.8 25.2h3z" data-id="19e87dc4"></path>
        <path class="st2" d="M369.8 282.4h-3l-6.8 25.2h3z" data-id="b2acb10d"></path>
        <path class="st2" d="M379.8 282.4h-3l-6.8 25.2h3z" data-id="6125ab01"></path>
        <path class="st2" d="M389.8 282.4h-3l-6.8 25.2h3z" data-id="909ff51b"></path>
        <path class="st2" d="M399.8 282.4h-3l-6.8 25.2h3z" data-id="2678a7d6"></path>
        <path class="st2" d="M409.8 282.4h-3l-6.8 25.2h3z" data-id="cc937c3d"></path>
        <path class="st2" d="M419.8 282.4h-3l-6.8 25.2h3z" data-id="039efe4c"></path>
        <path class="st2" d="M429.8 282.4h-3l-6.8 25.2h3z" data-id="6f366bd8"></path>
        <path class="st2" d="M439.8 282.4h-3l-6.8 25.2h3z" data-id="2390bd2d"></path>
        <path class="st2" d="M449.8 282.4h-3l-6.8 25.2h3z" data-id="5c120761"></path>
        <path class="st2" d="M459.8 282.4h-3l-6.8 25.2h3z" data-id="16c5889a"></path>
        <path class="st2" d="M469.8 282.4h-3l-6.8 25.2h3z" data-id="fcffb4ec"></path>
        <path class="st2" d="M479.8 282.4h-3l-6.8 25.2h3z" data-id="fd33577e"></path>
        <path class="st2" d="M489.8 282.4h-3l-6.8 25.2h3z" data-id="ae8a3ded"></path>
        <path class="st2" d="M499.8 282.4h-3l-6.8 25.2h3z" data-id="9b56f572"></path>
        <path class="st2" d="M1000 282.4h-3l-6.8 25.2h3z" data-id="1c4b61b4"></path>
        <path class="st2" d="M990 282.4h-3l-6.8 25.2h3z" data-id="bf937094"></path>
        <path class="st2" d="M980 282.4h-3l-6.8 25.2h3z" data-id="af056d58"></path>
        <path class="st2" d="M970 282.4h-3l-6.8 25.2h3z" data-id="2c5f3791"></path>
        <path class="st2" d="M960 282.4h-3l-6.8 25.2h3z" data-id="fa8334c4"></path>
        <path class="st2" d="M950 282.4h-3l-6.8 25.2h3z" data-id="790ce7cd"></path>
        <path class="st2" d="M940 282.4h-3l-6.8 25.2h3z" data-id="e4fade05"></path>
        <path class="st2" d="M930 282.4h-3l-6.8 25.2h3z" data-id="d6fea51d"></path>
        <path class="st2" d="M920 282.4h-3l-6.8 25.2h3z" data-id="aa205142"></path>
        <path class="st2" d="M910 282.4h-3l-6.8 25.2h3z" data-id="a440ff73"></path>
        <path class="st2" d="M900 282.4h-3l-6.8 25.2h3z" data-id="823ee0d0"></path>
        <path class="st2" d="M890 282.4h-3l-6.8 25.2h3z" data-id="749d782a"></path>
        <path class="st2" d="M880 282.4h-3l-6.8 25.2h3z" data-id="e7e66511"></path>
        <path class="st2" d="M870 282.4h-3l-6.8 25.2h3z" data-id="3a10f02f"></path>
        <path class="st2" d="M860 282.4h-3l-6.8 25.2h3z" data-id="2e40e20f"></path>
        <path class="st2" d="M850 282.4h-3l-6.8 25.2h3z" data-id="bce39b0b"></path>
        <path class="st2" d="M840 282.4h-3l-6.8 25.2h3z" data-id="7efcbb59"></path>
        <path class="st2" d="M830 282.4h-3l-6.8 25.2h3z" data-id="1e5b8f2d"></path>
        <path class="st2" d="M820 282.4h-3l-6.8 25.2h3z" data-id="37331398"></path>
        <path class="st2" d="M810 282.4h-3l-6.8 25.2h3z" data-id="07eb6d28"></path>
        <path class="st2" d="M800 282.4h-3l-6.8 25.2h3z" data-id="946f4051"></path>
        <path class="st2" d="M790 282.4h-3l-6.8 25.2h3z" data-id="c667ffab"></path>
        <path class="st2" d="M780 282.4h-3l-6.8 25.2h3z" data-id="626c9535"></path>
        <path class="st2" d="M770 282.4h-3l-6.8 25.2h3z" data-id="cdd0acfb"></path>
        <path class="st2" d="M760 282.4h-3l-6.8 25.2h3z" data-id="d2475300"></path>
        <path class="st2" d="M750 282.4h-3l-6.8 25.2h3z" data-id="c5af4202"></path>
        <path class="st2" d="M740 282.4h-3l-6.8 25.2h3z" data-id="2c96b005"></path>
        <path class="st2" d="M730 282.4h-3l-6.8 25.2h3z" data-id="3184fba4"></path>
        <path class="st2" d="M720 282.4h-3l-6.8 25.2h3z" data-id="423ec478"></path>
        <path class="st2" d="M710 282.4h-3l-6.8 25.2h3z" data-id="c6beea5b"></path>
        <path class="st2" d="M700 282.4h-3l-6.8 25.2h3z" data-id="f071d6ea"></path>
        <path class="st2" d="M690 282.4h-3l-6.8 25.2h3z" data-id="ad782e81"></path>
        <path class="st2" d="M680 282.4h-3l-6.8 25.2h3z" data-id="985e27ea"></path>
        <path class="st2" d="M670 282.4h-3l-6.8 25.2h3z" data-id="484ad531"></path>
        <path class="st2" d="M660 282.4h-3l-6.8 25.2h3z" data-id="6c8d6ad7"></path>
        <path class="st2" d="M650 282.4h-3l-6.8 25.2h3z" data-id="14124dec"></path>
        <path class="st2" d="M640 282.4h-3l-6.8 25.2h3z" data-id="11f1d03f"></path>
        <path class="st2" d="M630 282.4h-3l-6.8 25.2h3z" data-id="217fafda"></path>
        <path class="st2" d="M620 282.4h-3l-6.8 25.2h3z" data-id="6b0361b7"></path>
        <path class="st2" d="M610 282.4h-3l-6.8 25.2h3z" data-id="bcfe7d07"></path>
        <path class="st2" d="M600 282.4h-3l-6.8 25.2h3z" data-id="427a9d5c"></path>
        <path class="st2" d="M590 282.4h-3l-6.8 25.2h3z" data-id="e0ea0e2b"></path>
        <path class="st2" d="M580 282.4h-3l-6.8 25.2h3z" data-id="ae45b250"></path>
        <path class="st2" d="M570 282.4h-3l-6.8 25.2h3z" data-id="3a799aed"></path>
        <path class="st2" d="M560 282.4h-3l-6.8 25.2h3z" data-id="f64edd95"></path>
        <g data-id="3d63fa5c">
          <path class="st2" d="M-490.2 282.4h-3l-6.8 25.2h3z" data-id="2ef88959"></path>
          <path class="st2" d="M-480.2 282.4h-3l-6.8 25.2h3z" data-id="f1bb2fc6"></path>
          <path class="st2" d="M-470.2 282.4h-3l-6.8 25.2h3z" data-id="739c627f"></path>
          <path class="st2" d="M-460.2 282.4h-3l-6.8 25.2h3z" data-id="4682b5be"></path>
          <path class="st2" d="M-450.2 282.4h-3l-6.8 25.2h3z" data-id="392667b1"></path>
          <path class="st2" d="M-440.2 282.4h-3l-6.8 25.2h3z" data-id="71306b46"></path>
          <path class="st2" d="M-430.2 282.4h-3l-6.8 25.2h3z" data-id="333f228d"></path>
          <path class="st2" d="M-420.2 282.4h-3l-6.8 25.2h3z" data-id="91d36787"></path>
          <path class="st2" d="M-410.2 282.4h-3l-6.8 25.2h3z" data-id="5cf7cb09"></path>
          <path class="st2" d="M-400.2 282.4h-3l-6.8 25.2h3z" data-id="c0e37ce9"></path>
          <path class="st2" d="M-390.2 282.4h-3l-6.8 25.2h3z" data-id="6a8f932b"></path>
          <path class="st2" d="M-380.2 282.4h-3l-6.8 25.2h3z" data-id="ca6182c8"></path>
          <path class="st2" d="M-370.2 282.4h-3l-6.8 25.2h3z" data-id="9f344f73"></path>
          <path class="st2" d="M-360.2 282.4h-3l-6.8 25.2h3z" data-id="31b9ce76"></path>
          <path class="st2" d="M-350.2 282.4h-3l-6.8 25.2h3z" data-id="7154cf19"></path>
          <path class="st2" d="M-340.2 282.4h-3l-6.8 25.2h3z" data-id="c86e80f5"></path>
          <path class="st2" d="M-330.2 282.4h-3l-6.8 25.2h3z" data-id="9b8a4d9f"></path>
          <path class="st2" d="M-320.2 282.4h-3l-6.8 25.2h3z" data-id="be4a2707"></path>
          <path class="st2" d="M-310.2 282.4h-3l-6.8 25.2h3z" data-id="32cbd525"></path>
          <path class="st2" d="M-300.2 282.4h-3l-6.8 25.2h3z" data-id="1d72d583"></path>
          <path class="st2" d="M-290.2 282.4h-3l-6.8 25.2h3z" data-id="8c406465"></path>
          <path class="st2" d="M-280.2 282.4h-3l-6.8 25.2h3z" data-id="ef211421"></path>
          <path class="st2" d="M-270.2 282.4h-3l-6.8 25.2h3z" data-id="9f4b35c9"></path>
          <path class="st2" d="M-260.2 282.4h-3l-6.8 25.2h3z" data-id="c7d6df10"></path>
          <path class="st2" d="M-250.2 282.4h-3l-6.8 25.2h3z" data-id="5b5c6a5a"></path>
          <path class="st2" d="M-240.2 282.4h-3l-6.8 25.2h3z" data-id="5bfd6b7c"></path>
          <path class="st2" d="M-230.2 282.4h-3l-6.8 25.2h3z" data-id="0bf0f611"></path>
          <path class="st2" d="M-220.2 282.4h-3l-6.8 25.2h3z" data-id="ad6e85c1"></path>
          <path class="st2" d="M-210.2 282.4h-3l-6.8 25.2h3z" data-id="1e2f41ca"></path>
          <path class="st2" d="M-200.2 282.4h-3l-6.8 25.2h3z" data-id="1c11dbec"></path>
          <path class="st2" d="M-190.2 282.4h-3l-6.8 25.2h3z" data-id="c5786108"></path>
          <path class="st2" d="M-180.2 282.4h-3l-6.8 25.2h3z" data-id="33b9247d"></path>
          <path class="st2" d="M-170.2 282.4h-3l-6.8 25.2h3z" data-id="4ff02530"></path>
          <path class="st2" d="M-160.2 282.4h-3l-6.8 25.2h3z" data-id="597049c0"></path>
          <path class="st2" d="M-150.2 282.4h-3l-6.8 25.2h3z" data-id="85d1a0d7"></path>
          <path class="st2" d="M-140.2 282.4h-3l-6.8 25.2h3z" data-id="07d99f28"></path>
          <path class="st2" d="M-130.2 282.4h-3l-6.8 25.2h3z" data-id="29bde535"></path>
          <path class="st2" d="M-120.2 282.4h-3l-6.8 25.2h3z" data-id="1e9273cd"></path>
          <path class="st2" d="M-110.2 282.4h-3l-6.8 25.2h3z" data-id="21ac4ab8"></path>
          <path class="st2" d="M-100.2 282.4h-3l-6.8 25.2h3z" data-id="f662c8f1"></path>
          <path class="st2" d="M-90.2 282.4h-3l-6.8 25.2h3z" data-id="19bc376d"></path>
          <path class="st2" d="M-80.2 282.4h-3l-6.8 25.2h3z" data-id="8762040e"></path>
          <path class="st2" d="M-70.2 282.4h-3l-6.8 25.2h3z" data-id="f37b8b92"></path>
          <path class="st2" d="M-60.2 282.4h-3l-6.8 25.2h3z" data-id="e19cfa8b"></path>
          <path class="st2" d="M-50.2 282.4h-3l-6.8 25.2h3z" data-id="a88b65bc"></path>
          <path class="st2" d="M-40.2 282.4h-3l-6.8 25.2h3z" data-id="b48bbac2"></path>
          <path class="st2" d="M-30.2 282.4h-3l-6.8 25.2h3z" data-id="3675b7c5"></path>
          <path class="st2" d="M-20.2 282.4h-3l-6.8 25.2h3z" data-id="fdc2bd1f"></path>
          <path class="st2" d="M-10.2 282.4h-3l-6.8 25.2h3z" data-id="adf9751d"></path>
          <path class="st2" d="M-.2 282.4h-3l-6.8 25.2h3z" data-id="69e12c97"></path>
          <path class="st2" d="M500 282.4h-3l-6.8 25.2h3z" data-id="9cb22973"></path>
          <path class="st2" d="M490 282.4h-3l-6.8 25.2h3z" data-id="7910ce46"></path>
          <path class="st2" d="M480 282.4h-3l-6.8 25.2h3z" data-id="fcb01345"></path>
          <path class="st2" d="M470 282.4h-3l-6.8 25.2h3z" data-id="2dc7fb7b"></path>
          <path class="st2" d="M460 282.4h-3l-6.8 25.2h3z" data-id="6a7f8fd6"></path>
          <path class="st2" d="M450 282.4h-3l-6.8 25.2h3z" data-id="381c7d59"></path>
          <path class="st2" d="M440 282.4h-3l-6.8 25.2h3z" data-id="1b949769"></path>
          <path class="st2" d="M430 282.4h-3l-6.8 25.2h3z" data-id="f2888cad"></path>
          <path class="st2" d="M420 282.4h-3l-6.8 25.2h3z" data-id="8d2a0863"></path>
          <path class="st2" d="M410 282.4h-3l-6.8 25.2h3z" data-id="90d4a7b9"></path>
          <path class="st2" d="M400 282.4h-3l-6.8 25.2h3z" data-id="4eebfaed"></path>
          <path class="st2" d="M390 282.4h-3l-6.8 25.2h3z" data-id="ffbf6d33"></path>
          <path class="st2" d="M380 282.4h-3l-6.8 25.2h3z" data-id="e541c110"></path>
          <path class="st2" d="M370 282.4h-3l-6.8 25.2h3z" data-id="85814cf7"></path>
          <path class="st2" d="M360 282.4h-3l-6.8 25.2h3z" data-id="318f2d6a"></path>
          <path class="st2" d="M350 282.4h-3l-6.8 25.2h3z" data-id="6c1cd911"></path>
          <path class="st2" d="M340 282.4h-3l-6.8 25.2h3z" data-id="f30ce57d"></path>
          <path class="st2" d="M330 282.4h-3l-6.8 25.2h3z" data-id="eab913fa"></path>
          <path class="st2" d="M320 282.4h-3l-6.8 25.2h3z" data-id="f4c2f997"></path>
          <path class="st2" d="M310 282.4h-3l-6.8 25.2h3z" data-id="1852c6f2"></path>
          <path class="st2" d="M300 282.4h-3l-6.8 25.2h3z" data-id="c3361106"></path>
          <path class="st2" d="M290 282.4h-3l-6.8 25.2h3z" data-id="3e2da97c"></path>
          <path class="st2" d="M280 282.4h-3l-6.8 25.2h3z" data-id="87c85424"></path>
          <path class="st2" d="M270 282.4h-3l-6.8 25.2h3z" data-id="712bd8f2"></path>
          <path class="st2" d="M260 282.4h-3l-6.8 25.2h3z" data-id="abe99bd5"></path>
          <path class="st2" d="M250 282.4h-3l-6.8 25.2h3z" data-id="3e3b4f48"></path>
          <path class="st2" d="M240 282.4h-3l-6.8 25.2h3z" data-id="0b8d75bf"></path>
          <path class="st2" d="M230 282.4h-3l-6.8 25.2h3z" data-id="0b639470"></path>
          <path class="st2" d="M220 282.4h-3l-6.8 25.2h3z" data-id="afcb7e9e"></path>
          <path class="st2" d="M210 282.4h-3l-6.8 25.2h3z" data-id="dec0a2ec"></path>
          <path class="st2" d="M200 282.4h-3l-6.8 25.2h3z" data-id="26929bc1"></path>
          <path class="st2" d="M190 282.4h-3l-6.8 25.2h3z" data-id="904f85d1"></path>
          <path class="st2" d="M180 282.4h-3l-6.8 25.2h3z" data-id="3c6133de"></path>
          <path class="st2" d="M170 282.4h-3l-6.8 25.2h3z" data-id="07efd1d1"></path>
          <path class="st2" d="M160 282.4h-3l-6.8 25.2h3z" data-id="38950b70"></path>
          <path class="st2" d="M150 282.4h-3l-6.8 25.2h3z" data-id="caa5eccd"></path>
          <path class="st2" d="M140 282.4h-3l-6.8 25.2h3z" data-id="1a134020"></path>
          <path class="st2" d="M130 282.4h-3l-6.8 25.2h3z" data-id="23aff1c3"></path>
          <path class="st2" d="M120 282.4h-3l-6.8 25.2h3z" data-id="c7a7b847"></path>
          <path class="st2" d="M110 282.4h-3l-6.8 25.2h3z" data-id="94538568"></path>
          <path class="st2" d="M100 282.4h-3l-6.8 25.2h3z" data-id="e57d9b08"></path>
          <path class="st2" d="M90 282.4h-3l-6.8 25.2h3z" data-id="9a2da3cc"></path>
          <path class="st2" d="M80 282.4h-3l-6.8 25.2h3z" data-id="f7219488"></path>
          <path class="st2" d="M70 282.4h-3l-6.8 25.2h3z" data-id="3d50612d"></path>
          <path class="st2" d="M60 282.4h-3l-6.8 25.2h3z" data-id="0560830d"></path>
        </g>
        <path class="st2" d="M550 282.4h-3l-6.8 25.2h3z" data-id="d17f3e97"></path>
        <path class="st2" d="M540 282.4h-3l-6.8 25.2h3z" data-id="80060755"></path>
        <path class="st2" d="M530 282.4h-3l-6.8 25.2h3z" data-id="7612e104"></path>
        <path class="st2" d="M520 282.4h-3l-6.8 25.2h3z" data-id="f95f9a55"></path>
        <path class="st2" d="M510 282.4h-3l-6.8 25.2h3z" data-id="b8b08534"></path>
        <path class="st2" d="M550 282.4h-3l-6.8 25.2h3z" data-id="3d50f3d0"></path>
        <path class="st2" d="M540 282.4h-3l-6.8 25.2h3z" data-id="4f5bc5cd"></path>
        <path class="st2" d="M530 282.4h-3l-6.8 25.2h3z" data-id="3cf4a1de"></path>
        <path class="st2" d="M520 282.4h-3l-6.8 25.2h3z" data-id="cd7bac56"></path>
        <path class="st2" d="M510 282.4h-3l-6.8 25.2h3z" data-id="67ef9cad"></path>
        <path class="st3" d="M-499.5 300.2H1000v5.1H-499.5z" data-id="3a9cf832"></path>
        <path class="st3" d="M-499.5 283.8H1000v2.8H-499.5z" data-id="476c61af"></path>
      </g>
      <g id="cloudsAll" data-id="91f119d0">
        <path
          class="st4"
          d="M19.5 69.7s-21.3.5-25-12.2c0 0-4.3-21.3 16-21.8 0 0-2.1-12.2 12.2-14.9 0 0 15-3.2 21.3 6.9 0 0 3.6-20.7 17.8-22.3 0 0 24-3 26.6 13.1 0 0 .1 9.5-2.8 13.5 0 0 9.5-15 26.5-4.8 0 0 12.1 7.9 7 20.2 0 0 16 4.8 10.1 18.1 0 0-10.2 8.5-17.1-1.1 0 0-5.5 16-32.5 16 0 0-19.1 2.1-27-13.3 0 0 .5 10.1-13.3 10.6-.1 0-20.3 3.2-19.8-8z"
          id="cloud1"
          data-id="0d857752"
        ></path>
        <path
          class="st4"
          d="M836 132s-18.3 2.1-22.2-4.9c0 0-4.9-11.8 12.5-13.8 0 0-2.5-6.8 9.7-9.6 0 0 12.7-3.1 18.7 2.1 0 0 2-12.2 14-14.3 0 0 16.6-3.3 23.7 2.1 0 0 4.8 3.9 2.4 6.5 0 0 3.1-4.8 18.4-.4 0 0 10.9 3.5 7.2 11 0 0 13.8-1.5 9.7 9.5 0 0-4.1 10.8-15.5 4.8 0 0-3.1 5.6-26.4 7.9 0 0-16.3 2.8-24-5.3 0 0 1 5.7-10.8 7.2-.1.1-17.2 3.6-17.4-2.8z"
          id="cloud3"
          data-id="90ea1185"
        ></path>
        <path
          class="st4"
          d="M19.3 159.5s-15.9.6-18.8-5.1c0 0-3.4-9.5 11.7-10.1 0 0-1.7-5.5 9-6.9 0 0 11.2-1.7 16 2.8 0 0 2.5-9.4 13.1-10.3 0 0 17.9-1.8 20 5.4 0 0 .2 4.3-2 6.1 0 0 6.9-6.9 19.8-2.6 0 0 9.1 3.4 5.5 9 0 0 6.5 0 4.5 6.7 0 0-2.6 5.6-9.6 1 0 0-4 7.3-24.2 7.7 0 0-14.2 1.3-20.4-5.5 0 0 .5 4.5-9.8 5 0 .1-15 1.8-14.8-3.2z"
          id="cloud2"
          data-id="441a7f4d"
        ></path>
        <path
          class="st4"
          d="M370.3 109.5s15.9.6 18.8-5.1c0 0 3.4-9.5-11.7-10.1 0 0 1.7-5.5-9-6.9 0 0-11.2-1.7-16 2.8 0 0-2.5-9.4-13.1-10.3 0 0-17.9-1.8-20 5.4 0 0-.2 4.3 2 6.1 0 0-6.9-6.9-19.8-2.6 0 0-9.1 3.4-5.5 9 0 0-12 1.9-7.7 8 0 0 7.5 4 12.8-.2 0 0 4 7.3 24.2 7.7 0 0 14.2 1.3 20.4-5.5 0 0-.5 4.5 9.8 5 0 0 15.1 1.7 14.8-3.3z"
          id="cloud4"
          data-id="5ae65c2e"
        ></path>
        <path
          class="st4"
          d="M511.7 12.4s-21.3-.3-25 7c0 0-4.3 12.2 16 12.5 0 0-2.1 7 12.2 8.6 0 0 15 1.8 21.3-4 0 0 3.6 11.9 17.8 12.8 0 0 19.5 1.6 27-4.4 0 0 5-4.4 2.1-6.7 0 0 4.1 4.4 21.2-1.5 0 0 12.1-4.6 7-11.6 0 0 16-2.8 10.1-10.4 0 0-10.2-4.9-17.1.6 0 0-5.5-9.2-32.5-9.2 0 0-19.1-1.2-27 7.6 0 0 .5-5.8-13.3-6.1-.1.2-20.3-1.6-19.8 4.8z"
          id="cloud5"
          data-id="b2b8c09b"
        ></path>
      </g>
      <g id="train" data-id="8e7e3005">
        <path d="M344.5 248.5h507.2v37.8H344.5z" fill="#b3dcdf" data-id="6381c779"></path>
        <g id="wheels" data-id="df80eb8f">
          <circle class="st6" cx="384.1" cy="285.6" r="15.1" data-id="40cfd0c4"></circle>
          <path
            class="st2"
            d="M384.1 295.7c-5.6 0-10.1-4.5-10.1-10.1s4.5-10.1 10.1-10.1 10.1 4.5 10.1 10.1c0 5.5-4.6 10.1-10.1 10.1z"
            data-id="0f8ba0fb"
          ></path>
          <circle class="st6" cx="416.1" cy="285.6" r="15.1" data-id="13529218"></circle>
          <path
            class="st2"
            d="M416.1 295.7c-5.6 0-10.1-4.5-10.1-10.1s4.5-10.1 10.1-10.1 10.1 4.5 10.1 10.1c0 5.5-4.6 10.1-10.1 10.1z"
            data-id="54dab534"
          ></path>
          <circle class="st6" cx="469.1" cy="285.6" r="15.1" data-id="077df3a9"></circle>
          <path
            class="st2"
            d="M469.1 295.7c-5.6 0-10.1-4.5-10.1-10.1s4.5-10.1 10.1-10.1 10.1 4.5 10.1 10.1c0 5.5-4.6 10.1-10.1 10.1z"
            data-id="10c13263"
          ></path>
          <circle class="st6" cx="734.1" cy="285.6" r="15.1" data-id="9ca592c4"></circle>
          <path
            class="st2"
            d="M734.1 295.7c-5.6 0-10.1-4.5-10.1-10.1s4.5-10.1 10.1-10.1 10.1 4.5 10.1 10.1c0 5.5-4.6 10.1-10.1 10.1z"
            data-id="c7bd2629"
          ></path>
          <circle class="st6" cx="766.1" cy="285.6" r="15.1" data-id="f8fa226a"></circle>
          <path
            class="st2"
            d="M766.1 295.7c-5.6 0-10.1-4.5-10.1-10.1s4.5-10.1 10.1-10.1 10.1 4.5 10.1 10.1c0 5.5-4.6 10.1-10.1 10.1z"
            data-id="6a01da7f"
          ></path>
          <circle class="st6" cx="821.1" cy="285.6" r="15.1" data-id="1f073613"></circle>
          <path
            class="st2"
            d="M821.1 295.7c-5.6 0-10.1-4.5-10.1-10.1s4.5-10.1 10.1-10.1 10.1 4.5 10.1 10.1c0 5.5-4.6 10.1-10.1 10.1z"
            data-id="3b4223e7"
          ></path>
        </g>
        <path class="st7" d="M383.2 285.6h88.1" id="bracefront" data-id="1e5aa9e0"></path>
        <path class="st7" d="M733.2 285.6h88.1" id="braceback" data-id="33146358"></path>
        <g id="car-layers" data-id="80b201d2">
          <path
            class="st8"
            d="M321.8 300.7v-32.4s1.2.7-1.5-2.4v-29.1s3.1-11.6 10.7-21.1c0 0 7.6-12 15.5-17.5h1.3s10.2-4.9 30.9-28h.6s-.9-1.4 0-2.7c0 0 10.1-10.5 21-12.3 0 0 9.4-1.8 20.2-1.8h47.7V151H492v-1.1h10.1v1.1h19v2.2s8.2.9 19.2-4.2c0 0 1.4-1.1 28.8-1.1h291.5v6.8h7.5v2.2s12.2-.6 12.2 9.8V177l-10-.1v57.9s14.9-.5 14.9 10.2c0 0 1 9-14.9 8.9v3.8H719.5s-2.4.1-4.3 3l-15 29s-2.9 5.1-10.8 5.1H504.3s-2.9.1-6.1-5l-13.1-25s-4.5-7.1-11.8-7.1H369v2.4s-3.2 1.3-7.1 8.7L351.4 289s-2.9 6.3-6.9 6.4h-17.8l-4.9 5.3z"
            id="car"
            data-id="0c707d98"
          ></path>
          <path
            class="st8"
            d="M320.3 236.6s1.4-6.8 4.4-11.3c0 0 .1-2.3 23.2-6.3l78-16.6s103.3-21.1 134.9-26.1c0 0 93.3-16 120.5-17.9 0 0 57.6-4.3 100-4.1h88.9v63.4s-10.3 5.4-17.1 5.3c0 0-305.6 4.9-366.3 8.1 0 0-100.3 4.8-119.1 6.8 0-.1-46.6 1.2-47.4-1.3z"
            id="streamline-outine"
            data-id="049bde31"
          ></path>
          <!-- <g id="window-grate">
            <path class="st9" d="M739.5 182.6H854" />
            <path class="st9" d="M739.5 177.6H854" />
            <path class="st9" d="M739.5 172.6H854" />
            <path class="st9" d="M739.5 167.6H854" />
            <path class="st9" d="M739.5 161.4H854v26.1H739.5z" />
          </g> -->
          <path class="st9" d="M320.3 257.8h549.9" data-id="d2a97853"></path>
          <g id="Text" data-id="1a4546dc">
            <!-- <text transform="translate(377.037 230.025)" class="st8 st10" font-size="21">

            </text> -->
            <text
              class="st8 st10"
              font-size="25"
              transform="translate(600 213.994)"
              data-id="c74dc71c"
            >
              {{ 'Resource not found.' | translate }}
            </text>
          </g>
          <g id="ladders" data-id="26d6802b">
            <g id="ladder-f" data-id="6eb41763">
              <path
                class="st8"
                d="M433.8 258.4h17.8v34.8h-17.8z"
                id="front-ladder"
                data-id="123785d7"
              ></path>
              <path class="st9" d="M433.8 281.1h17.7" id="fb-rung" data-id="5fdb0731"></path>
              <path class="st9" d="M433.8 268.6h17.7" id="ft-rung" data-id="e93df165"></path>
            </g>
            <g id="ladder-b" data-id="9c56f1b7">
              <path
                class="st8"
                d="M851.8 257.8h17.8v34.8h-17.8z"
                id="ladder-back"
                data-id="1c736467"
              ></path>
              <path class="st9" d="M851.8 268.6h17.7" id="bt-rung" data-id="0496f585"></path>
              <path class="st9" d="M851.8 281.1h17.7" id="bb-rung" data-id="6f807b5e"></path>
            </g>
          </g>
          <path
            class="st8"
            d="M350.5 196.4s-.4 3.9 15.2 4.3l32.3-30.3s-18.2 1.1-19-.8l-28.5 26.8z"
            id="window-front"
            data-id="02731c0c"
          ></path>
        </g>
      </g>
    </svg>
  </div>
</div>

<h1 class="title404" data-id="3cc1757d">404</h1>

<div class="w-100 d-flex justify-content-center align-items-center" data-id="8239a75a">
  <button
    mat-raised-button
    color="primary"
    style="margin-top: 7rem"
    routerLink="/"
    class="d-flex justify-content-center align-items-center"
    data-id="b31d1407"
  >
    {{ 'Regresar al inicio' | translate }}
  </button>
</div>
