<div class="container-product-details" style="min-height: 80vh !important">
  <!--  <div *ngIf='isLoading' class='loading-shade-full'>-->
  <!--    <mat-spinner *ngIf='isLoading' color='accent'></mat-spinner>-->
  <!--  </div>-->
  <!--  <div *ngIf="isLoading" fxLayout='row' fxLayoutAlign='center center' style='height: 80vh'>-->
  <!--    <mat-spinner *ngIf="isLoading" diameter="60" color="accent"></mat-spinner>-->
  <!--  </div>-->
  <!--  <ngx-spinner *ngIf="isLoading">-->
  <!--    <div fxLayout='row' fxLayoutAlign='center center'>-->
  <!--      <div class='spinner'>-->
  <!--        <div></div>-->
  <!--        <div></div>-->
  <!--        <div></div>-->
  <!--        <div></div>-->
  <!--        <div></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ngx-spinner>-->
  <div
    *ngIf="!this.errorPage && !isLoading"
    class="details-wrapper sec-padding d-flex"
    ngClass.lt-md="pt-3"
  >
    <div class="h-100 d-flex flex-column flex-sh-100 flex-sh-75 flex-sh-sm-initial">
      <div
        class="d-flex d-xs-flex d-sm-flex d-md-flex justify-content-start align-items-start flex-sh-100 flex-sh-100 flex-sh-sm-initial flex-sh-100 flex-sh-md-initial"
      >
        <!--    NAME PRODUCT AND PRICE    -->
        <div
          class="product-right my-0 d-flex flex-column justify-content-start align-items-start d-xs-block d-sm-block d-md-block d-none"
        >
          <div
            class="product-details my-0 d-flex flex-column justify-content-start align-items-start"
          >
            <h1 class="nameProductVariant">
              {{ product?.name[language] ? product?.name[language] : product?.name['es'] }}
            </h1>
            <div *ngIf="product.offerValue && product.status !== 'comingSoon'">
              <h4 class="mb-10">
                <del>{{ product | parsePriceProduct }}</del>
                <span class="offer ml-2">
                  <span class="mx-0 px-0">-</span>
                  <span *ngIf="product.isPercent" class="mx-0 px-0"
                    >{{ product.offerValue }}%
                  </span>
                  <span *ngIf="!product.isPercent" class="mx-0 px-0"
                    >${{ product.offerValue }}</span
                  >
                </span>
              </h4>
              <h3 class="price mb-10">{{ product | parsePriceProduct: 'offert' }}</h3>
            </div>

            <div
              *ngIf="!product.offerValue && product.status !== 'comingSoon'"
              class="d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-841f4c"
            >
              <h3 class="price mb-10">{{ product | parsePriceProduct }}</h3>
            </div>

            <div
              class="d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-e10c48"
            >
              <span class="location-span" *ngIf="appService.businessConfig.showLocationSpanGeneral"
                ><mat-icon>room</mat-icon>&nbsp;<strong>{{
                  product.Business?.Province?.name | parseLang: utilsService.getLang()
                }}</strong>
                {{
                  appService.businessConfig.showLocationSpan
                    ? ', ' + product.Business?.Municipality?.name
                    : ''
                }}</span
              >
            </div>
          </div>
        </div>
        <!--    IMAGES    -->
        <div
          class="d-flex justify-content-center align-items-center flex-sh-100 flex-sh-65 flex-sh-md-initial"
        >
          <mat-card
            class="my-product mat-elevation-z0 d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column d-md-flex flex-md-column d-xs-none d-sm-none d-md-none"
          >
            <!--            <button matTooltip="{{ 'Zoom for a image' | translate }}" id="zoomBtn" mat-icon-button-->
            <!--                    (click)="openZoomViewer()">-->
            <!--              <mat-icon>fullscreen</mat-icon>-->
            <!--            </button>-->
            <button
              (click)="onShareProduct()"
              id="shareBtn"
              mat-icon-button
              matTooltip="{{ 'Compartir en redes sociales' | translate }}"
              class="d-sm-inline d-none"
            >
              <mat-icon>share</mat-icon>
            </button>
            <div
              *ngIf="product?.Images && product?.Images?.length"
              class="p-2 mt-2 d-flex flex-column justify-content-center align-items-center"
            >
              <div
                *ngFor="let image of arrayImages; let i = index"
                (click)="onSelectImage(i)"
                [ngClass]="{
                  'mini-images-container': !image.selected,
                  'mini-images-container-selected': image.selected
                }"
              >
                <img
                  lazyImg
                  [src]="image?.image"
                  onerror="this.onerror=null;this.src='assets/images/noImage.jpg';"
                />
              </div>
            </div>
            <div class="w-100 d-flex justify-content-center align-items-center">
              <ng-container *ngIf="product?.Images && product?.Images.length">
                <ng-container *ngFor="let image of arrayImages; let i = index">
                  <!--                  <img *ngIf="image.selected"-->
                  <!--                       onerror="this.onerror=null;this.src='assets/images/noImage.jpg';" -->
                  <!--                       [src]="image.image" (click)="openZoomViewer()" class="ImageProduct" />-->

                  <lib-ngx-image-zoom
                    (click)="openZoomViewer()"
                    *ngIf="image.selected"
                    [fullImage]="image.image"
                    [magnification]="1"
                    [thumbImage]="image.image"
                    [zoomMode]="'hover'"
                    class="lib-ngx-image-zoom"
                  >
                  </lib-ngx-image-zoom>
                </ng-container>
              </ng-container>
              <img
                lazyImg
                *ngIf="!(product?.Images && product?.Images?.length)"
                src="/assets/images/noImage.jpg"
                alt
                class="ImageProduct"
              />
            </div>
          </mat-card>

          <mat-card
            class="mat-elevation-z0 w-100 d-flex flex-column d-xs-inline d-sm-inline d-md-inline d-none"
          >
            <span *ngIf="product?.justPublished" class="just-published">
              {{ 'NUEVO' | translate }}
            </span>
            <button
              (click)="onShareProduct()"
              id="shareBtn"
              mat-icon-button
              matTooltip="{{ 'Compartir en redes sociales' | translate }}"
              class="d-sm-inline d-none"
            >
              <mat-icon>share</mat-icon>
            </button>
            <div class="d-flex justify-content-center align-items-center">
              <div class="main-slider">
                <swiper-container init="false" id="app-product-details-sm-xs" class="h-100">
                  <swiper-slide
                    *ngFor="let image of arrayImages; let i = index"
                    class="d-flex justify-content-center align-items-center"
                  >
                    <div
                      class="slide-item swiper-lazy d-flex justify-content-center align-items-center"
                    >
                      <div
                        class="container-carrusel d-flex justify-content-center align-items-center"
                      >
                        <img [src]="image.image" class="img-swiper" />
                      </div>
                    </div>
                  </swiper-slide>
                  <div class="swiper-pagination white"></div>
                </swiper-container>
              </div>
              <img
                lazyImg
                *ngIf="!(product?.Images && product?.Images?.length)"
                src="/assets/images/noImage.jpg"
                alt
                class="ImageProduct"
              />
            </div>
          </mat-card>
        </div>
        <!--    VARIANTS    -->
        <div
          *ngIf="!isLoading"
          ngClass.gt-sm="px-3 m-0"
          class="flex-sh-100 flex-sh-md-90 flex-sh-35 flex-sh-md-initial"
        >
          <div class="product-right d-flex flex-column">
            <div class="product-details d-flex flex-column">
              <h1 class="nameProduct d-xs-none d-sm-none d-md-none">
                {{ product.name[language] ? product.name[language] : product.name['es'] }}
              </h1>
              <div
                *ngIf="product.offerValue && product.status !== 'comingSoon'"
                class="d-xs-none d-sm-none d-md-none"
              >
                <h1 class="mb-10">
                  <del>{{ product | parsePriceProduct }}</del>
                  <span class="offer ml-2">
                    <span class="mx-0 px-0">-</span>
                    <span *ngIf="product.isPercent" class="mx-0 px-0"
                      >{{ product.offerValue }}%
                    </span>
                    <span *ngIf="!product.isPercent" class="mx-0 px-0"
                      >${{ product.offerValue }}</span
                    >
                  </span>
                </h1>
                <h3 class="price mb-10">{{ product | parsePriceProduct: 'offert' }}</h3>
              </div>

              <div
                *ngIf="!product.offerValue && product.status !== 'comingSoon'"
                class="d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-0d90b8 d-xs-none d-sm-none d-md-none"
              >
                <h3 class="price mb-10">{{ product | parsePriceProduct }}</h3>
              </div>

              <div
                class="d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-51a35a d-xs-none d-sm-none d-md-none"
              >
                <span
                  class="location-span"
                  *ngIf="appService.businessConfig.showLocationSpanGeneral"
                  ><mat-icon>room</mat-icon>&nbsp;<strong>{{
                    product.Business?.Province?.name | parseLang: utilsService.getLang()
                  }}</strong>
                  {{
                    appService.businessConfig.showLocationSpan
                      ? ', ' + product.Business?.Municipality?.name
                      : ''
                  }}</span
                >
              </div>
              <div *ngIf="!loadingRelated">
                <div
                  *ngFor="let carrusel of relatedProduct; let i = index"
                  class="d-flex flex-column justify-content-start align-items-start"
                >
                  <span class="title-variant">{{ carrusel.name }}</span>
                  <!--                  <span class='subtitle-variant'>{{carrusel.description}}</span>-->
                  <div class="main-slider-variants">
                    <div [swiper]="configVariants" class="swiper-container h-100 my-6">
                      <div class="swiper-wrapper h-100">
                        <!--                        {{imageUrl + carrusel.Recomendeds[0].RecomendedProduct.Images[0].image}}-->
                        <div
                          class="swiper-slide swiper-slide-variants d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-552b0c"
                          *ngFor="let variant of carrusel.Recomendeds"
                        >
                          <div
                            class="slide-item swiper-lazy mx-10 d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-2822db"
                          >
                            <div
                              class="container-carrusel-variants d-flex justify-content-center align-items-center"
                            >
                              <a
                                [queryParams]="{
                                  productId: variant?.ProductId,
                                  stockId: variant?.RecomendedProduct?.Stocks[0]?.uuid,
                                  name: variant?.RecomendedProduct?.name?.es,
                                  sharedImage: variant?.RecomendedProduct?.sharedImage
                                }"
                                [routerLink]="['/product']"
                                class="product-link"
                              >
                                <img
                                  [src]="imageUrl + variant.RecomendedProduct.Images[0].image"
                                  class="img-swiper-variant mx-10"
                                />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination white"></div>
                  </div>
                </div>
              </div>
              <!--                        <app-skeleton-loading-cards *ngIf="loadingRelated" [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }">-->
              <!--                        </app-skeleton-loading-cards>-->
              <p class="mat-body-2" style="font-size: 15px">
                {{ 'Compra a partir de ' | translate }}
                {{ product.minSale }}
                {{ ' unidades' | translate }}
              </p>

              <p *ngIf="product.shortDescription == null" class="module line-clamp mt-1 mb-2">
                No tiene descripcion
              </p>
              <p *ngIf="product.shortDescription != null" class="module line-clamp mt-1 mb-2">
                {{
                  product.shortDescription[language]
                    ? product.shortDescription[language]
                    : product.shortDescription['es']
                }}
              </p>
              <p
                class="mat-body-2 uppercase mb-2"
                matTooltip="{{ 'Rango de precios por cantidad de unidades a comprar' | translate }}"
              >
                {{ 'Precios de venta según la cantidad a comprar' | translate }}
              </p>
              <div
                style="border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee"
                class="d-flex justify-content-start align-items-center"
              >
                <div
                  *ngFor="let item of product.PriceRanges"
                  [matTooltip]="'entre ' + item.min + ' y ' + item.max + ' unidades'"
                  class="mx-2 py-3 d-flex flex-column justify-content-start align-items-start"
                  style="width: 80px"
                >
                  <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>
                  <p *ngIf="product.offerValue" class="mat-body-2">
                    {{ item.priceOffer | currencyProduct: product.currency }}
                  </p>
                  <p *ngIf="!product.offerValue" class="mat-body-2">
                    {{ item.price | currencyProduct: product.currency }}
                  </p>
                </div>
              </div>
              <div>
                <div class="py-1 mt-15">
                  <p *ngIf="product.status !== 'comingSoon'">
                    <span class="text-muted fw-500">{{ 'Avalibility:' | translate }}</span>
                    <span
                      class="avalibility"
                      style="color: #4caf50 !important; font-weight: 500"
                      *ngIf="counter < product?.Stock?.quantity ? product?.Stock?.quantity : 0"
                      ><span class="ml-3"
                        >{{
                          'Disponible en la
                      tienda' | translate
                        }}
                        "{{ product?.Business?.name }}"
                        {{ 'ubicada en la provincia' | translate }} "{{
                          product?.Business?.Province?.name
                        }}" {{ 'en el municipio' | translate }} "{{
                          product?.Business?.Municipality?.name
                        }}"</span
                      ></span
                    >

                    <span
                      *ngIf="counter > product?.Stock?.quantity ? product?.Stock?.quantity : 0"
                      class="avalibility"
                      ><span class="ml-3" style="color: #f33927 !important; font-weight: 500">{{
                        'No disponible, está agotado' | translate
                      }}</span></span
                    >
                  </p>
                  <div
                    *ngIf="
                      product.status !== 'comingSoon' &&
                      businessConfig?.showQuantityProductFront &&
                      (counter < product?.Stock?.quantity ? product?.Stock?.quantity : 0)
                    "
                    class="my-2"
                  >
                    <div
                      [ngClass]="{
                        disponibilityHigh: product?.Stock?.quantity > 15,
                        disponibilityMedium:
                          product?.Stock?.quantity <= 15 && product?.Stock?.quantity > 5,
                        disponibilityLow: product?.Stock?.quantity <= 5
                      }"
                      class="d-flex justify-content-center align-items-center"
                    >
                      <span class="text-availability" *ngIf="!loadingAvailability">
                        {{ product?.Stock?.quantity + ' disponibles' }}
                      </span>
                      <span
                        *ngIf="loadingAvailability"
                        class="d-flex justify-content-center align-items-center"
                      >
                        <mat-spinner
                          color="primary"
                          diameter="20"
                          class="d-flex justify-content-center align-items-center"
                        ></mat-spinner>
                      </span>
                    </div>
                  </div>

                  <p
                    class="mat-body-2 uppercase my-3 coming-soon-text"
                    *ngIf="product.status === 'comingSoon'"
                    matTooltip="{{ 'Este producto estará a la venta próximamente' | translate }}"
                  >
                    {{ 'Próximamente' | translate }}
                  </p>
                </div>
                <div class="quantity" *ngIf="product.status !== 'comingSoon'">
                  <span class="text-muted fw-500">{{ 'Quantity' | translate }}:</span>
                  <div class="text-muted d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column">
                    <div class="d-flex justify-content-center align-items-start">
                      <div class="addQuantity">
                        <button
                          (click)="decrement()"
                          [disabled]="counter <= product.minSale"
                          class="leftBtn"
                          matTooltip="Remove"
                        >
                          <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <input
                          [min]="product.minSale"
                          [max]="product.maxSale"
                          (keyup)="checkMinMaxValues($event, product)"
                          [(ngModel)]="counter"
                          class="inputBtn"
                          matTooltip="{{ 'Cantidad de unidades a adquirir' | translate }}"
                          type="text"
                          value="{{ counter }}"
                        />
                        <button
                          (click)="increment()"
                          [disabled]="counter > product.stock || counter >= product.maxSale"
                          class="rightBtn"
                          matTooltip="Add"
                        >
                          <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="buttons mt-20 d-flex justify-content-start align-items-center d-xs-flex justify-content-center justify-content-xs-center align-items-xs-center"
                *ngIf="product.typeAddCart === 'glasses' && product.status !== 'comingSoon'"
              >
                <button
                  (click)="addLenses(product, counter)"
                  class="btn-custom my-2 w-100"
                  color="primary"
                  mat-raised-button
                  ngClass.sm="w-80"
                  ngClass.xs="w-80"
                >
                  {{ 'CHOOSES LENSES' | translate }}
                </button>
              </div>

              <div
                class="buttons d-flex justify-content-start align-items-center d-xs-flex justify-content-center justify-content-xs-center align-items-xs-center"
                *ngIf="product.status !== 'comingSoon'"
              >
                <button
                  (click)="addToCart(product, counter)"
                  class="btn-custom my-2 w-100"
                  color="primary"
                  mat-raised-button
                  ngClass.lt-sm="w-100"
                >
                  {{ 'ADD TO CART' | translate }}
                </button>

                <button
                  (click)="onGoToCheckouNav()"
                  class="btn-custom my-2 w-100"
                  color="primary"
                  mat-raised-button
                  ngClass.lt-sm="w-100"
                >
                  {{ 'BUY NOW' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="!isLoading"
        class="d-flex justify-content-start align-items-start flex-sh-100 flex-sh-md-75"
      >
        <mat-tab-group [selectedIndex]="indexTab" ngClass.gt-sm="w-95" ngClass.lt-md="w-100">
          <mat-tab label="{{ 'Details' | translate }}">
            <div class="full-desc text-muted">
              <div
                *ngIf="product.description == null"
                [id]="'ProductId' + product.id"
                [innerHTML]="'No tiene descripcion'"
                class="InnerHtmlContent"
              ></div>
              <div
                *ngIf="product.description != null"
                [innerHTML]="this.utilsService.parserLanguage(product.description, language)"
                class="InnerHtmlContent"
              ></div>
              <!--<p class="my-3">
                <span style="font-weight: 600; font-size: 16px">
                  {{ 'Product type:' | translate }}
                </span>
                &nbsp;
                {{ typesProducts[product.type].name.es }}
              </p>-->
            </div>
          </mat-tab>
          <mat-tab
            label="{{ 'Ficha técnica' | translate }}"
            *ngIf="product?.dataSheetUrl && product?.dataSheetUrl !== null"
          >
            <div
              class="full-desc text-muted d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-3cb926"
            >
              <span>{{ product?.dataSheetName }}</span>
              <button
                (click)="downloadFile(product)"
                aria-label="Download Data Sheet"
                class="mr-2"
                color="primary"
                mat-mini-fab
              >
                <mat-icon>file_download</mat-icon>
              </button>
              <!--              <a id="downloadLink" style="display: none;"></a>-->
            </div>
          </mat-tab>

          <mat-tab *ngIf="loggedInUser" label="{{ 'Reviews' | translate }}">
            <div class="d-flex">
              <div class="full-desc lh px-4" ngClass.lt-md="px-0">
                <div
                  *ngFor="let review of allReviews"
                  class="content d-flex justify-content-start align-items-center"
                >
                  <img
                    *ngIf="review.Client.avatar"
                    [src]="imageUrl + review.Client.avatar"
                    alt="image"
                    class="review-author"
                  />
                  <img
                    *ngIf="!review.Client.avatar"
                    [src]="'/assets/images/avatars/profile2.png'"
                    alt="image"
                    class="review-author"
                  />
                  <div
                    class="ml-2 text-list d-flex flex-column justify-content-start align-items-start"
                  >
                    <span class="name mat-body-2"
                      >{{ review.Client.name + ' ' + (review.Client.lastname || '') }}
                      <span class="text-muted"
                        ><small>&nbsp;{{ review.createdAt | date: 'shortDate' }}</small>
                      </span>
                    </span>
                    <!-- <p>
                      <guajiritos-rating [config]="{label:'estrellas',readOnly:true,size:'12px'}" [value]="review.rating">
                      </guajiritos-rating>
                    </p> -->
                    <p class="mat-body-1" ngClass.lt-md="mat-caption">{{ review.review }}</p>
                    <button
                      (click)="onEditReview(review)"
                      *ngIf="loggedInUser.id == review.ClientId"
                      class="editBtn"
                      mat-icon-button
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>

                <div
                  *ngIf="this.queryReviews.offset < this.queryReviews.total"
                  class="py-3 d-flex justify-content-center align-items-center"
                >
                  <button
                    (click)="onGetMorePriviews()"
                    *ngIf="this.queryReviews.offset < this.queryReviews.total"
                    class="px-4"
                    color="accent"
                    mat-stroked-button
                  >
                    {{ 'LOAD MORE...' | translate }}
                  </button>
                </div>

                <div class="writte-reviews mt-3">
                  <h4 class="my-2 mat-title">{{ 'LEAVE YOUR REVIEW' | translate }}</h4>
                  <div class="divider"></div>
                  <p class="mt-2 text-muted">
                    {{
                      'Your email address will not be published. Required fields are marked *'
                        | translate
                    }}
                  </p>

                  <form [formGroup]="reviewForm" class="d-flex">
                    <h3 class="mt-2 d-flex justify-content-start align-items-center">
                      <span class="mr-2">{{ 'Your Rating: ' | translate }}</span>
                      <guajiritos-rating
                        [config]="{
                          label: 'estrellas',
                          size: '22px',
                          showNumber: true,
                          showClearBtn: true
                        }"
                        [formControl]="reviewForm.controls['rating']"
                      >
                      </guajiritos-rating>
                    </h3>

                    <div class="flex-sh-100 flex-sh-100 flex-sh-sm-initial">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'Post content' | translate }}</mat-label>
                        <textarea
                          #message
                          [formControl]="reviewForm.controls['review']"
                          matInput
                          maxlength="250"
                          placeholder="{{ 'Post content' | translate }}"
                          required
                          rows="3"
                        ></textarea>
                        <mat-hint align="end">{{ message.value.length }} / 250</mat-hint>
                      </mat-form-field>
                    </div>
                    <div
                      class="button-wrap px-1 mt-2 d-flex justify-content-end align-items-start flex-sh-100 flex-sh-100 flex-sh-sm-initial"
                    >
                      <button
                        (click)="onPostReview()"
                        [disabled]="reviewForm.invalid"
                        color="accent"
                        mat-raised-button
                        type="submit"
                      >
                        {{ 'Submit Review' | translate }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="d-sm-block d-none">
        <ng-container [ngTemplateOutlet]="providerDetails"></ng-container>
      </div>

      <!--      <div *ngIf="relatedProduct.length" class="products pt-5">-->
      <!--        <div class="title">-->
      <!--          <h4 class="widget-title">{{ 'RECOMENDED PRODUCTS' | translate }}</h4>-->
      <!--        </div>-->
      <!--        <app-product-carousel-two *ngIf="!loadingRelated" [products]="relatedProduct" [btnColor]="'accent'"-->
      <!--                                  [grid]="{ '480': 1, '740': 2, '960': 2, '1024': 2, '1280': 3 }">-->
      <!--        </app-product-carousel-two>-->
      <!--        <div *ngIf="loadingRelated" class="my-3">-->
      <!--          <app-skeleton-loading-cards *ngIf="loadingRelated" [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }">-->
      <!--          </app-skeleton-loading-cards>-->
      <!--        </div>-->
      <!--      </div>-->

      <div
        *ngIf="allProductsOnMenu?.length > 0"
        class="products pt-5"
        infiniteScroll
        [infiniteScrollDistance]="0.5"
        (scrolled)="loadProducts()"
      >
        <div
          class="d-flex d-sm-flex flex-column flex-sm-column justify-content-between align-items-center justify-content-sm-between align-items-start align-items-sm-start"
        >
          <div class="title">
            <h4 class="widget-title">{{ 'Otros productos del negocio' | translate }}</h4>
          </div>
          <mat-form-field
            appearance="outline"
            class="auto-complete-search"
            style="min-width: 310px"
          >
            <mat-label>{{ 'Buscar en este local' | translate }}</mat-label>
            <input
              [formControl]="searchProductControl"
              aria-label="Number"
              matInput
              placeholder="Buscar lo que desea...?"
              type="text"
            />
            <mat-icon matSuffix>search</mat-icon>
            <!--            [matAutocomplete]="auto"-->
            <!--            <mat-autocomplete #auto="matAutocomplete">-->
            <!--              <mat-option *ngFor="let option of allProductsOnMenuToShow | async" [value]="option">-->
            <!--                {{option}}-->
            <!--              </mat-option>-->
            <!--            </mat-autocomplete>-->
          </mat-form-field>
        </div>

        <div
          *ngIf="allProductsOnMenu.length >= 0"
          class="w-100 d-flex justify-content-start align-items-start"
        >
          <app-product
            *ngFor="let products of allProductsOnMenu"
            [product]="products"
            class="flex-sh-md-100"
          ></app-product>
          <ng-container *ngIf="allProductsOnMenu.length == 0">
            <h3 class="py-4" style="text-align: center">
              {{ 'No hay producto con ese criterio de búsqueda' | translate }}
            </h3>
          </ng-container>
        </div>

        <div *ngIf="loadingMenu || loadingProducts" class="my-3">
          <app-skeleton-loading-cards
            [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }"
          ></app-skeleton-loading-cards>
        </div>
      </div>
      <!--         <span *ngIf='loadingProducts' fxLayout='row' fxLayoutAlign='center center' class='mb-3 mt-3'>-->
      <!--          <mat-spinner color='primary' diameter='25' fxLayoutAlign='center center'></mat-spinner>-->
      <!--          </span>-->

      <!--      <div *ngIf="relatedProduct.length" class="products pt-5">-->
      <!--        <div class="title">-->
      <!--          <h4 class="widget-title">{{ 'RECOMENDED PRODUCTS' | translate }}</h4>-->
      <!--        </div>-->
      <!--        <app-product-carousel-two *ngIf="!loadingRelated" [products]="relatedProduct" [btnColor]="'accent'"-->
      <!--                                  [grid]="{ '480': 1, '740': 2, '960': 2, '1024': 2, '1280': 3 }">-->
      <!--        </app-product-carousel-two>-->
      <!--        <div *ngIf="loadingRelated" class="my-3">-->
      <!--          <app-skeleton-loading-cards *ngIf="loadingRelated" [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }">-->
      <!--          </app-skeleton-loading-cards>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div *ngIf="featuredProducts.length" class="products pt-5 pb-0">-->
      <!--        <div class="title">-->
      <!--          <h4 class="widget-title">{{ 'FEATURED PRODUCTS' | translate }}</h4>-->
      <!--        </div>-->
      <!--        <app-product-carousel-two *ngIf="!loadingFeatured" [products]="featuredProducts" [btnColor]="'accent'"-->
      <!--                                  [grid]="{ '480': 1, '740': 2, '960': 2, '1024': 2, '1280': 3 }">-->
      <!--        </app-product-carousel-two>-->
      <!--        <div *ngIf="loadingFeatured" class="my-3">-->
      <!--          <app-skeleton-loading-cards *ngIf="loadingFeatured" [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }">-->
      <!--          </app-skeleton-loading-cards>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div
      class="d-flex justify-content-start align-items-start flex-sh-100 flex-sh-25 flex-sh-sm-initial"
    >
      <div class="d-block d-sm-none">
        <ng-container [ngTemplateOutlet]="providerDetails"></ng-container>
      </div>

      <div
        class="info-bar d-flex d-xs-none d-sm-none"
        style="border-radius: 4px !important"
        ngClass.gt-md="m-0"
      >
        <div *ngFor="let item of allBicons; let i = index" class="mt-16 flex-sh-100">
          <mat-card
            class="light-block d-flex justify-content-start align-items-center"
            [ngClass]="{ 'no-border': i === allBicons.length - 1 }"
          >
            <mat-icon class="mat-icon-xlg m-0 icon-common-bicon">{{ item.icon }}</mat-icon>
            <div class="content ml-4">
              <p class="uppercase">{{ utilsService.parserLanguage(item.title, language) }}</p>
              <span class="text-muted m-0">{{
                utilsService.parserLanguage(item.subTitle, language)
              }}</span>
            </div>
          </mat-card>
        </div>
      </div>

      <div style="width: 100%">
        <mat-divider class="my-2"></mat-divider>
        <a
          (click)="onAddtoCartNav()"
          class="list-compare-link d-flex justify-content-start align-items-center"
        >
          <mat-icon class="mr-2"> shopping_cart</mat-icon>
          {{ 'Añadir al carrito' | translate }}
        </a>
        <a
          (click)="onAddtoCompListNav()"
          class="list-compare-link d-flex justify-content-start align-items-center"
        >
          <mat-icon class="mr-2"> compare_arrows</mat-icon>
          {{ 'Añadir a la lista de comparación' | translate }}
        </a>

        <a
          (click)="onGoToCheckouNav()"
          class="list-compare-link d-flex justify-content-start align-items-center"
        >
          <mat-icon class="mr-2"> slideshow</mat-icon>
          {{ 'Comprar ahora' | translate }}
        </a>

        <mat-divider class="my-2"></mat-divider>
        <!-- <section *ngIf="!isLoading" class="d-sm-none">
          <share-button
            [description]="this.product?.name?.es + ': \n' + this.product?.shortDescription?.es"
            [title]="this.product?.name?.es"
            button="facebook"
          >
          </share-button>
          <share-button
            [description]="this.product?.name?.es + ': \n' + this.product?.shortDescription?.es"
            [title]="this.product?.name?.es"
            button="whatsapp"
          >
          </share-button>
          <share-button
            [description]="this.product?.name?.es + ': \n' + this.product?.shortDescription?.es"
            [title]="this.product?.name?.es"
            button="telegram"
          >
          </share-button>
          <share-button
            [description]="this.product?.name?.es + ': \n' + this.product?.shortDescription?.es"
            [image]="this.mainImage?.image"
            [title]="this.product?.name?.es"
            button="email"
          >
          </share-button>
        </section>
        <mat-divider class="my-2 d-sm-none"></mat-divider> -->
      </div>

      <ng-template #providerDetails>
        <div style="width: 100%">
          <h4 class="mat-body-2 uppercase">{{ 'Comprando en' | translate }}</h4>
          <a
            class="list-compare-link no-decoration d-flex justify-content-start align-items-center"
          >
            <img
              style="height: 32px; width: 32px; border-radius: 50%; object-fit: cover"
              [src]="imageUrl + product?.Business?.logo"
              onerror="this.onerror=null;this.src='assets/images/noImage.jpg';"
            />

            <span class="ml-2">{{
              product?.Business?.name | parseLang: utilsService.getLang()
            }}</span>
          </a>
          <a
            class="list-compare-link no-decoration d-flex justify-content-start align-items-center"
          >
            <mat-icon class="mr-2 icon-common"> location_on</mat-icon>
            <div class="d-flex flex-column">
              <div>{{ product?.Business?.address | parseLang: utilsService.getLang() }}.</div>
              <div>
                <strong>
                  {{ product?.Business?.Province?.name | parseLang: utilsService.getLang() }},
                  {{ product?.Business?.Municipality?.name | parseLang: utilsService.getLang() }}
                </strong>
              </div>
            </div>
          </a>

          <a class="list-compare-link d-flex justify-content-start align-items-center">
            <mat-icon class="mr-2 icon-common"> phone</mat-icon>
            <a href="tel:{{ product?.Business?.cellphone }}">{{ product?.Business?.cellphone }}</a>
          </a>
          <a class="list-compare-link d-flex justify-content-start align-items-center">
            <mat-icon class="mr-2 icon-common"> mail</mat-icon>
            <a class="email-text" href="mailto:{{ product?.Business?.email }}">{{
              product?.Business?.email
            }}</a>
          </a>
          <mat-divider class="my-2"></mat-divider>
        </div>
      </ng-template>

      <div class="popular-products mt-2 flex-sh-md-100">
        <app-popular-products></app-popular-products>
      </div>
    </div>
  </div>

  <!-- =========================================================== -->
  <!-- ======== on NO PRODUCT ================================== -->
  <div *ngIf="errorPage" class="mb-4 d-flex flex-column">
    <section
      class="py-4 product-detail-not-found d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column justify-content-center justify-content-xs-start justify-content-sm-start transpilerClass-fxLayoutGap-9aaa6f transpilerClass-fxLayoutGap-a44a3f"
    >
      <picture class="pdnf-picture flex-sh-50 flex-sh-xs-100 order-xs-2 order-sm-2">
        <!--        <source srcset="assets/images/not-found-product.webp" type="image/webp">-->
        <!--        <source srcset="assets/images/not-found-product.png" type="image/png">-->
        <img
          alt="Producto no encontrado"
          onerror="this.onerror=null;this.src='assets/images/noImage.jpg';"
          src="assets/images/not-found-product.png"
          type="image/png"
        />
      </picture>

      <div
        class="pdnf-right-side-text d-flex flex-column justify-content-center align-items-start flex-sh-50 flex-sh-xs-100 order-xs-1 order-sm-1"
      >
        <div class="pdnf-1-text mb-4 order-xs-1 order-sm-1">{{ 'Upss' | translate }}...</div>
        <div class="pdnf-2-text mb-1 order-xs-2 order-sm-2">{{ 'Lo sentimos' | translate }}</div>
        <div class="pdnf-3-text mb-4 order-xs-3 order-sm-3">
          {{ 'El producto que busca no se encuentra disponible' | translate }}
        </div>

        <div class="pdnf-action-button order-xs-4 order-sm-4">
          <button
            [routerLink]="['/products/search']"
            color="primary"
            mat-flat-button
            ngClass.xs="mb-4"
          >
            {{ 'Seguir comprando' | translate }}
          </button>
        </div>
      </div>
    </section>

    <div *ngIf="featuredProducts.length" class="products pt-5 pb-0">
      <div class="title">
        <h4 class="widget-title">{{ 'FEATURED PRODUCTS' | translate }}</h4>
      </div>
      <app-product-carousel-two
        *ngIf="!loadingFeatured"
        [btnColor]="'accent'"
        [grid]="{ '480': 1, '740': 2, '960': 2, '1024': 2, '1280': 3 }"
        [products]="featuredProducts"
      >
      </app-product-carousel-two>
      <div *ngIf="loadingFeatured" class="my-3">
        <app-skeleton-loading-cards
          *ngIf="loadingFeatured"
          [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }"
        >
        </app-skeleton-loading-cards>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showZoom" class="popup" id="popup">
  <div class="d-flex justify-content-end align-items-center">
    <button (click)="this.showZoom = false" mat-icon-button>
      <mat-icon class="mat-18">clear</mat-icon>
    </button>
  </div>

  <div fxFlexFill class="d-flex flex-column justify-content-center align-items-center">
    <img [src]="this.mainImage.image" />
  </div>
</div>
