<h2 class="mb-2" mat-dialog-title data-id="c59dc1de">{{ 'Elige tu ubicación' | translate }}</h2>
<mat-dialog-content class="mat-typography d-flex flex-column" data-id="6b63c336">
  <div
    class="mb-3 d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-2ed3b7"
    data-id="1d1c13bb"
  >
    <mat-icon color="primary" class="icon-info" data-id="2c26ecd6">info</mat-icon>
    <p style="font-size: 16px" data-id="fa68c8c4">
      {{
        'Los primeros resultados de búsqueda, serán los mas cercanos a la ubicación seleccionada.'
          | translate
      }}
    </p>
  </div>

  <h3 data-id="bf07ed25">{{ 'Provincia' | translate }}</h3>
  <guajiritos-general-autocomplete
    [label]="'Provincia'"
    [isRequired]="true"
    [url]="urlProvince"
    [debounceTimeValue]="100"
    [field]="['name']"
    [displayOptions]="displayOptions"
    [formControl]="locationForm.get('province')"
    [filterString]="'filter[$and][name][$like]'"
    [valueId]="false"
    [withoutPaddingBottom]="false"
    data-id="c190f447"
  ></guajiritos-general-autocomplete>

  <ng-container *ngIf="this.locationForm.get('province').value" data-id="3e2e8d35">
    <h3 data-id="2677dd50">{{ 'Municipio' | translate }}</h3>

    <guajiritos-general-autocomplete
      [label]="'Municipio'"
      *ngIf="locationForm.get('province')"
      [isRequired]="true"
      [restrictions]="eventDisplayRestrictions"
      [url]="urlMunicipality"
      [debounceTimeValue]="100"
      [displayOptions]="displayOptions"
      [formControl]="locationForm.get('municipality')"
      [filterString]="'filter[$and][name][$like]'"
      [valueId]="false"
      [withoutPaddingBottom]="false"
      data-id="87fc2ec7"
    ></guajiritos-general-autocomplete>
  </ng-container>

  <!--  <mat-form-field appearance="outline" class="mb-3" fxFlex="100%">-->
  <!--    <mat-label>{{ 'Escoja...' | translate }}</mat-label>-->
  <!--    &lt;!&ndash; <mat-select [formControl]="locationForm.get('province')" (selectionChange)="provinceChange($event)">-->
  <!--      <mat-option>- {{ 'Ninguno' | translate }} -</mat-option>-->
  <!--      <mat-option *ngFor="let item of allProvinces" [value]="item.id">{{ item.name }}</mat-option>-->
  <!--    </mat-select> &ndash;&gt;-->
  <!--    <input-->
  <!--      type="text"-->
  <!--      placeholder="{{' Provincia...' | translate}}"-->
  <!--      [formControl]="locationForm.get('province')"-->
  <!--      matInput-->
  <!--      [matAutocomplete]="provinceAuto"-->
  <!--    />-->
  <!--    <mat-icon class="cursor-pointer" (click)="clearProvince()" *ngIf="locationForm.get('province').value" matSuffix>-->
  <!--      close-->
  <!--    </mat-icon>-->
  <!--    <mat-autocomplete-->
  <!--      autoActiveFirstOption-->
  <!--      #provinceAuto="matAutocomplete"-->
  <!--      [displayWith]="displayFn"-->
  <!--      (optionSelected)="provinceChange()"-->
  <!--    >-->
  <!--      <mat-option *ngFor="let option of filteredProvinces | async" [value]="option">-->
  <!--        {{ option.name }}-->
  <!--      </mat-option>-->
  <!--    </mat-autocomplete>-->
  <!--    <mat-hint>{{ 'Escoja una provincia' | translate }}</mat-hint>-->
  <!--    <mat-error *ngIf="locationForm.get('province').getError('required')">{{ 'Campo requerido' | translate }}</mat-error>-->
  <!--    <mat-error *ngIf="locationForm.get('province').getError('match')">-->
  <!--      {{ 'Debe seleccionar una opción' | translate }}-->
  <!--    </mat-error>-->
  <!--  </mat-form-field>-->
  <!--  <mat-form-field appearance="outline" class="mb-3" fxFlex="100%">-->
  <!--    <mat-label>{{ 'Escoja...' | translate }}</mat-label>-->
  <!--    &lt;!&ndash; <mat-select [formControl]="locationForm.get('municipality')" (selectionChange)="municipalityChange()">-->
  <!--      <mat-option>- {{ 'Ninguno' | translate }} -</mat-option>-->
  <!--      <mat-option *ngFor="let item of allMunicipalityByProvince" [value]="item">{{ item.name }}</mat-option>-->
  <!--    </mat-select> &ndash;&gt;-->
  <!--    <input-->
  <!--      type="text"-->
  <!--      placeholder=" Municipio..."-->
  <!--      [formControl]="locationForm.get('municipality')"-->
  <!--      matInput-->
  <!--      [matAutocomplete]="municipalityAuto"-->
  <!--    />-->
  <!--    <mat-icon-->
  <!--      class="cursor-pointer"-->
  <!--      (click)="clearMunicipality()"-->
  <!--      *ngIf="locationForm.get('municipality').value"-->
  <!--      matSuffix-->
  <!--    >-->
  <!--      close-->
  <!--    </mat-icon>-->
  <!--    <mat-autocomplete-->
  <!--      autoActiveFirstOption-->
  <!--      #municipalityAuto="matAutocomplete"-->
  <!--      [displayWith]="displayFn"-->
  <!--      (optionSelected)="municipalityChange()"-->
  <!--    >-->
  <!--      <mat-option *ngFor="let option of filteredMunicipalities | async" [value]="option">-->
  <!--        {{ option.name }}-->
  <!--      </mat-option>-->
  <!--    </mat-autocomplete>-->
  <!--    <mat-hint>{{ 'Escoja un municipio' | translate }}</mat-hint>-->
  <!--    &lt;!&ndash; <mat-error *ngIf="municipality.hasError('required')">{{ 'Campo requerido' | translate }}</mat-error> &ndash;&gt;-->
  <!--    <mat-error *ngIf="locationForm.get('municipality').getError('match')">-->
  <!--      {{ 'Debe seleccionar una opción' | translate }}-->
  <!--    </mat-error>-->
  <!--  </mat-form-field>-->
</mat-dialog-content>

<mat-dialog-actions align="end" data-id="aa3a2926">
  <button mat-button mat-dialog-close data-id="2960eb98">{{ 'Cancelar' | translate }}</button>
  <button
    [mat-dialog-close]="setDataResponse()"
    cdkFocusInitial
    color="accent"
    mat-flat-button
    data-id="01005696"
  >
    {{ 'Listo' | translate }}
  </button>
</mat-dialog-actions>
