@import 'scss/mixins/breakpoints';
@import 'app';

.icon-info {
  width: 40px !important;
  height: 35px;
  font-size: 25px;
  @media (min-width: 320px) and (max-width: 1024px) {
    width: 50px !important;
  }
}

.transpilerClass-fxLayoutGap-2ed3b7 {
  gap: 10px;
}
