<div class="sophia-app" data-id="58a6573e">
  <ngx-spinner data-id="d9f7535b">
    <div class="d-flex justify-content-center align-items-center" data-id="0aa60976">
      <div class="spinner" data-id="0ff2aa39">
        <div data-id="a1e69625"></div>
        <div data-id="b38289f1"></div>
        <div data-id="8d3836a6"></div>
        <div data-id="16cd5c7d"></div>
        <div data-id="db784e75"></div>
      </div>
    </div>
  </ngx-spinner>

  <router-outlet data-id="9785e671"></router-outlet>
</div>
