<!--<mat-dialog-content>-->
<div
  *ngIf="this.loadingSearch"
  class="loading-shade-full"
  style="background: rgba(0, 0, 0, 0.08) !important"
  data-id="e3b1718a"
>
  <mat-spinner
    *ngIf="this.loadingSearch"
    color="primary"
    diameter="60"
    data-id="b195d9c0"
  ></mat-spinner>
</div>
<mat-horizontal-stepper
  #stepper
  [linear]="true"
  *ngIf="!this.loadingSearch && supplementArray?.length > 0"
  labelPosition="bottom"
  class="billing-details"
  data-id="4ffb8a3f"
>
  <mat-step [stepControl]="supplementForm.get('supplementType')" data-id="09887e24">
    <ng-template matStepLabel class="d-xs-none d-sm-none d-md-none" data-id="ff9645e2">{{
      'Escoja lentes' | translate
    }}</ng-template>
    <ng-template class="d-xs-inline d-sm-inline d-md-inline d-none" data-id="84ddf662">{{
      'Escoja lentes' | translate
    }}</ng-template>
    <h3 class="my-3 title-supplement" data-id="7e183e18">{{ supplementArray[0]?.name }}</h3>
    <h5 class="my-3 subtitle-supplement" data-id="beb2c727">
      {{ supplementArray[0]?.description }}
    </h5>
    <div
      class="w-100 mb-3 pb-3 row-supplement d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column d-md-flex flex-md-column justify-content-start align-items-center transpilerClass-fxLayoutGap-e2873f"
      data-id="a3a9fd3e"
    >
      <div
        *ngFor="let element of supplementArray[0].Recomendeds; let j = index"
        class="mb-1 d-flex flex-column justify-content-start align-items-center"
        data-id="879c45ec"
      >
        <div
          [ngClass]="{ itemSelected: element.checked, itemUnselected: !element.checked }"
          (click)="onChangeSelection($event, 0, j, stepper)"
          class="d-flex flex-column justify-content-start align-items-center"
          data-id="ad997bda"
        >
          <img
            *ngIf="element?.RecomendedProduct?.name.es !== 'Ninguno'"
            [src]="imageUrl + element?.RecomendedProduct?.Images[0]?.image"
            class="img-supplement mb-2"
            data-id="6486c182"
          />
          <div
            style="text-align: center"
            class="d-flex flex-column justify-content-start align-items-center"
            data-id="5354a0e9"
          >
            <span class="mx-2 my-2" data-id="380b483b"
              ><strong data-id="1ec507ad">{{
                element?.RecomendedProduct?.name | i18nField: translateService.currentLang
              }}</strong></span
            >
            <div
              *ngFor="let item of element?.RecomendedProduct?.PriceRanges"
              class="mx-2 pt-2 d-flex flex-column justify-content-start align-items-start"
              style="width: 80px"
              data-id="c7815054"
            >
              <!--                      <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>-->
              <p
                *ngIf="element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="57ef88e7"
              >
                {{ item?.priceOffer | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
              <p
                *ngIf="!element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="327ffa49"
              >
                {{ item?.price | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
            </div>
            <mat-icon
              *ngIf="!element.checked"
              class="icon-unchecked d-flex justify-content-center align-items-center"
              color="primary"
              data-id="7dfb5fa1"
            >
              radio_button_unchecked
            </mat-icon>
            <mat-icon
              *ngIf="element.checked"
              class="icon-checked d-flex justify-content-center align-items-center"
              color="accent"
              data-id="92880971"
            >
              task_alt
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step
    disabled="supplementForm.get('supplementType').value"
    [stepControl]="form"
    data-id="08f55323"
  >
    <mat-dialog-content data-id="cadac197">
      <ng-template matStepLabel class="d-xs-none d-sm-none d-md-none" data-id="9a827e16">{{
        'Insertar receta médica' | translate
      }}</ng-template>
      <ng-template class="d-xs-inline d-sm-inline d-md-inline d-none" data-id="4750e4d7">{{
        'Insertar receta médica' | translate
      }}</ng-template>
      <div
        class="w-100 mb-3 pb-3 row-supplement d-xs-block d-sm-block d-md-block d-none"
        data-id="8f363178"
      >
        <div
          class="mb-3 d-flex justify-content-end align-items-end transpilerClass-fxLayoutGap-39a2fd"
          data-id="8ec19430"
        >
          <span style="width: 80px" data-id="24e4d2a7">{{ 'ESFERA' | translate }}</span>
          <span style="width: 80px" data-id="158b5e29">{{ 'CILINDRO' | translate }}</span>
          <span style="width: 60px" data-id="aff14619">{{ 'EJE' | translate }}</span>
        </div>
        <div
          class="container-selects mb-3 d-flex justify-content-end align-items-end transpilerClass-fxLayoutGap-8658da"
          data-id="8261dca0"
        >
          <span class="text-axis" data-id="4f1bae31">Ojo derecho</span>
          <mat-select [formControl]="form.get('right')" class="input-axis" data-id="139bc449">
            <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="ed03d104">
              <mat-option
                *ngFor="let measure of sign.sign"
                [value]="measure.value"
                data-id="bcca63e1"
              >
                {{ measure.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-select
            [formControl]="form.get('cylinderRight')"
            class="input-axis"
            data-id="c1a7a122"
          >
            <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="8f6ffca7">
              <mat-option
                *ngFor="let measure of sign.sign"
                [value]="measure.value"
                data-id="b7e4a165"
              >
                {{ measure.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <input
            [formControl]="form.get('axisRight')"
            matInput
            type="number"
            class="input-axis"
            [required]="form.get('cylinderRight').value"
            data-id="ab3f0422"
          />
        </div>
        <mat-error *ngIf="form.get('right').hasError('required')" data-id="0d38f911">
          {{ 'Derecho' | translate }}
          <strong data-id="0740ff6b">{{ 'is required' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="form.get('cylinderRight').hasError('required')" data-id="f32e2820">
          {{ 'Cilindro derecho' | translate }}
          <strong data-id="979632c8">{{ 'is required' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="form.get('axisRight').hasError('required')" data-id="0e8c758d">
          {{ 'Eje derecho' | translate }}
          <strong data-id="53e7d7e8">{{ 'is required' | translate }}</strong>
        </mat-error>
        <div
          class="container-selects mb-3 d-flex justify-content-end align-items-end transpilerClass-fxLayoutGap-e47819"
          data-id="687eeccc"
        >
          <span class="text-axis" data-id="8be20c8c">Ojo izquierdo</span>
          <mat-select [formControl]="form.get('left')" class="input-axis" data-id="b960129b">
            <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="2404c88e">
              <mat-option
                *ngFor="let measure of sign.sign"
                [value]="measure.value"
                data-id="1fb1b282"
              >
                {{ measure.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-select
            [formControl]="form.get('cylinderLeft')"
            class="input-axis"
            data-id="f2186f2c"
          >
            <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="d87686e3">
              <mat-option
                *ngFor="let measure of sign.sign"
                [value]="measure.value"
                data-id="630f8fef"
              >
                {{ measure.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <input
            [formControl]="form.get('axisLeft')"
            matInput
            type="number"
            class="input-axis"
            [required]="form.get('cylinderLeft').value"
            data-id="153989a3"
          />
        </div>
        <mat-error *ngIf="form.get('left').hasError('required')" data-id="17b45235">
          {{ 'Izquierdo' | translate }}
          <strong data-id="3b9cc585">{{ 'is required' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="form.get('cylinderLeft').hasError('required')" data-id="7c8b5e08">
          {{ 'Cilindro izquierdo' | translate }}
          <strong data-id="258b948b">{{ 'is required' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="form.get('axisLeft').hasError('required')" data-id="f8bedb67">
          {{ 'Eje izquierdo' | translate }}
          <strong data-id="437800bb">{{ 'is required' | translate }}</strong>
        </mat-error>
        <div class="d-flex justify-content-between align-items-center" data-id="135cce56">
          <div class="d-flex flex-column" data-id="fc135586">
            <div
              class="container-add d-flex justify-content-center align-items-center"
              data-id="c453a4fd"
            >
              <h4 data-id="2a12e614">ADD</h4>
              <!--            <mat-form-field appearance='outline' class='select'>-->
              <!--              <mat-label>{{'ADD'}}</mat-label>-->
              <input
                [formControl]="form.get('add')"
                matInput
                type="text"
                class="input-add ml-1"
                [required]="
                  this.supplementForm
                    .get('supplementType')
                    .value?.RecomendedProduct?.name?.es.includes('Progresivos') ||
                  this.supplementForm
                    .get('supplementType')
                    .value?.RecomendedProduct?.name?.es.includes('Bifocales')
                "
                data-id="edb948ae"
              />

              <!--            <mat-error *ngIf="form.get('left').hasError('pattern')">-->
              <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--            </mat-error>-->
              <!--            </mat-form-field>-->
            </div>
            <mat-error *ngIf="form.get('add').hasError('required')" data-id="0cd23695">
              {{ 'ADD' | translate }}
              <strong data-id="526a58b1">{{ 'is required' | translate }}</strong>
            </mat-error>
          </div>

          <div
            class="container-dp d-flex justify-content-center align-items-center"
            data-id="324c736b"
          >
            <h4 class="text-dp" style="text-align: center" data-id="994858b8">DISTANCIA PUPILAR</h4>
            <!--            <mat-form-field appearance='outline' class='select'>-->
            <!--              <mat-label>{{'Distancia'}}</mat-label>-->
            <input
              [formControl]="form.get('pupillaryDistance')"
              matInput
              type="text"
              class="input-dp"
              data-id="c7ab9186"
            />
            <!--              <mat-error *ngIf="form.get('pupillaryDistance').hasError('required')">-->
            <!--                {{ 'La medida de la distancia pupilar' | translate }} <strong>{{ 'is required' | translate }}</strong>-->
            <!--              </mat-error>-->
            <!--            <mat-error *ngIf="form.get('left').hasError('pattern')">-->
            <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
            <!--            </mat-error>-->
            <!--            </mat-form-field>-->
          </div>
        </div>
      </div>
      <table class="table w-100 d-block d-xs-none d-sm-none d-md-none" data-id="53e99e91">
        <tr data-id="eed71069">
          <th mat-header-cell data-id="f4a0dc47"></th>
          <th mat-header-cell data-id="1e4c9d5f">
            <span data-id="41f366de">{{ 'ESFERA' | translate }}</span>
          </th>
          <th mat-header-cell data-id="4108e3c4">
            <span data-id="2d7f34a3">{{ 'CILINDRO' | translate }}</span>
          </th>
          <th mat-header-cell data-id="340e3dcc">
            <span data-id="185a8a0e">{{ 'EJE' | translate }}</span>
          </th>
        </tr>
        <tr data-id="89fd0af9">
          <th class="pb-2" mat-cell data-id="a0ca28d8">
            <span data-id="c118df22">Ojo izquierdo</span>
          </th>
          <td class="pb-2" mat-cell data-id="3c9cd1cf">
            <mat-form-field appearance="outline" class="select" data-id="2c8ac161">
              <mat-label data-id="60cfddd7">{{ 'Izquierdo' }}</mat-label>
              <mat-select [formControl]="form.get('left')" data-id="35c418f8">
                <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="5675e5a1">
                  <mat-option
                    *ngFor="let measure of sign.sign"
                    [value]="measure.value"
                    data-id="510c4c23"
                  >
                    {{ measure.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error *ngIf="form.get('left').hasError('required')" data-id="30e2b02a">
                {{ 'La medida del ojo izquierdo' | translate }}
                <strong data-id="ad44856c">{{ 'is required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td class="pb-2" mat-cell data-id="6680fe0c">
            <mat-form-field appearance="outline" class="select" data-id="2f1f62fd">
              <mat-label data-id="f4a747e1">{{ 'Izquierdo' }}</mat-label>
              <mat-select [formControl]="form.get('cylinderLeft')" data-id="937f47f2">
                <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="62cf8a06">
                  <mat-option
                    *ngFor="let measure of sign.sign"
                    [value]="measure.value"
                    data-id="99203b36"
                  >
                    {{ measure.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error *ngIf="form.get('cylinderLeft').hasError('required')" data-id="9bc2c6e6">
                {{ 'La medida del cilindro izquierdo' | translate }}
                <strong data-id="3291b7cc">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--                  <mat-error *ngIf="form.get('cylinderLeft').hasError('pattern')">-->
              <!--                    {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--                  </mat-error>-->
            </mat-form-field>
          </td>
          <td class="pb-2" mat-cell data-id="b6e7d3c6">
            <mat-form-field appearance="outline" class="select-axis" data-id="2397d78f">
              <mat-label data-id="20d37225">{{ 'Izquierdo' }}</mat-label>
              <input
                [formControl]="form.get('axisLeft')"
                matInput
                type="number"
                placeholder="{{ 'Eje izquierdo' | translate }}"
                [required]="form.get('cylinderLeft').value"
                data-id="80be3435"
              />
              <mat-error *ngIf="form.get('axisLeft').hasError('required')" data-id="2d7c5bb3">
                {{ 'La medida del eje izquierdo' | translate }}
                <strong data-id="26141619">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--                  <mat-error *ngIf="form.get('axisLeft').hasError('pattern')">-->
              <!--                    {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--                  </mat-error>-->
            </mat-form-field>
          </td>
        </tr>
        <tr data-id="1a8912ea">
          <th class="pb-2" mat-cell data-id="2230d280">
            <span data-id="995f14cc">Ojo derecho</span>
          </th>
          <td class="pb-2" mat-cell data-id="a7523248">
            <mat-form-field appearance="outline" class="select" data-id="d98b91bb">
              <mat-label data-id="ea0b737f">{{ 'Derecho' | translate }}</mat-label>
              <mat-select [formControl]="form.get('right')" data-id="ef2bc8a7">
                <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="5a65ba7a">
                  <mat-option
                    *ngFor="let measure of sign.sign"
                    [value]="measure.value"
                    data-id="43eb29fc"
                  >
                    {{ measure.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error *ngIf="form.get('right').hasError('required')" data-id="45771ad8">
                {{ 'La medida del ojo derecho' | translate }}
                <strong data-id="128ff2e6">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--            <mat-error *ngIf="form.get('left').hasError('pattern')">-->
              <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--            </mat-error>-->
            </mat-form-field>
          </td>
          <td class="pb-2" mat-cell data-id="a3114894">
            <mat-form-field appearance="outline" class="select" data-id="81526eb1">
              <mat-label data-id="42a75cb6">{{ 'Cilindro derecho' | translate }}</mat-label>

              <mat-select [formControl]="form.get('cylinderRight')" data-id="66d63678">
                <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name" data-id="f5033746">
                  <mat-option
                    *ngFor="let measure of sign.sign"
                    [value]="measure.value"
                    data-id="a023b24d"
                  >
                    {{ measure.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error *ngIf="form.get('cylinderRight').hasError('required')" data-id="1fd2f1ae">
                {{ 'La medida del cilindro derecho' | translate }}
                <strong data-id="98919dd2">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--            <mat-error *ngIf="form.get('cylinderLeft').hasError('pattern')">-->
              <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--            </mat-error>-->
            </mat-form-field>
          </td>
          <td class="pb-2" mat-cell data-id="f3aef9c0">
            <mat-form-field appearance="outline" class="select-axis" data-id="dc2c0412">
              <mat-label data-id="34b1c96e">{{ 'Derecho' | translate }}</mat-label>
              <input
                [formControl]="form.get('axisRight')"
                matInput
                type="number"
                placeholder="{{ 'Eje derecho' | translate }}"
                [required]="form.get('cylinderRight').value"
                data-id="04bff539"
              />
              <mat-error *ngIf="form.get('axisRight').hasError('required')" data-id="b1779568">
                {{ 'La medida del eje derecho' | translate }}
                <strong data-id="5ef5239e">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--            <mat-error *ngIf="form.get('axisLeft').hasError('pattern')">-->
              <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--            </mat-error>-->
            </mat-form-field>
          </td>
        </tr>
        <tr data-id="85110147">
          <th class="pb-2" mat-cell data-id="05c05a30">
            <span data-id="342f3b99">ADD</span>
          </th>
          <td class="pb-2" mat-cell data-id="9ec4695f">
            <mat-form-field appearance="outline" class="select-axis" data-id="7fdef207">
              <mat-label data-id="f1a5fee9">{{ 'add' | translate }}</mat-label>
              <input
                [formControl]="form.get('add')"
                matInput
                type="number"
                placeholder="{{ 'Adición' | translate }}"
                [required]="
                  supplementForm
                    .get('supplementType')
                    .value?.RecomendedProduct?.name?.es.includes('Progresivos') ||
                  supplementForm
                    .get('supplementType')
                    .value?.RecomendedProduct?.name?.es.includes('Bifocales')
                "
                data-id="e8e4bc45"
              />
              <mat-error
                *ngIf="form.get('add').hasError('required') && form.get('add').invalid"
                data-id="7aecf2f2"
              >
                {{ 'add' | translate }}
                <strong data-id="40ea3edf">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--            <mat-error *ngIf="form.get('axisLeft').hasError('pattern')">-->
              <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--            </mat-error>-->
            </mat-form-field>
          </td>
          <td class="pb-2" mat-cell data-id="72d53297">
            <mat-form-field appearance="outline" class="select-axis" data-id="c60858b8">
              <mat-label data-id="0dd038ba">{{ 'Distancia pupilar' }}</mat-label>
              <input
                [formControl]="form.get('pupillaryDistance')"
                matInput
                type="number"
                placeholder="{{ 'Eje derecho' | translate }}"
                [required]="form.get('pupillaryDistance').value"
                data-id="ff143b25"
              />
              <mat-error
                *ngIf="form.get('pupillaryDistance').hasError('required')"
                data-id="4b1cad82"
              >
                {{ 'Distancia pupilar' | translate }}
                <strong data-id="81484990">{{ 'is required' | translate }}</strong>
              </mat-error>
              <!--            <mat-error *ngIf="form.get('axisLeft').hasError('pattern')">-->
              <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
              <!--            </mat-error>-->
            </mat-form-field>
          </td>
          <td class="pb-2" mat-cell data-id="9bb920c4"></td>
        </tr>
      </table>
      <div class="d-flex flex-column" data-id="7b58709b">
        <h2 class="title-prescription-image" data-id="7b53c766">
          {{ 'Subir imagen de receta' | translate }}
        </h2>
        <div class="d-flex justify-content-start align-items-start" data-id="d8e74e03">
          <div
            class="container-image-prescription d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-9ca0f7"
            *ngIf="form.get('prescriptionImageName').value; else noPrescriptionImage"
            data-id="0cc2634f"
          >
            <img
              [src]="imageUrl + form.get('prescriptionImageUrl').value"
              width="300px"
              height="300px"
              data-id="36c818c6"
            />
            <button
              (click)="onUploadDataSheet()"
              aria-label="Subir videos"
              class="ml-2 mt-2"
              color="primary"
              mat-mini-fab
              style="font-size: 18px !important"
              matTooltip="Subir archivo que se mostrará en la descripción del producto"
              data-id="87ebd277"
            >
              <mat-icon data-id="af60631f">refresh</mat-icon>
            </button>
          </div>
          <ng-template class="container-image-prescription" #noPrescriptionImage data-id="5eef02f2">
            <div
              class="container-no-image-prescription d-flex justify-content-center align-items-center"
              (click)="onUploadDataSheet()"
              data-id="54d01070"
            >
              <!--            <button (click)='onUploadDataSheet()'-->
              <!--                    aria-label='Subir videos'-->
              <!--                    class='ml-2 mt-2' color='primary' mat-icon-button style='font-size: 18px !important;'-->
              <!--                    matTooltip='Subir archivo que se mostrará en la descripción del producto'>-->
              <!--              <mat-icon (click)='onUploadDataSheet()'>photo_camera</mat-icon>-->
              <!--            </button>-->
              <mat-icon class="icon-camera" data-id="8d597cb8">photo_camera</mat-icon>
            </div>
          </ng-template>
          <!--        <mat-form-field appearance='outline' fxFlex>-->
          <!--          <mat-label>{{'Imagen de receta'|translate}}-->
          <!--          </mat-label>-->
          <!--          <input [formControl]="form.controls['prescriptionImageName']" matInput placeholder="{{'Imagen'|translate}}"-->
          <!--                 readonly-->
          <!--                 type='text'>-->
          <!--          <mat-icon class='greyIcon' matSuffix>link</mat-icon>-->
          <!--          <mat-error *ngIf="form.controls['prescriptionImageName'].hasError('pattern')">-->
          <!--            {{'Url'|translate}} <strong>{{'is not valid'|translate}}</strong>-->
          <!--          </mat-error>-->
          <!--        </mat-form-field>-->
          <!--        <button (click)='onUploadDataSheet()'-->
          <!--                aria-label='Subir videos'-->
          <!--                class='ml-2 mt-2' color='primary' mat-mini-fab style='font-size: 18px !important;'-->
          <!--                matTooltip='Subir archivo que se mostrará en la descripción del producto'>-->
          <!--          <mat-icon>cloud_upload</mat-icon>-->
          <!--        </button>-->
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-between align-items-end" data-id="43d7f27d">
      <!--      <div fxLayout='row' fxLayoutAlign='space-between end'>-->
      <button class="mt-2" color="primary" mat-stroked-button matStepperPrevious data-id="b36f70c3">
        {{ 'Volver' | translate }}
      </button>
      <button
        class="mt-2"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        matStepperNext
        data-id="d6921462"
      >
        {{ 'Siguiente' | translate }}
      </button>
      <!--      </div>-->
    </mat-dialog-actions>
  </mat-step>

  <mat-step data-id="4d0b515b">
    <ng-template matStepLabel class="d-xs-none d-sm-none d-md-none" data-id="0a0c97d9">{{
      'Escoja lentes' | translate
    }}</ng-template>
    <ng-template class="d-xs-inline d-sm-inline d-md-inline d-none" data-id="12ed5a15">{{
      'Escoger lentes' | translate
    }}</ng-template>

    <h3 class="my-3 title-supplement" data-id="65e2aca0">{{ supplementArray[1]?.name }}</h3>
    <h5
      [ngClass]="{
        'subtitle-supplement': !supplementArray[1]?.seeDetails,
        'subtitle-supplement-desplegado': supplementArray[1]?.seeDetails
      }"
      class="my-1 subtitle-supplement"
      data-id="df0f7c52"
    >
      {{ supplementArray[1]?.description }}
    </h5>
    <span
      (click)="supplementArray[1].seeDetails = !supplementArray[1].seeDetails"
      class="see-details d-flex justify-content-center align-items-center"
      data-id="7aa56748"
    >
      {{ (!supplementArray[1]?.seeDetails ? 'Leer más' : 'Leer menos') | translate }}
    </span>
    <div
      class="w-100 mb-3 mt-3 pb-3 row-supplement d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-7c2f41"
      data-id="97e458f3"
    >
      <div
        *ngFor="let element of supplementArray[1].Recomendeds; let j = index"
        class="d-flex flex-column justify-content-start align-items-center flex-sh-50"
        data-id="e3436d11"
      >
        <div
          [ngClass]="{
            supplementColorSelected: element.checked,
            supplementColorUnselected: !element.checked
          }"
          (click)="onChangeSelection($event, 1, j)"
          class="d-flex flex-column justify-content-start align-items-center"
          data-id="46f2ceb0"
        >
          <img
            *ngIf="element?.RecomendedProduct?.name.es !== 'Ninguno'"
            [src]="imageUrl + element?.RecomendedProduct?.Images[0]?.image"
            class="img-supplement mb-2"
            data-id="aa632ff3"
          />
          <div
            style="text-align: center"
            class="d-flex flex-column justify-content-center align-items-center"
            data-id="2f7f779d"
          >
            <span class="mx-2 my-2" data-id="b65963dc"
              ><strong data-id="1c6c64d8">{{
                element?.RecomendedProduct?.name | i18nField: translateService.currentLang
              }}</strong></span
            >
            <!--                  <span *ngIf='element?.RecomendedProduct?.description' class="mx-2 description" [innerHTML]='this.utilsService.publicSetDescription(element?.RecomendedProduct?.description, translateService.currentLang)'></span>-->
            <div
              *ngFor="let item of element?.RecomendedProduct?.PriceRanges"
              class="mx-2 pt-2 d-flex flex-column justify-content-center align-items-center"
              style="width: 80px"
              data-id="f3e39285"
            >
              <!--                      <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>-->
              <p
                *ngIf="element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="5e93145c"
              >
                {{ item?.priceOffer | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
              <p
                *ngIf="!element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="fa0cc24e"
              >
                {{ item?.price | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
            </div>
            <mat-icon
              *ngIf="!element.checked"
              class="icon-unchecked d-flex justify-content-center align-items-center"
              color="primary"
              data-id="8edb6fd6"
            >
              radio_button_unchecked
            </mat-icon>
            <mat-icon
              *ngIf="element.checked"
              class="icon-checked d-flex justify-content-center align-items-center"
              color="accent"
              data-id="b0fea0a1"
            >
              task_alt
            </mat-icon>
          </div>
        </div>
      </div>
    </div>

    <h3 class="my-3 title-supplement" data-id="702f275a">{{ supplementArray[2]?.name }}</h3>
    <h5
      [ngClass]="{
        'subtitle-supplement': !supplementArray[2]?.seeDetails,
        'subtitle-supplement-desplegado': supplementArray[2]?.seeDetails
      }"
      class="my-1 subtitle-supplement"
      data-id="7414ee09"
    >
      {{ supplementArray[2]?.description }}
    </h5>
    <span
      (click)="supplementArray[2].seeDetails = !supplementArray[2].seeDetails"
      class="see-details d-flex justify-content-center align-items-center"
      data-id="258f8486"
    >
      {{ (!supplementArray[2]?.seeDetails ? 'Leer más' : 'Leer menos') | translate }}
    </span>
    <div
      class="w-100 mb-3 mt-3 pb-3 row-supplement d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-0de8d1"
      data-id="ab8b3ef9"
    >
      <div
        *ngFor="let element of supplementArray[2].Recomendeds; let j = index"
        class="d-flex flex-column justify-content-start align-items-center flex-sh-50"
        data-id="4f0942f6"
      >
        <div
          [ngClass]="{
            supplementColorSelected: element.checked,
            supplementColorUnselected: !element.checked
          }"
          (click)="onChangeSelection($event, 2, j)"
          class="d-flex flex-column justify-content-start align-items-center"
          data-id="a87dd824"
        >
          <img
            *ngIf="element?.RecomendedProduct?.name.es !== 'Ninguno'"
            [src]="imageUrl + element?.RecomendedProduct?.Images[0]?.image"
            class="img-supplement mb-2"
            data-id="5f106af3"
          />
          <div
            style="text-align: center"
            class="d-flex flex-column justify-content-center align-items-center"
            data-id="cf3227ea"
          >
            <span class="mx-2 my-2" data-id="6ee463c7"
              ><strong data-id="529a8eec">{{
                element?.RecomendedProduct?.name | i18nField: translateService.currentLang
              }}</strong></span
            >
            <!--                  <span *ngIf='element?.RecomendedProduct?.description' class="mx-2 description" [innerHTML]='this.utilsService.publicSetDescription(element?.RecomendedProduct?.description, translateService.currentLang)'></span>-->
            <div
              *ngFor="let item of element?.RecomendedProduct?.PriceRanges"
              class="mx-2 pt-2 d-flex flex-column justify-content-center align-items-center"
              style="width: 80px"
              data-id="29a1fef1"
            >
              <!--                      <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>-->
              <p
                *ngIf="element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="5237f072"
              >
                {{ item?.priceOffer | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
              <p
                *ngIf="!element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="d593ec8b"
              >
                {{ item?.price | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
            </div>
            <mat-icon
              *ngIf="!element.checked"
              class="icon-unchecked d-flex justify-content-center align-items-center"
              color="primary"
              data-id="20f70d77"
            >
              radio_button_unchecked
            </mat-icon>
            <mat-icon
              *ngIf="element.checked"
              class="icon-checked d-flex justify-content-center align-items-center"
              color="accent"
              data-id="251d32a8"
            >
              task_alt
            </mat-icon>
          </div>
        </div>
      </div>
    </div>

    <h3 class="my-3 title-supplement" data-id="17d9718a">{{ supplementArray[3]?.name }}</h3>
    <h5
      [ngClass]="{
        'subtitle-supplement': !supplementArray[3]?.seeDetails,
        'subtitle-supplement-desplegado': supplementArray[3]?.seeDetails
      }"
      class="my-1 subtitle-supplement"
      data-id="7e48ac35"
    >
      {{ supplementArray[3]?.description }}
    </h5>
    <span
      (click)="supplementArray[3].seeDetails = !supplementArray[3].seeDetails"
      class="see-details d-flex justify-content-center align-items-center"
      data-id="f046e6eb"
    >
      {{ (!supplementArray[3]?.seeDetails ? 'Leer más' : 'Leer menos') | translate }}
    </span>
    <div
      class="w-100 mb-3 mt-3 pb-3 row-supplement d-flex justify-content-between align-items-center transpilerClass-fxLayoutGap-130802"
      data-id="93fb0e0c"
    >
      <div
        *ngFor="let element of supplementArray[3].Recomendeds; let j = index"
        class="d-flex flex-column justify-content-start align-items-center flex-sh-50"
        data-id="a6d2151e"
      >
        <div
          [ngClass]="{
            supplementColorSelected: element.checked,
            supplementColorUnselected: !element.checked
          }"
          (click)="onChangeSelection($event, 3, j)"
          class="d-flex flex-column justify-content-start align-items-center"
          data-id="6f66f460"
        >
          <img
            *ngIf="element?.RecomendedProduct?.name.es !== 'Ninguno'"
            [src]="imageUrl + element?.RecomendedProduct?.Images[0]?.image"
            class="img-supplement mb-2"
            data-id="09994b04"
          />
          <div
            style="text-align: center"
            class="d-flex flex-column justify-content-center align-items-center"
            data-id="888deb82"
          >
            <span class="mx-2 my-2" data-id="55d4cc2c"
              ><strong data-id="b276c985">{{
                element?.RecomendedProduct?.name | i18nField: translateService.currentLang
              }}</strong></span
            >
            <!--                  <span *ngIf='element?.RecomendedProduct?.description' class="mx-2 description" [innerHTML]='this.utilsService.publicSetDescription(element?.RecomendedProduct?.description, translateService.currentLang)'></span>-->
            <div
              *ngFor="let item of element?.RecomendedProduct?.PriceRanges"
              class="mx-2 pt-2 d-flex flex-column justify-content-center align-items-center"
              style="width: 80px"
              data-id="1c9c74e6"
            >
              <!--                      <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>-->
              <p
                *ngIf="element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="cd486da1"
              >
                {{ item?.priceOffer | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
              <p
                *ngIf="!element?.RecomendedProduct?.offerValue"
                class="mat-subtitle-2"
                data-id="5d5d7775"
              >
                {{ item?.price | currencyMarket: element?.RecomendedProduct?.market }}
              </p>
            </div>
            <mat-icon
              *ngIf="!element.checked"
              class="icon-unchecked d-flex justify-content-center align-items-center"
              color="primary"
              data-id="d7adedec"
            >
              radio_button_unchecked
            </mat-icon>
            <mat-icon
              *ngIf="element.checked"
              class="icon-checked d-flex justify-content-center align-items-center"
              color="accent"
              data-id="ed041c5b"
            >
              task_alt
            </mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!this.loadingSearch"
      class="d-flex d-xs-flex d-sm-flex d-md-flex justify-content-between align-items-end transpilerClass-fxLayoutGap-b29075"
      data-id="d4d5cd0a"
    >
      <button mat-stroked-button mat-dialog-close color="warn" (click)="close()" data-id="3bf1ee8a">
        {{ 'Cancelar' | translate }}
      </button>
      <div class="d-flex flex-column transpilerClass-fxLayoutGap-d595e3" data-id="3c9ea10d">
        <button class="mt-2" mat-stroked-button color="primary" (click)="save()" data-id="5760f7b1">
          {{ 'Añadir al carrito' | translate }}
        </button>
        <button
          class="mt-2"
          mat-raised-button
          color="primary"
          (click)="buyNow()"
          data-id="09cc2f9e"
        >
          {{ 'Comprar ahora' | translate }}
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!--<div class='difuminado w-100'>-->
<!--&lt;!&ndash;  <h6 style='color: white'>Lentes</h6>&ndash;&gt;-->
<!--</div>-->
