<mat-dialog-content data-id="c8a453da">
  <blockquote data-id="dc26421e">
    <p data-id="3b52c7d8">
      {{ 'Usted dejara nuestro sistema y navegara hacia la pasarela de pago' | translate }}
    </p>
  </blockquote>
</mat-dialog-content>
<mat-dialog-actions data-id="8e14507b">
  <form
    ngNoForm
    method="post"
    target="_blank"
    action="https://apibidpay.peoplegoto.com/v1/to-pgt-redirect"
    data-id="205cc35e"
  >
    <div id="inputsHiddenBid" data-id="f758af2b"></div>
    <button
      class="primary-buttom"
      id="bid-btn-submit"
      type="submit"
      value="Enviar"
      aria-label="Confirm"
      mat-button
      mat-dialog-close
      data-id="22b3a808"
    >
      {{ 'Confirmar' | translate }}
    </button>
  </form>
</mat-dialog-actions>
