@import 'scss/mixins/breakpoints';

span {
  font-size: 18px;
}

.container-info-text {
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 1rem;
}

.transpilerClass-fxFlex-34035f {
  flex: 1 1 5%;
}

.transpilerClass-fxFlex-c26f26 {
  flex: 1 1 25%;
}

.transpilerClass-fxFlex-a22e70 {
  flex: 1 1 15%;
}

.transpilerClass-fxFlex-a4ad81 {
  flex: 1 1 5%;
}

.transpilerClass-fxFlex-f58a87 {
  flex: 1 1 25%;
}

.transpilerClass-fxFlex-4db7b5 {
  flex: 1 1 15%;
}

.transpilerClass-fxFlex-56e69b {
  flex: 1 1 45%;
}

.transpilerClass-fxFlex-e09b55 {
  flex: 1 1 45%;
}
