<div class="dialog-content-wrapper">
  <mat-toolbar *ngIf="action == 'confirmed'" id="successPay" matDialogTitle>
    <mat-toolbar-row class="d-flex justify-content-between align-items-center">
      <mat-icon>done_all</mat-icon>
      <span class="mat-title mb-0">{{ 'Pago Confirmado' | translate }}</span>
      <button (click)="dialogRef.close()" aria-label="Close dialog" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar *ngIf="action == 'cancelled'" id="cancelledPay" matDialogTitle>
    <mat-toolbar-row class="d-flex justify-content-between align-items-center">
      <mat-icon>cancel</mat-icon>
      <span class="mat-title mb-0">{{ 'Pago Cancelado' | translate }}</span>
      <button (click)="dialogRef.close()" aria-label="Close dialog" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="my-dialog-content" mat-dialog-content>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>

    <div
      *ngIf="this.selectedPayment"
      class="container-bulling w-100 d-flex flex-column justify-content-start align-items-stretch"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-f6c04f transpilerClass-fxFlex-e15adb transpilerClass-fxFlex-9fa799"
        >
          <span class="mb-0 mt-1 main-primary-700 mat-body-2">{{ 'Id de pago' | translate }}</span>
          <span class="mb-0 mt-1 main-primary-700 mat-body-2">{{ selectedPayment.order }}</span>
        </div>

        <div
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-ce41b1 transpilerClass-fxFlex-bce7bd transpilerClass-fxFlex-2b45a7"
        >
          <span class="mb-0 mt-1 main-primary-700 mat-body-2">{{
            'fecha de creación' | translate
          }}</span>
          <span class="mb-0 mt-1 main-primary-700 mat-body-2">{{
            selectedPayment.createdAt | date: 'short'
          }}</span>
        </div>

        <div
          *ngIf="selectedPayment.cancelledAt"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-4ee8b2 transpilerClass-fxFlex-301183 transpilerClass-fxFlex-b92cf2"
        >
          <span class="mb-0 mt-1 main-primary-700 mat-body-2">{{
            'fecha de cancelación' | translate
          }}</span>
          <span class="mb-0 mt-1 main-primary-700 mat-body-2">{{
            selectedPayment.cancelledAt | date: 'short'
          }}</span>
        </div>
      </div>

      <mat-divider class="my-2"></mat-divider>

      <div class="mt-1 d-flex justify-content-start align-items-center">
        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-c72c67 transpilerClass-fxFlex-08f675 transpilerClass-fxFlex-1d5cb7"
        >
          <span class="mat-caption color-grey-800">
            {{ 'Country' | translate }}
          </span>
          <span>
            {{ utilsService.parserLanguage(selectedPayment.Country.name, language) }}
          </span>
        </div>

        <ng-container *ngIf="selectedPayment.CountryId != 59">
          <div
            ngClass.gt-xs="py-3"
            ngClass.lt-sm="py-2 border-bottom"
            class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-e7eccf transpilerClass-fxFlex-40b37c transpilerClass-fxFlex-326dc8"
          >
            <span class="mat-caption color-grey-800">
              {{ 'City' | translate }}
            </span>
            <span>
              {{ this.selectedPayment.city }}
            </span>
          </div>

          <div
            ngClass.gt-xs="py-3"
            ngClass.lt-sm="py-2 border-bottom"
            class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-17e983 transpilerClass-fxFlex-4b36ef transpilerClass-fxFlex-5c6e89"
          >
            <span class="mat-caption color-grey-800">
              {{ 'Region / Province / State' | translate }}
            </span>
            <span>
              {{ this.selectedPayment.regionProvinceState }}
            </span>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedPayment.CountryId == 59">
          <div
            ngClass.gt-xs="py-3"
            ngClass.lt-sm="py-2 border-bottom"
            class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-39eb48 transpilerClass-fxFlex-8ad44f transpilerClass-fxFlex-56bdb2"
          >
            <span class="mat-caption color-grey-800">
              {{ 'Municipio' | translate }}
            </span>
            <span>
              {{ this.selectedPayment.Municipality?.name }}
            </span>
          </div>

          <div
            ngClass.gt-xs="py-3"
            ngClass.lt-sm="py-2 border-bottom"
            class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-28340d transpilerClass-fxFlex-2b30c5 transpilerClass-fxFlex-0cd339"
          >
            <span class="mat-caption color-grey-800">
              {{ 'Provincia' | translate }}
            </span>
            <span>
              {{ this.selectedPayment.Province?.name }}
            </span>
          </div>
        </ng-container>

        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-a93844 transpilerClass-fxFlex-a976b6 transpilerClass-fxFlex-c6e657"
        >
          <span class="mat-caption color-grey-800">
            {{ 'Dirección' | translate }}
          </span>
          <span>
            {{ this.selectedPayment.address.street }} {{ this.selectedPayment.address.number }}
            {{ this.selectedPayment.address.between }}
          </span>
        </div>
        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-f39f2e transpilerClass-fxFlex-fbae66 transpilerClass-fxFlex-891552"
        >
          <span class="mat-caption color-grey-800">
            {{ 'Teléfono' | translate }}
          </span>
          <span>
            {{ this.selectedPayment.phone }}
          </span>
        </div>
        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-948f8d transpilerClass-fxFlex-ca2529 transpilerClass-fxFlex-4c5a3b"
        >
          <span class="mat-caption color-grey-800">
            {{ 'Client' | translate }}
          </span>
          <span>
            {{ this.selectedPayment.name + ' ' + (this.selectedPayment.lastname || '') }}
          </span>
        </div>
      </div>

      <mat-divider class="d-xs-none"></mat-divider>

      <div class="mt-1 d-flex justify-content-start align-items-center">
        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-3f8837 transpilerClass-fxFlex-6dc3ac transpilerClass-fxFlex-f25622"
        >
          <span class="mat-caption color-grey-800">
            {{ 'No. of order' | translate }}
          </span>
          <span>
            {{ this.selectedPayment.order }}
          </span>
        </div>

        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-a07475 transpilerClass-fxFlex-4a775d transpilerClass-fxFlex-662c3a"
        >
          <ng-container *ngIf="this.selectedPayment.status == 'cancelled'">
            <span class="mat-caption color-grey-800">
              {{ 'Devolución' | translate }}
            </span>
            <span>
              {{ this.selectedPayment.cancelRefund | currency: this.selectedPayment.currency }}
            </span>
          </ng-container>
          <ng-container *ngIf="this.selectedPayment.status != 'cancelled'">
            <span class="mat-caption color-grey-800">
              {{ 'Amount' | translate }}
            </span>
            <span>
              {{ this.selectedPayment.amount | currency: this.selectedPayment.currency }}
            </span>
          </ng-container>
        </div>

        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-6dd2f5 transpilerClass-fxFlex-56a21e transpilerClass-fxFlex-1dc242"
        >
          <span class="mat-caption color-grey-800">
            {{ 'Status' | translate }}
          </span>
          <span [class]="this.status[this.selectedPayment.status].class">
            {{
              this.utilsService.parserLanguage(
                this.status[this.selectedPayment.status].status,
                this.language
              )
            }}
          </span>
        </div>
      </div>

      <mat-divider class="d-xs-none"></mat-divider>

      <div class="mt-1 d-flex justify-content-start align-items-center">
        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-b67591 transpilerClass-fxFlex-68e30b transpilerClass-fxFlex-20c7f2"
        >
          <span class="mat-caption color-grey-800">
            {{ 'TPV' | translate }}
          </span>
          <span>
            {{ this.selectedPayment.paymentType }}
          </span>
        </div>

        <div
          ngClass.gt-xs="py-3"
          ngClass.lt-sm="py-2 border-bottom"
          class="d-flex flex-column justify-content-start align-items-start transpilerClass-fxFlex-b66770 transpilerClass-fxFlex-fad28e transpilerClass-fxFlex-c69167"
        >
          <span class="mat-caption color-grey-800">
            {{ 'Email' | translate }}
          </span>
          <span>
            {{ this.selectedPayment.email }}
          </span>
        </div>
      </div>

      <mat-divider class="d-xs-none"></mat-divider>

      <ng-container *ngIf="this.selectedPayment.status == 'cancelled'">
        <p class="mat-title my-2" ngClass.xs="mat-body-2">
          {{ 'Comentario acerca de la cancelación' | translate }}
        </p>
        <blockquote class="cancelNote">
          <p>{{ selectedPayment.cancelNote }}</p>
        </blockquote>
      </ng-container>

      <div class="mt-3 d-flex justify-content-end align-items-center">
        <button
          (click)="onGetVoucher(this.selectedPayment)"
          *ngIf="
            this.selectedPayment.status == 'confirmed' || this.selectedPayment.status == 'delivered'
          "
          class="mx-2"
          color="primary"
          mat-stroked-button
          matTooltip="{{ 'Obtener el vouvher de pago' | translate }}"
        >
          <mat-icon>cloud_download</mat-icon>
          {{ 'VOUCHER' | translate }}
        </button>

        <button
          (click)="onAccept(this.selectedPayment)"
          class="mx-2"
          color="primary"
          mat-flat-button
        >
          {{ 'ACEPTAR' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
