@import 'app';
@import 'scss/mixins/breakpoints';

.button-share {
  margin-bottom: 17px;
}

.transpilerClass-fxFlex-58d3ef {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-a909be {
  flex: 1 1 48%;
}

.transpilerClass-fxLayoutGap-6a86b0 {
  gap: 6px;
}

.transpilerClass-fxLayoutGap-8bf575 {
  gap: 8px;
}

.contentSize {
  min-height: 80vh;
  max-height: 30rem;
}

.loadingSize {
  min-height: 34rem;
}

::ng-deep button.cursorNone {
  cursor: auto !important;
  box-shadow: none !important;
}
