@import 'scss/mixins/breakpoints';

span {
  font-size: 18px;
}

.transpilerClass-fxFlex-0e1780 {
  flex: 1 1 5%;
}

.transpilerClass-fxFlex-e67ba7 {
  flex: 1 1 25%;
}

.transpilerClass-fxFlex-091cd0 {
  flex: 1 1 12%;
}

.transpilerClass-fxFlex-9e59e9 {
  flex: 1 1 5%;
}

.transpilerClass-fxFlex-5ae8e5 {
  flex: 1 1 25%;
}

.transpilerClass-fxFlex-a19641 {
  flex: 1 1 12%;
}

.transpilerClass-fxFlex-4a2cfa {
  flex: 1 1 5%;
}

.transpilerClass-fxFlex-de21cf {
  flex: 1 1 25%;
}

.transpilerClass-fxFlex-fe449c {
  flex: 1 1 12%;
}
