<div class="d-flex flex-column justify-content-around align-items-center" data-id="3d15cfbd">
  <!-- Get Link -->
  <div
    class="w-100 m-4 d-flex flex-column d-sm-flex justify-content-center align-items-center"
    data-id="337332a1"
  >
    <div class="d-flex justify-content-start align-items-center flex-sh-5" data-id="fef9b672">
      <button mat-fab color="primary" class="cursorNone" disableRipple data-id="11fd30df">
        <div style="font-size: x-large" data-id="3ae80957">1</div>
      </button>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-sh-24" data-id="1c0d510d">
      <span data-id="c5b0eebf">{{ 'Obtén tu Código' | translate }}</span>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-sh-10" data-id="01dca2ff">
      <button
        mat-flat-button
        color="primary"
        (click)="copyLink()"
        [cdkCopyToClipboard]="userLinkReferred ?? ''"
        class="w-100"
        data-id="da6e25aa"
      >
        {{ 'Copiar enlace' | translate }}
      </button>
    </div>
  </div>

  <!-- Comparte -->
  <div
    class="w-100 m-4 d-flex flex-column d-sm-flex justify-content-center align-items-center"
    data-id="a428b2aa"
  >
    <div class="d-flex justify-content-start align-items-center flex-sh-5" data-id="acbc8a01">
      <button mat-fab color="primary" class="cursorNone" disableRipple data-id="4bb59a6d">
        <div style="font-size: x-large" data-id="7fd168a3">2</div>
      </button>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-sh-24" data-id="92ebfb04">
      <span data-id="29f84f7e"> {{ 'Comparte el código con tus amigos' | translate }}</span>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-sh-10" data-id="a9b2df89">
      <button
        mat-flat-button
        color="primary"
        (click)="windowOpen()"
        class="w-100"
        data-id="60fefa8e"
      >
        {{ 'Compartir enlace' | translate }}
      </button>
    </div>
  </div>
  <!-- Check -->
  <div
    class="w-100 m-4 d-flex flex-column d-sm-flex justify-content-center align-items-center"
    data-id="b605fb8e"
  >
    <div class="d-flex justify-content-start align-items-center flex-sh-5" data-id="189b7ac0">
      <button mat-fab color="primary" class="cursorNone" disableRipple data-id="935fbe42">
        <div style="font-size: x-large" data-id="bb2cbf82">3</div>
      </button>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-sh-24" data-id="2f4bf3dc">
      <span data-id="fabc237e">{{ 'Acumula Premios' | translate }}</span>
    </div>
    <div class="d-flex justify-content-start align-items-center flex-sh-10" data-id="d7abad77">
      <button
        mat-flat-button
        color="primary"
        (click)="eventClose.emit()"
        class="w-100"
        data-id="26540a9b"
      >
        {{ 'Comprobar' | translate }}
      </button>
    </div>
  </div>
</div>
