@import 'scss/mixins/breakpoints';
@import 'app';

.example-spacer {
  flex: 1 1 auto;
}

.stepperForm {
  box-sizing: border-box;
  margin-right: 20px;
  padding: 16px;

  @media (max-width: 800px) {
    padding: 0;
  }
}

.form-valid {
  color: #1bc086;
}

.container-stepper {
  max-width: 900px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (max-width: 800px) {
    padding: 0;
  }
}

.questions {
  height: 100vh;
  padding: 16px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 400px;
}

.fixed-bar {
  position: fixed;
  width: 30%;
  top: 0;
  right: 0;
}

.row-line {
  height: 54px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 16px;
}

::ng-deep .mat-expansion-panel-header {
  height: 100% !important;
  padding: 10px 24px !important;
  border-radius: 0 !important;
}

::ng-deep .mat-expansion-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 0px !important;
}

::ng-deep .image-holder-loaded {
  width: 150px !important;
  min-width: 0px !important;
}

::ng-deep .image-upload-btn mat-icon {
  color: #424242;
  font-size: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
  width: 36px !important;
}

.form-field-width {
  //max-width: 35rem;
  width: 100%;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: $theme-main-accent;
  color: rgba(0, 0, 0, 0.87);
  height: 36px;
  width: 36px;
  margin-top: -5px;
}

.transpilerClass-fxFlex-b3cedf {
  flex: 1 1 49%;
}

.transpilerClass-fxFlex-eb481d {
  flex: 1 1 49%;
}

.transpilerClass-fxFlex-0cac79 {
  flex: 1 1 49%;
}

.transpilerClass-fxFlex-10896b {
  flex: 1 1 0%;
}

.transpilerClass-fxFlex-01b66f {
  @include media-breakpoint('md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-1c2c10 {
  @include media-breakpoint('md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-053e1b {
  @include media-breakpoint('md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-8062a3 {
  @include media-breakpoint('md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-f2ce9d {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 70%;
}

.transpilerClass-fxFlex-de680a {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-e4354a {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-17be6b {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-ab5db7 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-f6b379 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-f8c5e6 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-32355d {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-6ddf63 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-3ed4ec {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-599e76 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 32%;
}

.transpilerClass-fxFlex-726731 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 32%;
}

.transpilerClass-fxFlex-38bda6 {
  @include media-breakpoint('sm') {
    flex: initial;
  }
  flex: 1 1 32%;
}

.transpilerClass-fxLayoutGap-b9a2b6 {
  gap: 16px;
}

.transpilerClass-fxLayoutGap-22be37 {
  gap: 1rem;
}
