<mat-dialog-content data-id="c7d7a25f">
  <blockquote data-id="b67c8d01">
    <p data-id="5c2b905b">
      {{
        'Usted dejará nuestro sistema y navegará hacia la pasarela online, marque CONFIRMAR para proseguir con su cancelación'
          | translate
      }}
    </p>
  </blockquote>
</mat-dialog-content>

<mat-dialog-actions align="end" data-id="6321b70a">
  <button class="mr-3" mat-button mat-dialog-close data-id="e3dd7e10">
    {{ 'Cancelar' | translate }}
  </button>
  <form
    action="https://www.administracomercios.com/index.php"
    method="post"
    ngNoForm
    target="_self"
    data-id="fa750d95"
  >
    <div id="inputsHiddenBid" data-id="683f09c8"></div>
    <button
      aria-label="Confirm"
      color="primary"
      id="bid-btn-submit"
      mat-dialog-close
      mat-flat-button
      type="submit"
      value="Enviar"
      data-id="ba1d60f9"
    >
      {{ 'CONFIRMAR' | translate }}
    </button>
  </form>
</mat-dialog-actions>
