<div class="dialog-content-wrapper" data-id="f7b66e43">
  <mat-toolbar color="primary" id="toolbarHeader" matDialogTitle data-id="2e2aa657">
    <mat-toolbar-row class="d-flex justify-content-between align-items-center" data-id="84f701cb">
      {{ 'Editar perfil' | translate }}
      <button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
        mat-icon-button
        data-id="4775bfc8"
      >
        <mat-icon data-id="fc3f15a8">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="my-dialog-content" mat-dialog-content data-id="7d365d6a">
    <div class="imagePickerRow d-flex justify-content-center align-items-center" data-id="9448b545">
      <app-guachos-image
        [create]="!loggedInUser.avatar"
        [imageSrc]="urlImage + loggedInUser.avatar"
        [config]="imagePickerConf"
        (imageChanged)="onImageChange($event)"
        data-id="19891503"
      ></app-guachos-image>
    </div>

    <form [formGroup]="form" data-id="8857db8e">
      <div class="d-flex flex-column justify-content-start align-items-stretch" data-id="18ef1bf9">
        <div class="d-flex justify-content-center align-items-center" data-id="4e170fd7">
          <span
            *ngIf="this.loggedInUser"
            class="mat-title my-2"
            style="font-size: 24px"
            data-id="0195a5bc"
          >
            {{ this.loggedInUser.username }}
          </span>
          <span
            *ngIf="!this.loggedInUser"
            class="mat-title my-2"
            style="font-size: 24px"
            data-id="6d65bf1d"
          >
            {{ 'Username' }}
          </span>
        </div>
        <mat-form-field appearance="outline" data-id="9c37e758">
          <mat-label data-id="650de840">{{ 'Name' | translate }}</mat-label>
          <input
            [formControl]="form.controls['name']"
            matInput
            placeholder="{{ 'Name' | translate }}"
            type="text"
            data-id="d67fc4a5"
          />
          <mat-icon class="greyIcon" matSuffix data-id="a89be6c7">person</mat-icon>
          <mat-error *ngIf="form.controls['name'].hasError('required')" data-id="b065546d">
            {{ 'Name' | translate }}
            <strong data-id="f42ace94">{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" data-id="b18b0a20">
          <mat-label data-id="f85279f7">{{ 'Lastname' | translate }}</mat-label>
          <input
            [formControl]="form.controls['lastName']"
            matInput
            placeholder="{{ 'Lastname' | translate }}"
            type="text"
            data-id="c3a72e97"
          />
          <mat-icon class="greyIcon" matSuffix data-id="20906ce8">person</mat-icon>
          <mat-error *ngIf="form.controls['lastName'].hasError('required')" data-id="219507e8">
            {{ 'lastName' | translate }}
            <strong data-id="8367d9c7">{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>

        <!--        <mat-form-field appearance="outline">-->
        <!--          <mat-label>{{'Username'|translate}}</mat-label>-->
        <!--          <input type="text" matInput [formControl]="form.controls['username']" placeholder="{{'Username'|translate}}">-->
        <!--          <mat-error *ngIf="form.controls['username'].hasError('required')">-->
        <!--            {{'username'|translate}} <strong>{{'is required'|translate}}</strong>-->
        <!--          </mat-error>-->
        <!--        </mat-form-field>-->

        <mat-form-field appearance="outline" data-id="4c85f58e">
          <mat-label data-id="d5ac1eb3"
            >{{ 'Email' | translate }} ({{ 'Username' | translate }})</mat-label
          >
          <input
            [formControl]="form.controls['email']"
            matInput
            placeholder="{{ 'Email' | translate }}"
            type="email"
            data-id="af96a0a5"
          />
          <mat-icon class="greyIcon" matSuffix data-id="f6850a61">mail</mat-icon>
          <mat-error *ngIf="form.controls['email'].hasError('required')" data-id="d3139ed9">
            {{ 'email' | translate }}
            <strong data-id="8339fd31">{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <div
          class="w-100 d-flex flex-sh-50 flex-sh-md-100 transpilerClass-fxLayoutGap-70f8f9"
          data-id="8e8a5435"
        >
          <guajiritos-general-autocomplete
            [withoutPaddingBottom]="false"
            [label]="'Código telefónico'"
            [valueId]="false"
            [displayOptions]="callingCodeDisplayOptions"
            [field]="['code']"
            [filterString]="['filter[$and][code][$like]']"
            [url]="phoneCodesService.url"
            [formControl]="form.get('PhoneCallingCodeId')"
            class="flex-sh-30"
            data-id="8462fc49"
          ></guajiritos-general-autocomplete>

          <mat-form-field
            appearance="outline"
            id="phone"
            class="flex-sh-70 flex-sh-md-70"
            data-id="526494b9"
          >
            <mat-label data-id="bd8255f3">{{ 'Teléfono celular' | translate }}</mat-label>
            <!--                      <span class="mr-2" matPrefix>+ 53</span>-->
            <mat-icon class="greyIcon" matSuffix data-id="80c6f515">call</mat-icon>
            <input
              (keypress)="utilsService.keyPressNumbers($event)"
              [formControl]="form.get('phone')"
              matInput
              autocomplete="off"
              placeholder="{{ 'Teléfono...' | translate }}"
              data-id="c880e261"
            />
            <mat-hint *ngIf="form.get('phone').invalid" data-id="1a7731c8">
              {{ 'Teléfono es requerido' | translate }}
            </mat-hint>

            <mat-error *ngIf="form.get('phone').hasError('required')" data-id="4d656c7c">
              {{ 'Teléfono es requerido' | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                (form.controls['phone'].hasError('minlength') ||
                  form.controls['phone'].hasError('maxlength')) &&
                !form.controls['phone'].hasError('pattern')
              "
              data-id="0e3aef1e"
            >
              {{ 'Longitud del número' | translate }}&nbsp;<strong data-id="6b304491">{{
                '8 caracteres, Ex: 51234567' | translate
              }}</strong>
            </mat-error>

            <mat-error
              *ngIf="
                (form.controls['phone'].hasError('minlength') ||
                  form.controls['phone'].hasError('maxlength')) &&
                !form.controls['phone'].hasError('pattern')
              "
              data-id="39158b1f"
            >
              {{ 'Longitud del número' | translate }}&nbsp;<strong data-id="29ab298a">{{
                '8 caracteres, Ex: 51234567' | translate
              }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" data-id="2922b127">
          <mat-label data-id="363a8656">{{ 'Documento de identidad' | translate }}</mat-label>
          <input
            [formControl]="form.controls['ci']"
            matInput
            placeholder="{{ 'Phone' | translate }}"
            type="tel"
            (keypress)="utilsService.keyPressAlphaAndNumbersModIdentity($event)"
            data-id="933498a0"
          />
          <mat-icon class="greyIcon" matSuffix data-id="0129fbd6">contact_page</mat-icon>
          <mat-hint data-id="d3be6548">{{
            'Formato de documento de identidad de 11 dígitos mínimo' | translate
          }}</mat-hint>
          <mat-error *ngIf="form.controls['ci'].hasError('required')" data-id="e6ebbca9">
            {{ 'phone' | translate }}
            <strong data-id="1a017eb9">{{ 'is required' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['ci'].hasError('pattern')" data-id="f9c4e885">
            {{ 'Identification' | translate }}
            <strong data-id="58ae9cff">{{ 'incorrecto' | translate }}</strong>
          </mat-error>
          <mat-error
            *ngIf="
              form.controls['ci'].hasError('minlength') || form.controls['ci'].hasError('maxlength')
            "
            data-id="639c6799"
          >
            {{ 'Identification' | translate }}
            <strong data-id="93534c1f">{{ 'must have 11 characters' | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
          <mat-label>{{'Dirección'|translate}}</mat-label>
          <input [formControl]="form.controls['address']" matInput placeholder="{{'Dirección'|translate}}" type='text'>
          <mat-icon class='greyIcon' matSuffix>my_location</mat-icon>
          <mat-error *ngIf="form.controls['address'].hasError('required')">
            {{'Dirección'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>{{'Feha de nacimiento'|translate}}</mat-label>
          <input [formControl]="form.controls['birthday']" [matDatepicker]="picker" [readonly]="true" matInput
                 placeholder="29/9/1995">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="startDate" startView="year"></mat-datepicker>
        </mat-form-field>


         <mat-slide-toggle color="primary" (change)="onSelectSliderChange($event)" [checked]="isChangePass">
          {{'Change password'|translate}}</mat-slide-toggle>

        <div *ngIf="isChangePass" fxLayout="column" class="p-2 mt-2 PassSection" fxLayoutAlign="start stretch">
          <div fxLayout="row wrap" class="mt-2" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
              <mat-label>{{'Password'|translate}}</mat-label>
              <input matInput placeholder="{{'Password'|translate}}" [type]="this.passwordType" required
                [formControl]="formPass.controls['password']">
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'password'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'text'">
                visibility</mat-icon>
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'text'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
              <mat-error *ngIf="formPass.controls['password'].hasError('required')">
                {{'Password'|translate}} <strong>{{'is required'|translate}}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline" fxFlex="100"
              [ngClass]="{'mat-form-field-invalid': formPass.hasError('mismatch'), 'ng-invalid': formPass.hasError('mismatch'), 'ng-valid': !formPass.hasError('mismatch')}">
              <mat-label>{{'Repeat pass'|translate}}</mat-label>
              <input matInput placeholder="{{'Repeat pass'|translate}}" required [type]="this.passwordType"
                [ngClass]="{'ng-invalid': formPass.hasError('mismatch')}" [formControl]="formPass.controls['repeat']">
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'password'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'text'">
                visibility</mat-icon>
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'text'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="pb-3">
            <mat-error *ngIf="formPass.hasError('mismatch')">
              {{'Password'|translate}} <strong>{{'most be equals'|translate}}</strong>
            </mat-error>
          </div>

        </div> -->
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-end-i align-items-start" data-id="92856895">
    <button
      (click)="onUpdateProfile()"
      [disabled]="this.form.invalid || (isChangePass && this.formPass.invalid)"
      color="primary"
      mat-flat-button
      data-id="08677f10"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</div>
