<mat-sidenav-container
  *ngIf="appService.businessConfig?.Business?.status !== 'blockPayment'"
  data-id="f77b6d8c"
>
  <!-- Vista movil menu -->
  <mat-sidenav #start [opened]="false" class="DrawerMobileView" mode="over" data-id="53df1213">
    <mat-list class="position-relative" data-id="665dc6b7">
      <mat-list-item data-id="a3594bd6">
        <mat-icon data-id="6e8a30d3"> person</mat-icon>
        &nbsp;
        <span class="mat-subtitle-2" style="font-size: 19px" data-id="03fa3ba3">
          {{ '¡Hola' | translate }},
        </span>
        &nbsp;
        <span
          *ngIf="loggedInUser"
          class="mat-subtitle-2"
          style="font-size: 19px"
          data-id="8b8c6044"
        >
          {{ loggedInUser.name }}!
        </span>

        <a
          *ngIf="!loggedInUser"
          class="mat-subtitle-2"
          href="/my-account"
          style="font-size: 19px"
          data-id="b7bc2df9"
        >
          {{ 'Inicia Sesión' | translate }}!
        </a>

        <span (click)="start.toggle()" class="sidebar-close-btn" data-id="83aa06db">
          <mat-icon data-id="73027163">close</mat-icon>
        </span>
      </mat-list-item>
    </mat-list>

    <mat-divider data-id="3012bf3c"></mat-divider>

    <div
      class="sidebar-nav-items d-flex flex-column justify-content-start align-items-stretch"
      data-id="b08138cb"
    >
      <app-sidebar
        *ngFor="let item of navItems"
        [item]="item"
        (itemSelected)="start.toggle()"
        data-id="129acea2"
      ></app-sidebar>
      <!--            <a mat-list-item class="link-nav-a" href="/become-a-seller">-->
      <!--              <mat-icon class="mr-3">card_membership</mat-icon>-->
      <!--              <span class="mat-body-2" style="font-size: 15px">{{ 'Crea tu negocio' | translate }}</span>-->
      <!--            </a>-->
      <div
        (click)="createYourBusiness()"
        class="link-nav-a"
        *ngIf="appService.businessConfig?.showDigitalContract && !this.loggedInUser?.Business"
        data-id="8e57de56"
      >
        <mat-icon class="mr-3" data-id="41581ca5">card_membership</mat-icon>
        <span class="mat-subtitle-2" style="font-size: 15px" data-id="f2e0aec1">{{
          'Crea tu negocio' | translate
        }}</span>
      </div>
    </div>

    <mat-divider *ngFor="let item of [1, 2, 3, 4]" data-id="42816e22"></mat-divider>

    <mat-list data-id="30da0464">
      <mat-list-item data-id="1fe8c74c">
        <span class="mat-subtitle-2" style="font-size: 19px" data-id="8c27d6ef">
          {{ 'Configuración' | translate }}
        </span>
      </mat-list-item>
    </mat-list>

    <mat-nav-list data-id="0f960fdd">
      <a
        (click)="onShowProfile()"
        *ngIf="loggedInUser"
        mat-list-item
        class="configuration-item"
        data-id="217e054b"
      >
        <mat-icon data-id="a81b26d6">build</mat-icon>
        <span class="ml-3" data-id="378b5f00">{{ 'Profile' | translate }}</span>
      </a>

      <a
        (click)="onShowMyContacts()"
        *ngIf="loggedInUser"
        mat-list-item
        class="configuration-item"
        data-id="2bbb7c69"
      >
        <mat-icon data-id="b292d44e">book</mat-icon>
        <span class="ml-3" data-id="2f80b01a">{{ 'Mis contactos' | translate }}</span>
      </a>

      <a
        (click)="onChangePass()"
        *ngIf="loggedInUser"
        mat-list-item
        class="configuration-item"
        data-id="9e51af00"
      >
        <mat-icon data-id="6f4445cf">no_encryption</mat-icon>
        <span class="ml-3" data-id="ca3a8daf">{{ 'Cambiar contraseña' | translate }}</span>
      </a>

      <!--      <a #langMenuTrigger='matMenuTrigger' [matMenuTriggerFor]='langMenu1' fxLayoutAlign='start center' mat-list-item>-->
      <!--        <img [src]='flag?.image' width='18' />-->
      <!--        <span class='ml-3 mat-body-2'>{{ flag?.name }}</span>-->
      <!--        <mat-icon class='mat-icon-sm caret cur-icon ml-auto'>arrow_drop_down</mat-icon>-->
      <!--      </a>-->

      <!--      <mat-menu #langMenu1='matMenu' [overlapTrigger]='false' class='app-dropdown' xPosition='before'>-->
      <!--        <button (click)='changeLang(flag)' *ngFor='let flag of flags' fxLayoutAlign='start center' mat-menu-item>-->
      <!--          <img [src]='flag?.image' width='18' alt='logo'> <span class='ml-3 mat-body-2'>{{ flag?.name }}</span>-->
      <!--        </button>-->
      <!--      </mat-menu>-->

      <!--<a
        fxLayoutAlign="start center"
        mat-list-item
        [matMenuTriggerFor]="currencyMenu1"
        #currencyMenuTrigger="matMenuTrigger"
      >
        <span *ngIf="currency?.name == 'CUP'" style="font-size: 19px; margin-left: 7px"> &#36; </span>
        <span *ngIf="currency?.name == 'USD'" style="font-size: 19px; margin-left: 7px"> &#36; </span>
        <span class="ml-3 mat-body-2">{{ currency?.name }}</span>
        <mat-icon class="mat-icon-sm caret cur-icon ml-auto">arrow_drop_down</mat-icon>
      </a>-->

      <mat-menu
        #currencyMenu1="matMenu"
        [overlapTrigger]="false"
        class="app-dropdown"
        xPosition="before"
        data-id="41b963df"
      >
        <button
          (click)="changeCurrency(cur)"
          *ngFor="let cur of currencies"
          mat-menu-item
          class="d-flex justify-content-start align-items-center"
          data-id="0abf3b7a"
        >
          <span data-id="9d0dd9bd">{{ cur?.name }}</span>
        </button>
      </mat-menu>

      <a
        (click)="onGotoBackend()"
        *ngIf="
          loggedInUser &&
          (loggedInUserService.isAdminOrOwnerUser() || loggedInUserService.isMessengerUser())
        "
        class="link-nav-a configuration-item"
        mat-list-item
        data-id="a0d57d7a"
      >
        <mat-icon data-id="4243223b">edit</mat-icon>
        <span class="ml-3" data-id="046c07d2">{{ 'Ir a la administración' | translate }}</span>
      </a>

      <a
        (click)="onLogout()"
        *ngIf="loggedInUser"
        class="link-nav-a configuration-item"
        mat-list-item
        data-id="699fcb7d"
      >
        <mat-icon data-id="1a90bbee">exit_to_app</mat-icon>
        <span class="ml-3" data-id="fe32d65f">{{ 'Logout' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Notifications -->
  <mat-sidenav
    #notificationBar
    [opened]="false"
    class="DrawerNotificationPanel"
    fixedInViewport
    mode="over"
    position="end"
    data-id="fd8a4479"
  >
    <mat-list class="position-relative" data-id="8e1ad15d">
      <mat-list-item data-id="051d6adc">
        <mat-icon data-id="f148e2d8"> notifications</mat-icon>
        &nbsp;
        <span class="mat-subtitle-2" style="font-size: 19px" data-id="ecec7146">
          {{ 'Notificaciones' | translate }}
        </span>

        <span (click)="notificationBar.toggle()" class="sidebar-close-btn" data-id="ec5e0d83">
          <mat-icon data-id="39d3828f">close</mat-icon>
        </span>
      </mat-list-item>
    </mat-list>

    <mat-divider data-id="24be97c3"></mat-divider>

    <app-panel-notifications
      (closePanel)="notificationBar.toggle()"
      data-id="49a3547d"
    ></app-panel-notifications>
  </mat-sidenav>

  <!-- Todos excepto vista movil -->
  <div [class.py-2px]="!loggedInUser" class="home-header d-sm-none" data-id="3722d5a3">
    <div
      class="container-header d-flex justify-content-between align-items-center"
      data-id="d66730b1"
    >
      <img
        alt="logo"
        class="Logo-img d-inline d-sm-none"
        (click)="metaAdd()"
        routerLink="/"
        [src]="logo"
        data-id="e43137ad"
      />
      <button (click)="start.toggle()" mat-icon-button class="d-sm-block d-none" data-id="559e6732">
        <mat-icon data-id="bcbb3b4f">menu</mat-icon>
      </button>

      <div
        class="search-form d-flex justify-content-start align-items-center flex-sh-0"
        data-id="55075657"
      >
        <div
          class="search-form d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-d9913a"
          data-id="b3dbc07d"
        >
          <!-- ======== -->
          <!-- Location -->
          <div
            id="nav-location"
            class="info-location d-flex justify-content-start align-items-center transpilerClass-fxLayoutGap-f0f153 d-block d-sm-none"
            (click)="
              tour?.getCurrentStep()?.isOpen() ? $event.stopPropagation() : openSetLocation()
            "
            data-id="f6dd0f2a"
          >
            <div class="nl-logo" data-id="ab9a325f">
              <mat-icon data-id="35cab445">room</mat-icon>
            </div>
            <div
              *ngIf="business || province"
              class="nl-titles d-flex flex-column"
              data-id="14915344"
            >
              <ng-container *ngIf="business" data-id="780cd197">
                <div class="nl-province" data-id="ca3fb5d6">{{ business?.name }}</div>
                <div class="nl-municipality" data-id="6a08be14">{{ province?.name }}</div>
              </ng-container>
              <ng-container *ngIf="!business" data-id="f5eb6eb4">
                <div class="nl-province" data-id="683ce93d">{{ province?.name }}</div>
                <div class="nl-municipality" data-id="b00b29be">{{ municipality?.name }}</div>
              </ng-container>
            </div>

            <div
              *ngIf="!business && !province"
              class="nl-titles d-flex flex-column"
              data-id="4b572215"
            >
              <!-- <span></span>
              <span></span>
              <span></span>
              <span></span> -->
              <div class="nl-province" data-id="7b67b383">{{ 'Comprar en...' | translate }}</div>
              <div class="nl-municipality" data-id="91899f40">
                {{ 'Escoger ubicación' | translate }}
              </div>
            </div>
          </div>

          <!-- ======== -->
          <!-- SEARCHING -->
          <div class="form-wrap flex-sh-NaN" data-id="197edb52">
            <input
              (keyup.enter)="onSearch()"
              [formControl]="searchForm"
              placeholder="{{ 'Buscar en la tienda...' | translate }}"
              type="text"
              [matAutocomplete]="auto"
              data-id="854e6697"
            />
            <mat-spinner
              *ngIf="this.loadingProducts"
              color="primary"
              diameter="30"
              class="spinner-loading"
              data-id="6a7aac12"
            ></mat-spinner>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onSelectElement($event)"
              data-id="01a5e06b"
            >
              <mat-option
                *ngFor="let option of filteredOptions"
                [value]="option"
                data-id="d26d03cf"
              >
                <div [innerHTML]="option.showValue" class="text-filter" data-id="d949a29b"></div>
              </mat-option>
            </mat-autocomplete>

            <button (click)="onSearch()" class="btn-search" data-id="edd23d67">
              <mat-icon data-id="a575ec44">search</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div
        class="userWidgets d-flex justify-content-end align-items-center d-xs-flex d-sm-flex justify-content-xs-start justify-content-sm-start align-items-xs-center align-items-sm-center"
        ngClass.xs="w-100"
        data-id="7f9159b7"
      >
        <div class="d-flex justify-content-end align-items-center flex-sh-74" data-id="d556df4b">
          <div class="widget-text mx-2" data-id="8d80ff6a">
            <a
              #langMenuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="langMenu"
              mat-button
              matTooltip="{{ 'Change language' | translate }}"
              data-id="f2dd0d1f"
            >
              <img [src]="flag?.image" height="24" width="24" data-id="3dccbf53" />
              <span class="flag-menu-title d-none d-sm-inline" data-id="3c98ca4f"></span>
              <mat-icon iconPositionEnd class="mat-icon-sm caret cur-icon" data-id="68b867f0"
                >arrow_drop_down</mat-icon
              >
            </a>
            <mat-menu
              #langMenu="matMenu"
              [overlapTrigger]="false"
              class="app-dropdown"
              xPosition="before"
              data-id="c3621e56"
            >
              <span data-id="6389d5d7">
                <button
                  (click)="changeLang(flag)"
                  *ngFor="let flag of flags"
                  mat-menu-item
                  data-id="eef776a0"
                >
                  <img [src]="flag.image" width="18" data-id="c25fe56d" /> {{ flag?.name }}
                </button>
              </span>
            </mat-menu>
          </div>
        </div>

        <a
          class="px-3 d-flex justify-content-start align-items-center"
          mat-button
          [matMenuTriggerFor]="currencyMenu"
          #currencyMenuTrigger="matMenuTrigger"
          data-id="1fc8a334"
          style="font-weight: bold;"
        >
          <span class="flag-menu-title"  data-id="81b74cff">{{ currency?.name | translate }} $ </span>
          <mat-icon iconPositionEnd class="mat-icon-sm caret cur-icon" data-id="2ca079bc"
            >arrow_drop_down</mat-icon
          >
        </a>
        <mat-menu
          #currencyMenu="matMenu"
          [overlapTrigger]="false"
          xPosition="before"
          class="app-dropdown menu-currency"
          data-id="430f3385"
        >
          <span data-id="b44a50a9">
            <span class="px-2 mt-1 title-mat-menu" data-id="124975c1"
              >{{ 'Currencies' | translate }}:</span
            >
            <button
              mat-menu-item
              *ngFor="let cur of currencies"
              (click)="changeCurrency(cur)"
              data-id="ec234a98"
            >
              <span data-id="b615c7a7">{{ cur?.name | translate }}</span>
            </button>
          </span>
        </mat-menu>

        <!-- ================================ -->
        <!-- CART MENU -->
        <app-shopping-widgets class="button-web-currency" data-id="3dc66b13"></app-shopping-widgets>

        <!-- ================================ -->
        <!-- NOTIFICATIONS -->
        <a
          *ngIf="loggedInUser"
          class="px-3 d-flex justify-content-start align-items-center"
          style="color: white"
          data-id="75cc582b"
        >
          <button (click)="notificationBar.toggle()" mat-icon-button data-id="e3b38286">
            <mat-icon
              [matBadge]="notificationsService.getUnreadNotifications()"
              matBadgeColor="accent"
              data-id="76f73b64"
              >notifications
            </mat-icon>
          </button>
        </a>

        <!-- ================================ -->
        <!-- ACCOUNT MENU -->
        <a
          *ngIf="!loggedInUser"
          [routerLink]="['/my-account']"
          class="px-3 d-flex justify-content-start align-items-center d-inline"
          routerLinkActive="router-link-active"
          data-id="429fbfc0"
        >
          <mat-icon data-id="75bc09b0">person</mat-icon>
          <span class="d-xs-none d-sm-none" data-id="a19c5549">{{ 'Account' | translate }}</span>
        </a>

        <a
          #userMenuTrigger="matMenuTrigger"
          *ngIf="loggedInUser"
          [matMenuTriggerFor]="userMenu"
          class="px-0 pl-2 d-flex justify-content-start align-items-center d-inline"
          mat-icon-button
          data-id="ade033da"
        >
          <!--          <img *ngIf='!this.loggedInUser?.avatar' alt='Profile'-->
          <!--               class='profileImage' src='assets/images/avatars/profile2.png' />-->
          <mat-icon *ngIf="!this.loggedInUser?.avatar" alt="Profile" data-id="b21c290b">
            account_circle
          </mat-icon>
          <img
            *ngIf="this.loggedInUser?.avatar"
            [src]="urlImage + loggedInUser?.avatar"
            alt="Profile"
            class="profileImage"
            data-id="8b908fc8"
          />
        </a>

        <mat-menu
          #userMenu="matMenu"
          [overlapTrigger]="false"
          class="app-dropdown"
          xPosition="before"
          data-id="5a179bc1"
        >
          <button *ngIf="this.loggedInUser" mat-menu-item data-id="d4ece03b">
            <strong data-id="b846be5a"
              >{{ this.loggedInUser.name }} {{ this.loggedInUser.lastName || '' }}</strong
            >
          </button>

          <button [routerLink]="['/my-orders']" mat-menu-item data-id="4a19f4ce">
            <mat-icon data-id="5dff8a87">receipt</mat-icon>
            <span class="mat-body-2" data-id="f9d1d96a">{{ 'Mis órdenes' | translate }}</span>
          </button>

          <button
            [routerLink]="['/referred']"
            mat-menu-item
            *ngIf="appService.businessConfig?.giftRulesReferrer"
            data-id="8cf55ea8"
          >
            <mat-icon data-id="164905eb">person_add</mat-icon>
            <span class="mat-body-2" data-id="e63029fd">{{ 'Referidos' | translate }}</span>
          </button>

          <button (click)="onShowProfile()" mat-menu-item data-id="58b909c5">
            <mat-icon data-id="099e9591">build</mat-icon>
            <span class="mat-body-2" data-id="45027029">{{ 'Profile' | translate }}</span>
          </button>

          <button (click)="onShowMyContacts()" mat-menu-item data-id="12952e96">
            <mat-icon data-id="9bff6cd3">book</mat-icon>
            <span class="mat-body-2" data-id="1faace6b">{{ 'Mis contactos' | translate }}</span>
          </button>

          <button
            (click)="onGotoBackend()"
            *ngIf="
              loggedInUser &&
              (loggedInUserService.isAdminOrOwnerUser() || loggedInUserService.isMessengerUser())
            "
            mat-menu-item
            data-id="b20f885a"
          >
            <mat-icon data-id="46351e64">edit</mat-icon>
            <a id="linkNavBack" style="display: none" data-id="d0989a66"></a>
            <span class="mat-body-2" data-id="7b8cd475">{{ 'Administración' | translate }}</span>
          </button>

          <button (click)="onChangePass()" *ngIf="loggedInUser" mat-menu-item data-id="f7ae5e73">
            <mat-icon data-id="fe171c5f">settings</mat-icon>
            <span class="mat-body-2" data-id="694cb0b5">{{
              'Cambie la contraseña' | translate
            }}</span>
          </button>

          <!-- ------------------------- -->
          <!-- NOTIFICATIONS -->
          <div
            (click)="createYourBusiness()"
            *ngIf="
              loggedInUser &&
              appService.businessConfig?.showDigitalContract &&
              !this.loggedInUser?.Business
            "
            mat-menu-item
            data-id="f1c9ca46"
          >
            <mat-icon data-id="0b7a7be3">shopping_basket</mat-icon>
            <span class="mat-body-2" data-id="1abbd7e7">{{ 'Crea tu negocio' | translate }}</span>
          </div>
          <!--                    <a *ngIf="loggedInUser" mat-menu-item href="{{urlToCreateBusiness}}" target="_blank">-->
          <!--                      <mat-icon>shopping_basket</mat-icon>-->
          <!--                      <span class="mat-body-1">{{ 'Crea tu negocio' | translate }}</span>-->
          <!--                    </a>-->

          <button (click)="onLogout()" mat-menu-item data-id="8c4acafa">
            <mat-icon data-id="21ffc215">exit_to_app</mat-icon>
            <span class="mat-body-2" data-id="62ddad44">{{ 'Logout' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <!--Home Header En vista movil -->
  <div class="home-header-2 p-2 d-sm-block d-none" data-id="a7408fc2">
    <div class="d-flex flex-column justify-content-start align-items-stretch" data-id="87fe6c44">
      <div class="d-flex justify-content-between align-items-center" data-id="b6a60784">
        <div
          class="main-logo-container d-flex justify-content-start align-items-center"
          data-id="3ca7343b"
        >
          <button (click)="start.toggle()" class="mr-2" mat-icon-button data-id="30741d5d">
            <mat-icon data-id="8ac5346b">menu</mat-icon>
          </button>
          <img alt="logo" class="logo-img-main" routerLink="/" [src]="logo" data-id="831aaada" />
        </div>

        <div
          class="userWidgets m-0 p-0 d-flex justify-content-start align-items-center"
          data-id="6c318a4a"
        >
          <a
            class="button-currency ml-3 d-flex justify-content-center align-items-center"
            mat-button
            [matMenuTriggerFor]="currencyMenu"
            #currencyMenuTrigger="matMenuTrigger"
            data-id="d76b3f05"
          >
            <span class="flag-menu-title" data-id="81b37552">{{ currency?.name | translate }}</span>
            <mat-icon iconPositionEnd class="mat-icon-sm caret cur-icon" data-id="7d73f525"
              >arrow_drop_down</mat-icon
            >
          </a>
          <mat-menu
            #currencyMenu="matMenu"
            [overlapTrigger]="false"
            xPosition="before"
            class="app-dropdown"
            data-id="003e75d8"
          >
            <span data-id="e956441c">
              <button
                mat-menu-item
                *ngFor="let cur of currencies; let i = index"
                [disabled]="i === 0"
                (click)="changeCurrency(cur)"
                data-id="558fe59b"
              >
                <span data-id="1dbf01f7">{{ cur?.name | translate }} {{ i }}</span>
              </button>
            </span>
          </mat-menu>

          <a
            *ngIf="!loggedInUser"
            [routerLink]="['/my-account']"
            routerLinkActive="router-link-active"
            class="d-flex justify-content-start align-items-center d-inline"
            data-id="cd519686"
          >
            <mat-icon data-id="66550614">person</mat-icon>
            <span class="d-xs-none d-sm-none" data-id="68b30c9a">{{ 'Account' | translate }}</span>
          </a>

          <app-shopping-widgets data-id="4d9f6735"></app-shopping-widgets>

          <a
            *ngIf="loggedInUser"
            style="color: white"
            class="d-flex justify-content-start align-items-center"
            data-id="7be7417e"
          >
            <button (click)="notificationBar.toggle()" mat-icon-button data-id="ce4d5642">
              <mat-icon
                [matBadge]="notificationsService.getUnreadNotifications()"
                matBadgeColor="accent"
                data-id="d45bd066"
                >notifications
              </mat-icon>
            </button>
          </a>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-start" data-id="45929833">
        <div
          class="mobile-search d-flex justify-content-start align-items-center"
          data-id="a2e51e87"
        >
          <input
            (keyup.enter)="onSearch()"
            [formControl]="searchForm"
            placeholder="{{ 'Buscar...' | translate }}"
            type="search"
            [matAutocomplete]="auto"
            class="flex-sh-0"
            style="max-width: initial"
            data-id="cdd678e1"
          />
          <mat-spinner
            *ngIf="this.loadingProducts"
            color="primary"
            diameter="30"
            class="spinner-loading"
            data-id="b1a1b125"
          ></mat-spinner>
          <button (click)="onSearch()" data-id="f7c2d61f">
            <mat-icon data-id="d30258a2">search</mat-icon>
          </button>
        </div>
      </div>

      <div
        class="showCategories d-flex d-xs-flex d-sm-flex justify-content-xs-start justify-content-sm-start align-items-xs-center align-items-sm-center d-md-flex justify-content-sm-center justify-content-md-center align-items-md-center"
        data-id="50b4473f"
      >
        <!--        <a [routerLink]="['']"-->
        <!--           [routerLinkActiveOptions]="{ exact: true }"-->
        <!--           routerLinkActive="router-link-active"-->
        <!--           class="itemCategory"-->
        <!--           mat-button>{{ 'Inicio' | translate }}</a>-->

        <a
          [routerLink]="['/shops-list']"
          *ngIf="appService.businessConfig?.canShowOurBussiness"
          class="itemCategory"
          mat-button
          routerLinkActive="router-link-active"
          data-id="6ca7639b"
        >
          {{ 'Nuestras tiendas' | translate }}</a
        >
        <a
          [routerLink]="['/products/search']"
          class="itemCategory"
          mat-button
          routerLinkActive="router-link-active"
          *ngIf="appService.businessConfig?.showAllProducts"
          data-id="e0c83386"
        >
          {{ 'Todos los productos' | translate }}</a
        >

        <!--        routerLinkActive="router-link-active"-->
        <a
          *ngFor="let category of categories"
          [queryParams]="{ CategoryId: category.id }"
          [routerLink]="['/products/search']"
          class="itemCategory"
          mat-button
          data-id="ce2c3989"
          >{{ category.name | parseLang: utilsService.getLang() }}</a
        >
      </div>
    </div>
  </div>
  <div
    (click)="openSetLocation()"
    class="mobile-location justify-content-start align-items-center transpilerClass-fxLayoutGap-f9d6f6 d-md-flex d-none"
    data-id="de6264c0"
  >
    <div class="nl-logo d-flex justify-content-center align-items-center" data-id="2a386dec">
      <mat-icon data-id="488f237c">room</mat-icon>
    </div>
    <div *ngIf="!business && !province" data-id="716a822e">{{ 'Comprar en...' | translate }}</div>
    <div *ngIf="province && !business" data-id="325a165a">
      {{ province?.name }}, {{ municipality?.name }}
    </div>
    <div *ngIf="business" data-id="499b8221">{{ business?.name }}, {{ province?.name }}</div>
  </div>

  <div class="menu-container1" data-id="d72d124f">
    <!--    <app-menu [_categories]="categories"></app-menu>-->
    <app-menu data-id="2f9bca44"></app-menu>
  </div>

  <router-outlet data-id="2625c877"></router-outlet>

  <!--  <app-footer-two *ngIf="!url.includes('my-account')"></app-footer-two>-->
  <app-footer *ngIf="!url?.includes('my-account')" data-id="d9edd3a0"></app-footer>
</mat-sidenav-container>

<mat-sidenav-container
  fullscreen
  *ngIf="appService.businessConfig?.Business?.status === 'blockPayment'"
  data-id="bd3b35ac"
>
  <div [class.py-2]="!loggedInUser" class="home-header d-sm-none" data-id="28bb358a">
    <div
      class="container-header d-flex justify-content-between align-items-center"
      data-id="2cc0eb79"
    >
      <img
        alt="logo"
        class="Logo-img d-inline d-sm-none"
        (click)="metaAdd()"
        routerLink="/"
        [src]="logo"
        data-id="f74d69ad"
      />
    </div>
  </div>
  <!-- BANNER TEMPORAL -->
  <div
    style="
      padding: 16px;
      background-color: darkred;
      color: white !important;
      font-weight: bold;
      width: 91%;
      white-space: normal;
      max-width: 91% !important;
      margin: 0 auto;
    "
    class="mt-3"
    data-id="ee39defa"
  >
    <h1 style="color: white !important" data-id="c22b32f0">
      Esta tienda online se encuentra mantenimiento, disculpe por las molestias ocasionadas
    </h1>
  </div>
  <!-- BANNER TEMPORAL -->
</mat-sidenav-container>
