<!--=== Image Block ===-->

<section class="p-3" style="border-bottom: 1px solid #eee" data-id="6842198c">
  <div class="container-Term" data-id="1c51c6c0">
    <div class="d-flex justify-content-start align-items-center" data-id="a97014cd">
      <a [routerLink]="['']" class="color-grey-800" data-id="955c0c8f">
        <mat-icon data-id="f4504c3a"> arrow_back </mat-icon>
      </a>

      <h1 class="mat-title mb-0 color-grey-800 uppercase ml-2" data-id="74e34263">
        {{ 'TERMINOS Y CONDICIONES' | translate }}
      </h1>
    </div>
  </div>
</section>
<div
  [innerHTML]="text | parseLang: language | safeHtml"
  class="ck-content container-Term py-4"
  data-id="ae616128"
></div>
