<div class="m-3 d-flex flex-column justify-content-start align-items-stretch" data-id="0421d38f">
  <ng-container *ngIf="showFileLoaded" data-id="7b463b9c">
    <img
      *ngIf="fileLoaded.type == 'image'"
      [src]="imageUrl + fileLoaded.file"
      alt="image"
      class="imageContainer"
      data-id="d4f3924f"
    />
    <video *ngIf="fileLoaded.type == 'video'" class="videoContainer" controls data-id="df7f620a">
      <source [src]="imageUrl + fileLoaded.file" type="video/mp4" data-id="7872dd13" />
    </video>
  </ng-container>
  <div
    class="width-stepper mt-2 d-flex flex-column justify-content-start align-items-start"
    style="position: relative"
    data-id="b3aef462"
  >
    <!-- ============================================== -->
    <!-- ORIGEN DEL ARCHIVO -->
    <!--    <mat-form-field appearance="outline" class="width-stepper" matTooltip="{{ 'Seleccione el origen del archivo a subir' | translate }}">-->
    <!--      <mat-label>-->
    <!--        <span>{{ 'Selecciones Origen del archivo' }}</span>-->
    <!--      </mat-label>-->
    <!--      <mat-select [formControl]="form.get('type')" placeholder="{{ 'Tipo' }}">-->
    <!--        <mat-option *ngFor="let type of allType; let i = index" [value]="type.id">-->
    <!--          <div fxLayout="row" fxLayoutAlign="start center">-->
    <!--            <span class="mat-body-2">-->
    <!--              {{ type.type }}-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </mat-option>-->
    <!--      </mat-select>-->
    <!--    </mat-form-field>-->

    <!-- ============================================== -->
    <!-- TIPO DE ARCHIVO -->
    <!--    <mat-form-field appearance="outline" class="width-stepper"-->
    <!--      matTooltip="{{ 'Seleccione el tipo de archivo a subir. Ej: audio, video, imagen, ebook, PDF u otro archivo' | translate }}">-->
    <!--      <mat-label>-->
    <!--        <span>{{ 'Selecciones el Tipo de archivo' }}</span>-->
    <!--      </mat-label>-->
    <!--      <mat-select [formControl]="form.get('formatType')" placeholder="{{ 'Tipo' }}">-->
    <!--        <mat-select-trigger>{{ formatTypeName?.name || null }}</mat-select-trigger>-->
    <!--        <mat-option *ngFor="let type of formatTypes; let i = index" [value]="type.id">-->
    <!--          <div fxLayout="row" fxLayoutAlign="start center">-->
    <!--            <mat-icon *ngIf="type.icon">{{type.icon}}</mat-icon>-->
    <!--            <span class="mat-body-2">-->
    <!--              {{ type.name }}-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </mat-option>-->
    <!--      </mat-select>-->
    <!--    </mat-form-field>-->

    <ng-container *ngIf="this.form.get('type').valid" data-id="345ea9da">
      <!-- Inputs File -->
      <input
        #fileInput
        (change)="handleFileSelect($event)"
        *ngIf="this.form.get('type')?.value?.includes('local')"
        accept="{{ formatAccepted[form.get('formatType').value] || '*/*' }}"
        class="width-stepper customInputFile"
        id="file-uploader-input"
        placeholder="{{ 'Subir Archivo' }}"
        type="file"
        data-id="470a2a8d"
      />

      <input
        #fileInput1
        *ngIf="this.form.get('type').value == 'externalMedia'"
        [formControl]="this.form.get('link')"
        [ngClass]="{ invalid: this.form.get('link').invalid }"
        class="width-stepper customInputFile ng-hide"
        id="file-uploader-input"
        placeholder="{{ 'https://examplevideo.someserver.io' }}"
        type="text"
        data-id="fe6b61b1"
      />

      <!-- Label -->
      <label class="mt-1" for="file-uploader-input" data-id="14d73fc8">{{
        'Seleccione archivo a subir' | translate
      }}</label>

      <!-- Hint -->
      <p
        *ngIf="this.form.get('type').value == 'externalMedia'"
        class="mat-caption"
        data-id="ec7db19e"
      >
        *Nota no copie el link, copie el código fuente del embebido del video, por ejemplo en el
        caso de youtube seleccione la opcion "Copy embed link"
      </p>

      <!-- Subir ficheros -->
      <button
        (click)="onUploadFile()"
        *ngIf="form.get('file').valid && this.fileUploadedChange"
        color="primary"
        mat-mini-fab
        matTooltip="Subir el archivo"
        style="position: absolute; bottom: 8px; right: 16px"
        data-id="c8080706"
      >
        <mat-icon data-id="a3f3d075">backup</mat-icon>
      </button>

      <button
        (click)="onUploadLink()"
        *ngIf="form.get('link').valid && form.get('type').value == 'externalMedia'"
        color="primary"
        mat-mini-fab
        matTooltip="Subir el link"
        style="position: absolute; bottom: 8px; right: 16px"
        data-id="b769b250"
      >
        <mat-icon data-id="d4afd9c2">backup</mat-icon>
      </button>
    </ng-container>
  </div>

  <!-- Formato incorrecto -->
  <div
    *ngIf="form.get('file').value != undefined"
    class="my-3 width-stepper d-flex justify-content-between align-items-start"
    data-id="35d1213b"
  >
    <p style="font-size: 12px" data-id="6b585c54">
      <strong data-id="169e2ea4">formato:</strong> &nbsp;
      <span data-id="c06f7620">{{ form.get('file').value.type }}</span>
      &nbsp; &nbsp; &nbsp;
      <strong data-id="beac92c0">tamaño:</strong> &nbsp;
      <span data-id="552131fe">{{ this.computedSize() }}</span>
    </p>
  </div>

  <!-- Progress BAR -->
  <div
    *ngIf="this.showUploadingProgress"
    class="px-2 width-stepper d-flex justify-content-between align-items-center"
    data-id="ab3a3b07"
  >
    <span
      class="mat-caption cut-text"
      matTooltip="{{ this.metaDataUploading.fileName }}"
      data-id="59a28b91"
      >{{ this.metaDataUploading.fileName }}</span
    >
    <mat-progress-bar
      *ngIf="this.metaDataUploading.status == 'uploading'"
      [value]="this.metaDataUploading.progress"
      class="mx-2 flex-sh-0"
      mode="determinate"
      data-id="78990660"
    ></mat-progress-bar>
    <span
      *ngIf="this.metaDataUploading.status == 'completed'"
      class="mx-2 mat-caption successMsg flex-sh-0"
      data-id="b1550b1a"
    >
      Completado Exitósamente
    </span>
    <span
      *ngIf="this.metaDataUploading.status == 'error'"
      class="mx-2 mat-caption errorMsg flex-sh-0"
      data-id="88dc5c05"
    >
      Error
    </span>
    <span
      *ngIf="this.metaDataUploading.status == 'uploading'"
      class="mat-caption"
      style="width: 40px"
      data-id="9816d141"
      >{{ this.metaDataUploading.progress }}%</span
    >
    <!-- <span *ngIf="item.status != 'uploading'" class="mat-caption" style="width:40px;">
      <button mat-icon-button (click)="onRemoveRecords(item)">
        <mat-icon>clear</mat-icon>
      </button> </span> -->
  </div>
</div>
