@use 'sass:map';
@use 'breakpoints';
@use 'intervals';
@use 'units';

.d-none-i {
  display: none !important;
}

.d-block-i {
  display: block !important;
}

.d-flex-i {
  display: flex !important;
}

.d-grid-i {
  display: grid !important;
}

.flex-row-i {
  flex-direction: row !important;
}

.flex-row-reverse-i {
  flex-direction: row-reverse !important;
}

.flex-column-i {
  flex-direction: column !important;
}

.flex-column-reverse-i {
  flex-direction: column-reverse !important;
}

.flex-grow-0-i {
  flex-grow: 0 !important;
}

.flex-shrink-0-i {
  flex-shrink: 0 !important;
}

.flex-grow-1-i {
  flex-grow: 1 !important;
}

.flex-shrink-1-i {
  flex-shrink: 1 !important;
}

.justify-content-start-i,
.justify-content-flex-start-i {
  justify-content: flex-start !important;
}

.justify-content-end-i,
.justify-content-flex-end-i {
  justify-content: flex-end !important;
}

.justify-content-center-i {
  justify-content: center !important;
}

.justify-content-between-i {
  justify-content: space-between !important;
}

.justify-content-around-i {
  justify-content: space-around !important;
}

.justify-content-evenly-i {
  justify-content: space-evenly !important;
}

.align-items-start-i,
.align-items-flex-start-i {
  align-items: flex-start !important;
}

.align-items-end-i,
.align-items-flex-end-i {
  align-items: flex-end !important;
}

.align-items-center-i {
  align-items: center !important;
}

.align-items-baseline-i {
  align-items: baseline !important;
}

.align-items-stretch-i {
  align-items: stretch !important;
}

.align-self-start-i {
  align-self: flex-start !important;
}

.align-self-end-i {
  align-self: flex-end !important;
}

.align-self-center-i {
  align-self: center !important;
}

.align-self-baseline-i {
  align-self: baseline !important;
}

.align-self-stretch-i {
  align-self: stretch !important;
}

.flex-fill-i {
  flex: 1 1 auto !important;
}

.flex-wrap-i {
  flex-wrap: wrap !important;
}

.flex-wrap-reverse-i {
  flex-wrap: wrap-reverse !important;
}

.flex-nowrap-i {
  flex-wrap: nowrap !important;
}

.align-content-start-i,
.align-content-flex-start-i {
  align-content: flex-start !important;
}

.align-content-end-i,
.align-content-flex-end-i {
  align-content: flex-end !important;
}

.align-content-center-i {
  align-content: center !important;
}

.align-content-around-i {
  align-content: space-around !important;
}

.align-content-stretch-i {
  align-content: stretch !important;
}

.order-first-i {
  order: -1 !important;
}

.order-last-i {
  order: 6 !important;
}

@for $i from 1 through 3 {
  .gap-#{$i}#{units.$rem}-i {
    gap: #{$i}#{units.$rem} !important;
  }

  @each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @media (max-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
      .gap-#{$breakpoint}-#{$i}#{units.$rem}-i {
        gap: #{$i}#{units.$rem} !important;
      }
    }
  }
}

@each $i in intervals.$intervals {
  @if ($i > 0 and $i < 6) {
    .order-#{$i}-i {
      order: #{$i} !important;
    }

    @each $breakpoint in map.keys(breakpoints.$breakpoints) {
      @media (max-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
        .order-#{$breakpoint}-#{$i}-i {
          order: #{$i} !important;
        }
      }
    }
  }

  .gap-#{$i}-i {
    gap: #{$i}#{units.$per} !important;
  }

  .gap-#{$i}#{units.$px}-i {
    gap: #{$i}#{units.$px} !important;
  }

  @each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @media (max-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
      .gap-#{$breakpoint}-#{$i}-i {
        gap: #{$i}#{units.$per} !important;
      }

      .gap-#{$breakpoint}-#{$i}#{units.$px}-i {
        gap: #{$i}#{units.$px} !important;
      }
    }
  }
}

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
  @media (max-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
    .d-#{$breakpoint}-none-i {
      display: none !important;
    }

    .d-#{$breakpoint}-flex-i {
      display: flex !important;
    }

    .d-#{$breakpoint}-block-i {
      display: block !important;
    }

    .d-#{$breakpoint}-grid-i {
      display: grid !important;
    }

    .flex-#{$breakpoint}-row-i {
      flex-direction: row !important;
    }

    .flex-#{$breakpoint}-row-reverse-i {
      flex-direction: row-reverse !important;
    }

    .flex-#{$breakpoint}-column-i {
      flex-direction: column !important;
    }

    .flex-#{$breakpoint}-column-reverse-i {
      flex-direction: column-reverse !important;
    }

    .flex-#{$breakpoint}-grow-0-i {
      flex-grow: 0 !important;
    }

    .flex-#{$breakpoint}-shrink-0-i {
      flex-shrink: 0 !important;
    }

    .flex-#{$breakpoint}-grow-1-i {
      flex-grow: 1 !important;
    }

    .flex-#{$breakpoint}-shrink-1-i {
      flex-shrink: 1 !important;
    }

    .justify-content-#{$breakpoint}-start-i,
    .justify-content-#{$breakpoint}-flex-start-i {
      justify-content: flex-start !important;
    }

    .justify-content-#{$breakpoint}-end-i,
    .justify-content-#{$breakpoint}-flex-end-i {
      justify-content: flex-end !important;
    }

    .justify-content-#{$breakpoint}-center-i {
      justify-content: center !important;
    }

    .justify-content-#{$breakpoint}-between-i {
      justify-content: space-between !important;
    }

    .justify-content-#{$breakpoint}-around-i {
      justify-content: space-around !important;
    }

    .justify-content-#{$breakpoint}-evenly-i {
      justify-content: space-evenly !important;
    }

    .align-items-#{$breakpoint}-start-i,
    .align-items-#{$breakpoint}-flex-start-i {
      align-items: flex-start !important;
    }

    .align-items-#{$breakpoint}-end-i,
    .align-items-#{$breakpoint}-flex-end-i {
      align-items: flex-end !important;
    }

    .align-items-#{$breakpoint}-center-i {
      align-items: center !important;
    }

    .align-items-#{$breakpoint}-baseline-i {
      align-items: baseline !important;
    }

    .align-items-#{$breakpoint}-stretch-i {
      align-items: stretch !important;
    }

    .align-self-#{$breakpoint}-start-i {
      align-self: flex-start !important;
    }

    .align-self-#{$breakpoint}-end-i {
      align-self: flex-end !important;
    }

    .align-self-#{$breakpoint}-center-i {
      align-self: center !important;
    }

    .align-self-#{$breakpoint}-baseline-i {
      align-self: baseline !important;
    }

    .align-self-#{$breakpoint}-stretch-i {
      align-self: stretch !important;
    }

    .flex-#{$breakpoint}-fill-i {
      flex: 1 1 auto !important;
    }

    .flex-#{$breakpoint}-wrap-i {
      flex-wrap: wrap !important;
    }

    .flex-#{$breakpoint}-wrap-reverse-i {
      flex-wrap: wrap-reverse !important;
    }

    .flex-#{$breakpoint}-nowrap-i {
      flex-wrap: nowrap !important;
    }

    .align-content-#{$breakpoint}-start-i,
    .align-content-#{$breakpoint}-flex-start-i {
      align-content: flex-start !important;
    }

    .align-content-#{$breakpoint}-end-i,
    .align-content-#{$breakpoint}-flex-end-i {
      align-content: flex-end !important;
    }

    .align-content-#{$breakpoint}-center-i {
      align-content: center !important;
    }

    .align-content-#{$breakpoint}-around-i {
      align-content: space-around !important;
    }

    .align-content-#{$breakpoint}-stretch-i {
      align-content: stretch !important;
    }

    .order-#{$breakpoint}-first-i {
      order: -1 !important;
    }

    .order-#{$breakpoint}-last-i {
      order: 6 !important;
    }
  }
}
