<div class="main-slider">
  <swiper-container
    class="h-100"
    slides-per-view="1"
    speed="500"
    space-between="0"
    keyboard="true"
    navigation="true"
    effect="fade"
    grab-cursor="true"
    autoplay-delay="5000"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide *ngFor="let slide of _slides">
      <div
        [style.background]="'url(' + slide.image + ')'"
        class="slide-item swiper-lazy"
        fxHide.lt-md
      >
        <a [href]="slide.link" target="_blank">
          <div class="container-carrusel">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <!-- <div *ngIf="slide.title && slide?.title?.es" class="box">
                <p class="title">
                  {{ slide.title | parseLang: language }}
                </p>
                <p class="subtitle">
                  {{ slide.subTitle | parseLang: language }}
                </p>
                <a
                  *ngIf="slide.link"
                  [href]="slide.link"
                  class="myBtn"
                  mat-raised-button
                  ngClass.gt-sm="uppercase"
                  target="_blank"
                  >{{ 'See more' | translate }}
                </a>
              </div> -->
          </div>
        </a>
      </div>
      <div
        [style.background]="'url(' + slide.imageXs + ')'"
        class="slide-item swiper-lazy"
        fxHide
        fxShow.lt-md
      >
        <a [href]="slide.link" target="_blank">
          <div class="container-carrusel sl-wrap">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

            <!-- <div *ngIf="slide.title && slide?.title?.es" class="box">
              <p class="title">
                {{slide.title|parseLang:language}}
              </p>
              <p class="subtitle">
                {{slide.subTitle|parseLang:language}}
              </p>
              <a *ngIf="slide.link" [href]="slide.link" target="_blank" class="myBtn" ngClass.gt-sm="uppercase"
                mat-raised-button>{{"See more"|translate}}
              </a>
            </div> -->
          </div>
        </a>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
