@import 'scss/mixins/breakpoints';
@import 'app';

span {
  text-align: justify;
}

.alert {
  color: $theme-main-red;
}

.transpilerClass-fxFlex-899b14 {
  flex: 1 1 0%;
}

.transpilerClass-fxFlex-acc2a0 {
  flex: 1 1 0%;
}
