<h2 mat-dialog-title data-id="5237b8da">{{ data.title }}</h2>

<div mat-dialog-content data-id="06c913be">
  <span data-id="92735c97">{{ data.question }}</span>
  <div id="textHtml" data-id="157e6065"></div>
</div>

<div
  mat-dialog-actions
  class="d-flex justify-content-between align-items-center"
  data-id="ba1ee026"
>
  <button mat-button mat-dialog-close class="flex-sh-0" data-id="633a6ded">
    {{ 'CANCELAR' }}
  </button>

  <button (click)="onSave()" color="primary" mat-raised-button class="flex-sh-0" data-id="09b6f6ad">
    <span data-id="d32babc5">{{ 'ACEPTAR' }}</span>
  </button>
</div>
