<h2 mat-dialog-title>{{ data.title }}</h2>

<div mat-dialog-content>
  <span>{{ data.question }}</span>
  <div id="textHtml"></div>
</div>

<div mat-dialog-actions class="d-flex justify-content-between align-items-center">
  <button mat-button mat-dialog-close class="transpilerClass-fxFlex-899b14">
    {{ 'CANCELAR' }}
  </button>

  <button
    (click)="onSave()"
    color="primary"
    mat-raised-button
    class="transpilerClass-fxFlex-acc2a0"
  >
    <span>{{ 'ACEPTAR' }}</span>
  </button>
</div>
