<footer class="pt-3">
  <div
    class="d-flex flex-column justify-content-center align-items-center d-xs-flex d-sm-flex justify-content-xs-start justify-content-sm-start align-items-xs-center align-items-sm-center"
  >
    <!--<a
      class="item-selector mx-3 my-2"
      fxLayoutAlign="start center"
      mat-button
      [matMenuTriggerFor]="currencyMenu"
      #currencyMenuTrigger="matMenuTrigger"
    >
      <span>{{ currency.name }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
      <span>
        <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
          <span style="color: black">{{ cur.name }}</span>
        </button>
      </span>
    </mat-menu>-->
    <div class="col d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column">
      <div class="col-1 d-flex flex-column align-items-start">
        <a [routerLink]="['']" class="mat-button" mat-button>
          <span>{{ 'Inicio' | translate }}</span>
        </a>
        <a [routerLink]="['about']" class="mat-button" mat-button>
          <span>{{ 'Quiénes somos' | translate }}</span>
        </a>
        <a (click)="onShowProfile()" *ngIf="loggedInUser" class="mat-button" mat-button>
          <span>{{ 'Tu cuenta' | translate }}</span>
        </a>
        <a
          [routerLink]="['shops-list']"
          *ngIf="appService.businessConfig?.canShowOurBussiness"
          mat-button
          class="d-flex justify-content-start align-items-center"
        >
          <span>{{ 'Nuestras tiendas' | translate }}</span>
        </a>
      </div>
      <div class="col-2 d-flex flex-column align-items-start">
        <a [routerLink]="['/faq']" class="mat-button" mat-button>
          <span>{{ 'Ayuda' | translate }}</span>
        </a>
        <a *ngIf="loggedInUser" [routerLink]="['my-orders']" class="mat-button" mat-button>
          <span>{{ 'Tus pedidos' | translate }}</span>
        </a>
        <a
          [routerLink]="['privacy-policy']"
          mat-button
          class="d-flex justify-content-start align-items-center"
        >
          <span>{{ 'Políticas de privacidad' | translate }}</span>
        </a>
        <a
          [routerLink]="['term-conditions']"
          mat-button
          class="d-flex justify-content-start align-items-center"
        >
          <span>{{ 'Términos y condiciones' | translate }}</span>
        </a>
      </div>
    </div>

    <div class="d-flex">
      <!--      <a #langMenuTrigger="matMenuTrigger"-->
      <!--         [matMenuTriggerFor]="langMenu"-->
      <!--         class="item-selector mx-3 my-2"-->
      <!--         fxLayoutAlign="start center"-->
      <!--         mat-button>-->
      <!--        <img [src]="flag?.image" alt="flag image" width="18" />-->
      <!--        <mat-icon>arrow_drop_down</mat-icon>-->
      <!--        <span>{{ flag?.name }}</span>-->
      <!--      </a>-->
      <!--      <mat-menu #langMenu="matMenu" [overlapTrigger]="false" class="app-dropdown" xPosition="before">-->
      <!--      <span>-->
      <!--        <button (click)="changeLang(flag)" *ngFor="let flag of flags" mat-menu-item>-->
      <!--          <img [src]="flag.image" alt="flag image" width="18" /> {{ flag.name }}-->
      <!--        </button>-->
      <!--      </span>-->
      <!--      </mat-menu>-->

      <a [routerLink]="['/contact-us']" class="item-selector mx-3 my-2" mat-button>
        {{ 'Contact us' | translate }}
      </a>
    </div>

    <div style="padding-bottom: 16px"></div>
  </div>

  <div
    class="footer-bottom-color d-flex flex-column justify-content-center align-items-center transpilerClass-fxLayoutGap-80f22c"
  >
    <div
      class="d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-608e47"
    >
      <div class="image-footer" ngClass.lt-sm="img-footer">
        <img alt="footer logo" class="mt-4 footer-logo" [src]="logo" />
      </div>
      <!--      <div class='etecsa-footer' ngClass.lt-sm="etecsa-img-footer">-->
      <!--        <img alt='etecsa logo' class="mt-4"  src='assets/images/logo-etecsa.svg'>-->
      <!--      </div>-->
    </div>

    <div
      class="py-3 d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column justify-content-center align-items-center transpilerClass-fxLayoutGap-ea15c8 transpilerClass-fxLayoutGap-1a0327"
      id="footer-contacts"
    >
      <div
        *ngIf="appService.businessConfig?.contactsFooter.phone"
        class="d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-4cdb31"
      >
        <mat-icon>phone</mat-icon>
        <span>{{ appService.businessConfig?.contactsFooter?.phone }}</span>
      </div>

      <div
        *ngIf="appService.businessConfig?.contactsFooter.email"
        class="d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-946f46"
      >
        <mat-icon>email</mat-icon>
        <a class="email-text" href="mailto:{{ appService.businessConfig?.contactsFooter.email }}">{{
          appService.businessConfig?.contactsFooter?.email
        }}</a>
      </div>

      <div
        *ngIf="appService.businessConfig?.contactsFooter.address"
        class="d-flex justify-content-center align-items-center transpilerClass-fxLayoutGap-ff19b5"
      >
        <mat-icon>location_on</mat-icon>
        <span>{{ appService.businessConfig?.contactsFooter?.address }}</span>
      </div>
    </div>

    <div
      class="d-flex justify-content-end align-items-center transpilerClass-fxFlex-bcdcf5 d-sm-block d-none"
    >
      <div class="widget-text mx-2">
        <a
          #langMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="langMenu"
          mat-icon-button
          matTooltip="{{ 'Change language' | translate }}"
          style="display: inline"
        >
          <img [src]="flag?.image" height="24" width="24" />
          <span class="flag-menu-title d-none d-sm-inline"></span>
          <mat-icon iconPositionEnd class="mat-icon-sm caret cur-icon">arrow_drop_down</mat-icon>
        </a>
        <mat-menu
          #langMenu="matMenu"
          [overlapTrigger]="false"
          class="app-dropdown"
          xPosition="before"
        >
          <span>
            <button (click)="changeLang(flag)" *ngFor="let flag of flags" mat-menu-item>
              <img [src]="flag.image" width="18" /> {{ flag?.name }}
            </button>
          </span>
        </mat-menu>
      </div>
    </div>

    <ul
      class="network-icons d-flex"
      *ngIf="
        appService.businessConfig?.contactsFooter?.socialNetworks?.facebook ||
        appService.businessConfig?.contactsFooter?.socialNetworks?.twitter ||
        appService.businessConfig?.contactsFooter?.socialNetworks?.linkedin ||
        appService.businessConfig?.contactsFooter?.socialNetworks?.youtube ||
        appService.businessConfig?.contactsFooter?.socialNetworks?.instagram ||
        appService.businessConfig?.contactsFooter?.socialNetworks?.telegram
      "
    >
      <li
        *ngIf="appService.businessConfig?.contactsFooter?.socialNetworks?.facebook"
        class="d-flex justify-content-center align-items-center"
      >
        <a
          class="icon-redes d-flex justify-content-center align-items-center"
          [href]="appService.businessConfig?.contactsFooter?.socialNetworks?.facebook"
          target="_blank"
        >
          <!--          <i class="fab fa-facebook-f" style="font-size: 18px"></i>-->
          <img
            alt="Facebook logo"
            src="assets/images/social-media/outline/logo-facebook.svg"
            style="filter: invert(1); border-radius: 50%"
          />
        </a>
      </li>

      <li
        *ngIf="appService.businessConfig?.contactsFooter?.socialNetworks?.twitter"
        class="d-flex justify-content-center align-items-center"
      >
        <a
          class="icon-redes d-flex justify-content-center align-items-center"
          [href]="appService.businessConfig?.contactsFooter?.socialNetworks?.twitter"
          target="_blank"
        >
          <!--          <i class="fab fa-twitter" style="font-size: 18px"></i>-->
          <img
            alt="Facebook logo"
            src="assets/images/social-media/outline/logo-twitter.svg"
            style="filter: invert(1); border-radius: 50%"
          />
        </a>
      </li>

      <li
        *ngIf="appService.businessConfig?.contactsFooter?.socialNetworks?.linkedin"
        class="d-flex justify-content-center align-items-center"
      >
        <a
          class="icon-redes d-flex justify-content-center align-items-center"
          [href]="appService.businessConfig?.contactsFooter?.socialNetworks?.linkedin"
          target="_blank"
        >
          <!--          <i class="fab fa-linkedin-in" style="font-size: 18px"></i>-->
          <img
            alt="Facebook logo"
            src="assets/images/social-media/outline/logo-linkedin.svg"
            style="filter: invert(1); border-radius: 50%"
          />
        </a>
      </li>

      <li
        *ngIf="appService.businessConfig?.contactsFooter?.socialNetworks?.youtube"
        class="d-flex justify-content-center align-items-center"
      >
        <a
          class="icon-redes d-flex justify-content-center align-items-center"
          [href]="appService.businessConfig?.contactsFooter?.socialNetworks?.youtube"
          target="_blank"
        >
          <!--          <i class="fab fa-youtube" style="font-size: 18px"></i>-->
          <img
            alt="Facebook logo"
            src="assets/images/social-media/outline/logo-youtube.svg"
            style="filter: invert(1); border-radius: 50%"
          />
        </a>
      </li>

      <li
        *ngIf="appService.businessConfig?.contactsFooter?.socialNetworks?.instagram"
        class="d-flex justify-content-center align-items-center"
      >
        <a
          class="icon-redes d-flex justify-content-center align-items-center"
          [href]="appService.businessConfig?.contactsFooter?.socialNetworks?.instagram"
          target="_blank"
        >
          <!--          <i class="fab fa-instagram" style="font-size: 18px"></i>-->
          <img
            alt="Facebook logo"
            src="assets/images/social-media/outline/logo-instagram.svg"
            style="filter: invert(1); border-radius: 50%"
          />
        </a>
      </li>

      <li
        *ngIf="appService.businessConfig?.contactsFooter?.socialNetworks?.telegram"
        class="d-flex justify-content-center align-items-center"
      >
        <a
          class="icon-redes d-flex justify-content-center align-items-center"
          [href]="appService.businessConfig?.contactsFooter?.socialNetworks?.telegram"
          target="_blank"
        >
          <!--                              <i class="fab fa-facebook" style="font-size: 18px"></i>-->
          <img
            alt="Facebook logo"
            src="assets/images/social-media/outline/logo-telegram.svg"
            style="filter: invert(1); border-radius: 50%"
          />
        </a>
      </li>
    </ul>

    <div
      class="mb-3 d-flex d-xs-flex d-sm-flex flex-xs-column flex-sm-column justify-content-center transpilerClass-fxLayoutGap-1162c6 transpilerClass-fxLayoutGap-3da205"
    >
      <span>Copyright© {{ year }}.</span>

      <span>{{ 'Todos los derechos reservados' | translate }}.</span>

      <span>{{ 'v' | translate }}{{ version }}</span>
    </div>

    <!--      <div class="mb-3" *ngIf='showPoweredBy' fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="4px">-->
    <!--        <span>{{'Powered By: Guajiritos S.R.L.' | translate}}</span>-->
    <!--      </div>-->
  </div>
</footer>
