@import 'scss/mixins/breakpoints';
.transpilerClass-fxFlex-87c861 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-38e46e {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-0a64a3 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-51f5b2 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-db1786 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-84bd88 {
  flex: 1 1 48%;
}

.transpilerClass-fxFlex-967bbc {
  flex: 1 1 80%;
}

.transpilerClass-fxFlex-4291da {
  flex: 1 1 20%;
}

.transpilerClass-fxFlex-41b0b0 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-057917 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-6dbbfa {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-2be6e9 {
  flex: 1 1 100%;
}

.transpilerClass-fxFlex-7db576 {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-e286b3 {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-5d3aae {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-5d8c1a {
  @include media-breakpoint('md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-cb658b {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-5d2f94 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-2d5d07 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-c236b0 {
  @include media-breakpoint('lt-md') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-3b9d2d {
  @include media-breakpoint('gt-sm') {
    flex: 1 1 100%;
  }
}

.transpilerClass-fxFlex-52d767 {
  @include media-breakpoint('gt-md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-e66284 {
  @include media-breakpoint('gt-md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-8b1df8 {
  @include media-breakpoint('gt-md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxFlex-f52b3b {
  @include media-breakpoint('gt-md') {
    flex: 1 1 48%;
  }
}

.transpilerClass-fxLayoutGap-7b46e9 {
  gap: 10px;
}
